.static
	%h1
		= @object.h1
	.attraction
		.right
			%h2 
				About #{@object.name}
			%p
				= @object.description.html_safe
			%br/
			%h2	Places To Visit
			%p
				= @object.places.html_safe
		.left
			#Gmap.map
			%br/
			%h2 Best Time To Visit
			%p
				= @object.best_time.html_safe
		.fc
:javascript
	function initializeMap() {
		var myLatlng = new google.maps.LatLng(#{@object.lat}, #{@object.lng});
		var mapOptions = {
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		bounds = new google.maps.LatLngBounds ();
		bounds.extend (myLatlng);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			animation: google.maps.Animation.DROP,
			title:"#{@object.name}"
		});
		var myLatlng = new google.maps.LatLng(#{@object.city.lat}, #{@object.city.lng});
		bounds.extend (myLatlng);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			animation: google.maps.Animation.DROP,
			title:"#{@object.city.name}"
		});
		google.maps.event.addListenerOnce(map, 'idle', function() {
			google.maps.event.trigger(map, 'resize');
			map.fitBounds(bounds);
		});
	}
	function checkJquery() {
		if (window.jQuery) {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyBSmgKl7zFKESa4cNYeQUXUAkwGOqaXK9k&sensor=true&callback=initializeMap";
			document.body.appendChild(script);
		} else {
			window.setTimeout(checkJquery, 1000);
		}
	}
	checkJquery();
