.landing
	:ruby
		if @object.name.downcase.include?('airport')
			style = "background:url(#{asset_path 'locations/airport.jpg'}) no-repeat center top;"
		else
			style = "background:url(#{asset_path 'locations/highway.jpg'}) no-repeat center top;"
		end
	.atf{:style => style}
		.wrapper
			%h1
				%span.size-26
					= @object.h1
			%h2
				%span.size-14
					= @object.h2.html_safe
			%br/
			.p-10
				.widget-hor
					.search-form.r-5.p-10
						#SearchFormDiv.form
							= render :partial => '/bookings/widget_homepage'
		#myTabs.tabs
			%ul.nav.nav-tabs
				%li.active
					%a{href:"#How", 'data-toggle' => "tab"}
						- if @object.name.downcase.include?('airport')
							How?
						- else
							Where?
				%li
					%a{href:"#AvailCars", 'data-toggle' => "tab"} Cars Available	
				%li
					%a#LocTab{href:"#OtherLocations", 'data-toggle' => "tab"} Other Locations
.tab-content
	#How.tab-pane.fade.in.active
		.wrapper
			%br/
			- if @object.name.downcase.include?('airport')
				.attraction.grey
					.left
						.p-5.t-c.size-20.black
							%b For Pickup
						.p-5
							.f-b.dgrey
								%u Book a car
							Book your car in advance of your journey.
						.p-5
							.f-b.dgrey
								%u Save a contact
							Zoomcar will email you our helpful fleet executive's number.
						.p-5
							.f-b.dgrey
								%u Make a call
							Call when your plane lands and your Zoomcar ride will be brought to you! It takes about 10 minutes for the executive to reach the Airport.
						.p-5
							.f-b.dgrey
								%u Meet a beauty
							Your glistening car will meet you outside the Arrival entrance next to the only Subway outlet; it will be in the outer lane. Look out for the giant “Zoomcar” on the side of the car!
						.p-5
							.f-b.dgrey
								%u Start a journey
							Get driven to our location, exchange smiles, grab keys, zoom off.
					.right
						.p-5.t-c.size-20.black
							%b For Dropoff
						.p-5
							.f-b.dgrey
								%u Drop the car
							When ready simply return the car to our location adjacent to the McDonald's 
							%i (next to Sadahalli Gate).
						.p-5
							.f-b.dgrey
								%u Get a ride
							A helpful executive will drive you to the Departure terminal.
						.p-5
							.f-b.dgrey
								%u That's it
							You are all set! See you again soon in Bangalore.
					.fc
			- else
				.attraction
					.left
						.p-l10
							%h2.size-20 Zoomcar Site
							%p
								= @object.address
								%br/
								- if !@object.disclaimer.blank?
									%b.red
										= @object.disclaimer
							- if !@object.description.blank?
								%i
									= @object.description.html_safe
					.right
						%br/
						#Gmap.map{style: 'height: 400px;'}
					.fc
		%br/
		%br/
	#AvailCars.tab-pane.fade
		%br/
		.wrapper
			= render :partial => "/main/pricing/#{@city.pricing_mode}/car_grid"
		.wrapper
			%br/
			.bg-e.r-5.p-5
				.f-b.zoom-b.t-c.f-i.size-16.p-5
					our tariff includes
				%br/
				.landing.tariff-includes.size-12.droid
					.includes
						%table.t-c.m-auto
							%tr
								%td{width: '140'}
									#BubbleAllIn.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>No Hidden Costs</b><br/>Here at Zoomcar, you will get what you pay for. Following items are standard in all our cars."}
										.p-10
											.all-in
									.p-5
										No Hidden Costs
								%td{width: '140'}
									#BubbleFuel.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>Fuel is Ours</b><br/>All Zoomcar reservations come with unlimited fuel as part of the tariff. If you need more fuel, just fill up the tank, keep the receipt and <b><u><i>we will refund the amount!</i></u></b>."}
										.p-10
											.fuel
									.p-5
										Fuel
								%td{width: '140'}
									#BubbleInsurance.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>No Worries, You're All Covered</b><br/>All Zoomcar reservations are covered with full comprehensive insurance, as long as a Zoomcar member is driving the car. <b><u><i>Maximum liability</i></u> for any damage for a Zoomcar member <u><i>is Rs.5000</i></u></b>."}
										.p-10
											.insurance
									.p-5
										Insurance
								%td{width: '140'}
									#BubbleTaxes.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>We Get Govt. Off Your Back</b><br/>Tariff includes all taxes, except the relevant tolls/taxes one has to pay while visiting another state."}
										.p-10
											.taxes
									.p-5
										Taxes
								%td{width: '140'}
									#BubbleNav.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>Zip Zap Zoom</b><br/>All Zoomcar vehicles are fitted with a 3G enabled tablet to guide you on your journey."}
										.p-10
											.navigation
									.p-5
										Navigation
								%td{width: '140'}
									#BubbleDeposit.item.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "<b class='zoom p-5'>Refundable Security Deposit</b><br/>We take a small, fully refundable security deposit of ₹ #{@city.mode::SECURITY}. It will take 5-15 days before the refund reflects in your account."}
										.p-10
											.deposit
									.p-5
										Security Deposit
			%br/
			%br/
	#OtherLocations.tab-pane.fade
		%br/
		#GmapLocationsWait
			%br/
			%br/
			.wait
		#GmapLocations.m-auto{style: 'width: 960px; height: 600px;'}
		%br/
- if @object.name.downcase.include?('airport')
	:javascript
		function checkJquery() {
			if (window.jQuery) {
				$('#myTabs a[href="#Locations"]').on('shown.bs.tab', function(e) {
					populateLocations('#{@city.id}', 11, 'GmapLocations');
				});
			} else {
				window.setTimeout(checkJquery, 1000);
			}
		}
		checkJquery();
- else
	:javascript
		function initializeMap() {
			var myLatlng = new google.maps.LatLng(#{@object.lat}, #{@object.lng});
			var mapOptions = {
				zoom: 12,
				center: myLatlng,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
			var infowindow#{@object.id} = new google.maps.InfoWindow({
				content: "#{@object.mapcontent}"
			});
			var myLatlng#{@object.id} = new google.maps.LatLng(#{@object.lat}, #{@object.lng});
			var marker#{@object.id} = new google.maps.Marker({
				position: myLatlng#{@object.id},
				map: map,
				animation: google.maps.Animation.DROP,
				title:"#{@object.shortname}",
				icon:"#{asset_path 'map/zoom.png'}"
			});
			google.maps.event.addListener(marker#{@object.id}, 'click', function() {
				infowindow#{@object.id}.open(map,marker#{@object.id});
			});
		}
		function checkJquery() {
			if (window.jQuery) {
				var script = document.createElement("script");
				script.type = "text/javascript";
				script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
				document.body.appendChild(script);
				$('#myTabs a[href="#Locations"]').on('shown.bs.tab', function(e) {
					populateLocations('#{@city.id}', 11, 'GmapLocations');
				});
			} else {
				window.setTimeout(checkJquery, 1000);
			}
		}
		checkJquery();
