.panel.panel-default
	.panel-heading
		.panel-title
			%a{'data-toggle' => "collapse", 'data-parent' => "#CarsPanel", href: "#CarsPanel#{tmp.id}"}
				= tmp.shortname
	%div{class: cls, id: "CarsPanel#{tmp.id}"}
		.panel-body
			%h4
				= link_to tmp.shortname, tmp.link(@city)
			%br/
			%table.table.table-bordered
				%tr.active
					%th Hourly
					%th Daily
					%th Weekly
					%th Monthly
				%tr
					%td Rs.#{tmp.hourly_fare}
					%td Rs.#{tmp.daily_fare}
					%td Rs.#{tmp.weekly_fare}
					%td Rs.#{tmp.monthly_fare}
			%b Available At
			%br/
			- locs.uniq.each do |l|
				.small
					= link_to l[0], @locations[l[1].to_s].link
					%span.size-10 (#{l[2]})
			.fc
