- if false
	%div{:class => "homepage-map-bg-#{@city.id}"}
		%div.homepage-map{:class => "homepage-map-#{@city.id}"}
			- if header
				.p-5
					%h2 Find Us In Your Neighbourhood!
			- Location.live(@city).each do |l|
				- tmp = l.mapcontent.gsub("<div style='width:240px;'", "<div")
				.help.pins{class: "locs#{l.id}", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{tmp}"}
					.dot
					.pulse
- else
	#Gmap.map
	= javascript_tag do
		:plain
			function initializeMap() {
				var myLatlng = new google.maps.LatLng(#{@city.lat}, #{@city.lng});
				var mapOptions = {
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP, 
					scrollwheel: true, 
					streetViewControl: false,
					mapTypeControl: false,
					zoomControl: true,
					panControl: true,
					panControlOptions: {
						position: google.maps.ControlPosition.TOP_RIGHT
					},
					zoomControlOptions: {
						style: google.maps.ZoomControlStyle.LARGE,
						position: google.maps.ControlPosition.TOP_RIGHT
					},
					styles: [{"featureType":"all","stylers":[{"saturation":-100},{"gamma":0.9}]}]
				}
				var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
				map.set('zoomControl', false);
				map.set('scrollwheel', false);
				map.set('panControl', false);
				var bounds = new google.maps.LatLngBounds ();
				bounds.extend (myLatlng);
		- Location.live(@city).each do |l|
			- if !l.lat.blank? && !l.lng.blank?
				:plain
					var infowindow#{l.id} = new google.maps.InfoWindow({
						content: "#{l.mapcontent}",
						maxWidth: 400
					});
					var myLatlng#{l.id} = new google.maps.LatLng(#{l.lat}, #{l.lng});
					bounds.extend (myLatlng#{l.id});
					var marker#{l.id} = new google.maps.Marker({
						flat: true,
						icon: "#{asset_path 'map/zoom.png'}",
						position: myLatlng#{l.id},
						map: map,
						optimized: false,
						animation: google.maps.Animation.DROP,
						title: "#{l.shortname}"
					});
					google.maps.event.addListener(marker#{l.id}, 'click', function() {
						infowindow#{l.id}.open(map,marker#{l.id});
					});
		:plain
				map.fitBounds (bounds);
				google.maps.event.addListener(map, 'click', function() {
					$("#HomapageMapHelp").slideUp();
					map.set('zoomControl', true);
					map.set('scrollwheel', true);
					map.set('panControl', true);
					map.set('styles', '');
				});
				$("#HomapageMap").slideDown();
			}
			function checkJquery() {
				if (window.jQuery) {
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
					document.body.appendChild(script);
				} else {
					window.setTimeout(checkJquery, 1000);
				}
			}
			checkJquery();
