#HomepageMap.homepage-map{style: "display: none;"}
	.bg
		%h2.text.droid.size-20
			Find Us In Your Neighbourhood!
	#Gmap.map
	#HomepageMapHelp.help.ts-0
		.text.r-5 Please click anywhere on the map to activate it
	#HomepageMapZoom.ts-0{style: 'display:none;'}
		.zoom-box
			#ZoomPlus.box-active.r-2 +
			#ZoomMinus.box-active.r-2 -
	%br/
	= javascript_tag do
		:plain
			function initializeMap() {
				mapOptions = {
					mapTypeId: google.maps.MapTypeId.ROADMAP, 
					scrollwheel: true, 
					streetViewControl: false,
					mapTypeControl: false,
					zoomControl: true,
					panControl: true,
					panControlOptions: {
						position: google.maps.ControlPosition.TOP_RIGHT
					},
					zoomControlOptions: {
						style: google.maps.ZoomControlStyle.LARGE,
						position: google.maps.ControlPosition.TOP_RIGHT
					},
					styles: [{"featureType":"all","stylers":[{"saturation":-100},{"gamma":0.9}]}]
				}
				map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
				map.set('zoomControl', false);
				map.set('scrollwheel', false);
				map.set('panControl', false);
				bounds = new google.maps.LatLngBounds ();
		- Location.live(@city).each do |l|
			- if !l.lat.blank? && !l.lng.blank?
				:plain
					var infowindow#{l.id} = new google.maps.InfoWindow({
						content: "#{l.mapcontent}",
						maxWidth: 400
					});
					var myLatlng#{l.id} = new google.maps.LatLng(#{l.lat}, #{l.lng});
					bounds.extend (myLatlng#{l.id});
					var marker#{l.id} = new google.maps.Marker({
						flat: true,
						icon: "#{asset_path 'map/zoom.png'}",
						position: myLatlng#{l.id},
						map: map,
						optimized: false,
						animation: google.maps.Animation.DROP,
						title: "#{l.shortname}"
					});
					google.maps.event.addListener(marker#{l.id}, 'click', function() {
						infowindow#{l.id}.open(map,marker#{l.id});
						pushEvent('Locations Selected', '#{l.shortname}', 'Home Page Map');
					});
		:plain
				google.maps.event.addListenerOnce(map, 'idle', function() {
					google.maps.event.addListener(map, 'click', function() {
						$("#HomepageMapHelp").slideUp();
						$("#HomepageMapZoom").slideDown();
						map.set('styles', '');
					});
					google.maps.event.addListenerOnce(map, 'click', function() {
						pushEvent('Maps','' , 'Home Page');
					});
					google.maps.event.addListener(map, 'dragend', function() {
						$("#HomepageMapHelp").slideUp();
						$("#HomepageMapZoom").slideDown();
						map.set('styles', '');
					});
					google.maps.event.addListener(map, 'dblclick', function() {
						$("#HomepageMapHelp").slideUp();
						$("#HomepageMapZoom").slideDown();
						map.set('styles', '');
						curVal = parseInt(map.getZoom());
						var newVal = curVal+1;
						mapZoom(map,newVal);
					});
					$("#HomepageMap").show();
					google.maps.event.trigger(map, 'resize');
					map.fitBounds(bounds);
					curVal = parseInt(map.getZoom());
					$("#ZoomPlus").click(function() {
						curVal = parseInt(map.getZoom());
						var newVal = curVal+1;
						mapZoom(map,newVal);
					});
					$("#ZoomMinus").click(function() {
						curVal = parseInt(map.getZoom());
						var newVal = curVal-1;
						mapZoom(map,newVal);
					});
				});
			}
			function checkJquery() {
				if (window.jQuery) {
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
					document.body.appendChild(script);
				} else {
					window.setTimeout(checkJquery, 1000);
				}
			}
			checkJquery();