.static
	%h1 Zoomcar's Team
	%table{:border => "0", :cellpadding => "20", :cellspacing => "20", :width => "100%"}
		%tr
			%td{width: '220', align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/greg.jpg", alt: "Greg Moran", class: 'img-circle')
			%td{width: '20'} &nbsp;
			%td
				%h2 Greg Moran
				.size-16.zoom-b.f-b.p-b10 Co-Founder & CEO
				%p
					Greg has dedicated his entire career to sustainable development across the globe.  Over the past six years, Greg worked in various financial, operational, and strategic roles within the international energy and infrastructure sectors.  During this time, Greg was involved with projects on six continents, totaling over $12 billion.   His primary focal areas within the sector included solar power, wind power, and energy storage.  Greg previously held positions in investment banking, private equity, corporate business development, and energy policy formulation with Fieldstone Private Capital Group, Cerberus Capital, International Power, and the City of New York respectively.
				%p
					Prior to co-founding Zoomcar with David, Greg studied at USC's Marshall School of Business, where he was the Founder and President of the USC Energy Club, Southern California's largest such club.  Greg is also a graduate of the University of Pennsylvania, where he holds a degree in International Relations.
				%p
					While he's not busy Zooming, Greg enjoys playing piano and hitting the golf links.  He is also deeply passionate about competitive eating and he remains hopeful that someone will take him up on a dosa eating competition sometime soon.
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/david.jpg", alt: "David Back", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 David Back
				.size-16.zoom-b.f-b.p-b10 Co-Founder & President
				%p
					David has worked as a consultant at McKinsey & Co and as an investment manager at Goldman Sachs. He served as the Director of Government Relations for The Hydrogen Expedition - an attempt to circumnavigate the globe in a hydrogen fuel cell powered boat to raise awareness about alternative fuels. David also founded Back Energy, an energy research firm and 	provides consulting to a number of start-ups.
				%p
					David received a full scholarship to attend Cambridge University's Judge School of Business.  Previously, he graduated magna cum laude from the University of Pennsylvania and cum laude from Harvard Law School where he had teaching fellowships on Globalization under Professor Nial Ferguson and under former US Treasury Secretary Larry Summers.
				%p
					David is also the editor of 365 Of The Wittiest, Most Cutting Insults From History, a page-a-day desk calendar sold to Barnes & Noble Publishing.  It features the insults from the likes of Winston Churchill, Mark Twain, Voltaire, and even Gandhi!
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/bharath.jpg", alt: "Bharath Nathan", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 Bharath Nathan
				.size-16.zoom-b.f-b.p-b10 COO
				%p
					Bharath has dedicated his entire career toward improving the Indian car rental sector.  Over the course of 14 years in the segment, Bharath has managed self-drive, chauffeur driven and employee transportation focused organizations.  Bharath is an expert in designing innovative, customer friendly policies that promote strong brand retention.
				%p
					Prior to Zoomcar, Bharath worked at Orix Auto Infrastructure Bangalore as branch lead.  At Orix, he was responsible for the entire branch operations, business development and receivables function. In addition to Orix, Bharath has worked for various international brands such as Avis, Budget and Europcar, holding different positions and engaging various clients ranging from corporate IT companies to 5 star hotels.
				%p
					Bharath is a graduate in commerce from Bangalore University.
				%p
					If he's not Zooming, you can catch Bharath on a trekking adventure in South India.  On occasion, he still tosses around a javelin or a shotput, two longstanding passions dating back to his university days.
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/amit.jpg", alt: "Amit Kumar Sharma", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 Amit Kumar Sharma
				.size-16.zoom-b.f-b.p-b10 CTO
				%p
					An entrepreneur with hands on experience in developing and managing multiple web products. Conceiving ideas and building products is what excites Amit the most. An engineer to the core, Amit comes with a strong understanding of usability, scalability, performance and optimization.
				%p
					Prior to joining Zoomcar, Amit co-founded Khojguru.com and made it into one of the leading discount coupon service on internet and mobile phone in India. Build the whole platform grounds up and scaled it to 3 million average monthly visitors and 1 million registered users with limited budget. Ask him anything about web technologies and he would have something interesting to say about them.
				%p
					Amit is a graduate in Electrical Engineering from IIT Delhi. Whether or not neck deep in to html, css, javascript, nginx, ror, databases, etc, Amit can be found listening to music with his earphones on.
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/mayank.jpg", alt: "Mayank Jain", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 Mayank Jain
				.size-16.zoom-b.f-b.p-b10 SVP - Analytics & Product
				%p
					Mayank comes to the Zoomcar team with deep expertise in helping organizations harness value from analytics across various industries and functions. Mayank is a champion of using data to drive decision making and has a proven track record of building high performing analytics teams to support business functions.
				%p
					Prior to Zoomcar, Mayank worked with Mu Sigma, leading offshore analytics delivery and pilot projects for multiple clients across e-commerce, retail and banking verticals. In addition to Mu Sigma, Mayank has worked with Capital One, US as a business analyst in card product strategy team and with Advanta India to set up their offshore captive.
				%p
					Mayank is a graduate in Computer Science and Engineering from IIT Delhi. When not Zooming, Mayank enjoys travel, trekking and old hindi film music and is always willing to engage in a discussion on either.
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/vikas.jpg", alt: "Vikas Lachhwani", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 Vikas Lachhwani
				.size-16.zoom-b.f-b.p-b10 SVP - Growth & Business Development
				%p
					Vikas is a creator who believes that everything has a first time. Conceiving new ideas and building a system around them is what excites Vikas. His research areas include Transportation, and Online Marketing.
				%p
					Prior to joining Zoomcar, Vikas co-founded Trusanga and developed statistical intelligence engines for learning and assessments. Trusanga launched India's first adaptive learning system amongst other innovations. Previously, worked with Mu Sigma Inc. USA on business analytics solutions for large retailers.
				%p
					Vikas is an alumnus of IIT-Kharagpur and Univ. of Wisconsin – Milwaukee. Poetry and Statistics are two things Vikas can be found reading once in a while.
				%br/
				%br/
		%tr
			%td{align: 'center', valign: 'top'}
				%br/
				%br/
				= image_tag("team/mohit.jpg", alt: "Vikas Lachhwani", class: 'img-circle')
			%td &nbsp;
			%td
				%h2 Mohit Sethi
				.size-16.zoom-b.f-b.p-b10 VP - Operations
				%p
					Mohit has a keen eye on combining technology and analytics to help businesses grow. Exploring new and innovative technology solutions is what keeps him excited.
				%p
					Prior to Zoomcar, Mohit worked with Hewlett Packard Analytics leading their marketing effectiveness initiatives and projects across multiple business lines including Printing, Personal Computing and Enterprise Services. During his tenure with Mu Sigma, apart from leading various offshore delivery accounts, Mohit has led multiple strategic transformation initiatives involving combination of business and technology. In ZS Associates and IBM, Mohit has helped setting up systems to help drive business decisions.
				%p
					Mohit has an engineering degree from IIT Kharagpur. Mohit loves listening to different genres of rock music and reading technology blogs.
				%br/
				%br/