.static
	%h1
		Zoomcar's #{@city.name} Office
	.attraction
		.right
			- if !@city.address.blank?
				%h2 Address
				= @city.address.html_safe
				%br/
			- if !@city.directions.blank?
				%br/
				%h2 Directions
				= @city.directions.html_safe
		.left
			#Gmap.map
		.fc
:javascript
	function initializeMap() {
		var myLatlng = new google.maps.LatLng("#{@city.lat}", "#{@city.lng}");
		var mapOptions = {
			zoom: 13,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			animation: google.maps.Animation.DROP,
			title:"Zoomcar's Office"
		});
	}
	function checkJquery() {
		if (window.jQuery) {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
			document.body.appendChild(script);
		} else {
			window.setTimeout(checkJquery, 1000);
		}
	}
	checkJquery();