.static
	%h1{:style => "text-align: center;"} Fee Policy
	%h2 Violations and Penalties
	%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :width => '100%'}
		%thead.bg-zoom.white
			%tr
				%th{:style => "border-right:1px solid #fff;"}
					.p-5 Violation
				%th{:style => "border-left:1px solid #fff;border-right:1px solid #fff;"}
					.p-5 Panelty
		%tbody
			%tr
				%td.border-zoom 
					.p-5 Returning vehicle late
				%td.border-zoom 
					.p-5 Regular hourly tariff
					.p-5 PLUS ₹600 per hour late if another member is inconvenience
			%tr
				%td.border-zoom
					.p-5 Traffic and parking violations
				%td.border-zoom
					.p-5 Pay violation fine 
					.p-5 PLUS ₹500 per 30 days late in payment 
			%tr
				%td.border-zoom 
					.p-5 Key not returned at end of reservation
				%td.border-zoom 
					.p-5 ₹200
					.p-5 PLUS replacement cost and ₹500 if key not returned in 3 days
			%tr
				%td.border-zoom 
					.p-5 Vehicle Damage
				%td.border-zoom 
					.p-5 Damage cost up to ₹#{CommonHelper::LIABILITY} (full-wrap insurance covers the rest)
			%tr
				%td.border-zoom
					.p-5 Towing and impounding
				%td.border-zoom
					.p-5 Full costs if caused by member failure
					.p-5 No cost if caused by vehicle failure
			%tr
				%td.border-zoom 
					.p-5 Zoom rule violations
				%td.border-zoom 
					.p-5 Zoom's costs or damage
					.p-5 PLUS up to ₹#{CommonHelper::LIABILITY}
			%tr
				%td{:colspan => "2"}
					.p-5
						%strong IF A ZOOM MEMBER IS VIOLATING THE LAW OR ZOOM RULES, FOR EXAMPLE BY OVERSPEEDING OR DRIVING DRUNK, THE MEMBER WILL BE RESPONSIBLE FOR ALL DAMAGE, LIABILITY, AND FINES, AND COULD FACE LEGAL ACTION.
	%br/
	%p
		By joining Zoom, the Member agrees to pay Zoom the costs, charges, fees and expenses set out in the Agreement, including specifically and without limitation those set forth in this schedule. The following is not exhaustive and other specific fees, costs and charges may apply. Other applicable costs will be communicated to the Member. Capitalized terms used in this schedule shall have the same meaning assigned to such terms in the Agreement.
	%p
		Zoom reserves the right to change the terms of this Policy from time to time and shall give notice of such changes to the Member in a timely manner. Notice to the Members shall be considered given when such notice is indicated and accessible from the first page accessed after the Member log-on to the Zoom website, or by email to the Member's email address provided to Zoom in the Member's application or most recently provided to Zoom. Member agrees that the amended terms and conditions of this Agreement shall be effective and binding the earlier of (1) the effective date indicated in such notice; or (2) on the date posted on Zoom's website.
	%br/
	%br/
	%h2 Terms and Conditions
	%ul
		%li
			%h3 (A) Paid Hours
			%ol
				All Zoom bookings come with a maximum of 10 paid hours per day (as defined by 24 hour day).  Zoom doesn't charge anything between 10 to 24 hours of the booking for every 24 hour cycle. After 24 hours a new cycle is started and paid hours for the booking are calculated again using the aforementioned approach. See the below table for some examples.
				%br/
				%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :aling => 'left', :width => '100%'}
					%tr.bg-e.dgrey
						%td.border-zoom{:width => '200'}
							.p-5
								%b Start Time *
						%td.border-zoom{:width => '120'}
							.p-5
								%b End Time *
						%td.border-zoom{:width => '160'}
							.p-5
								%b Paid Hours
						%td.border-zoom
							.p-5
								%b Comment
					%tr
						%td.border-zoom
							.p-5
								Monday 1pm
						%td.border-zoom
							.p-5
								Monday 9pm
						%td.border-zoom
							.p-5
								8 Hours
						%td.border-zoom
							.p-5
								All hours are billed
					%tr
						%td.border-zoom
							.p-5
								Monday 1pm
						%td.border-zoom
							.p-5
								Tuesday 1pm
						%td.border-zoom
							.p-5
								10 Hours
						%td.border-zoom
							.p-5
								10 Hours from Mon 1pm to Mon 11pm.
								%br/
								0 Hours from Mon 11pm to Tue 1pm.
								%b.black #
					%tr
						%td.border-zoom
							.p-5
								Monday 1pm
						%td.border-zoom
							.p-5
								Tuesday 5pm
						%td.border-zoom
							.p-5
								14 Hours
						%td.border-zoom
							.p-5
								10 Hours from Mon 1pm to Mon 11pm.
								%br/
								0 Hours from Mon 11pm to Tue 1pm.
								%b.black #
								%br/
								4 Hours from Tue 1pm to Tue 5pm.
					%tr
						%td.border-zoom
							.p-5
								Monday 1pm
						%td.border-zoom
							.p-5
								Wednesday 1am
						%td.border-zoom
							.p-5
								20 Hours
						%td.border-zoom
							.p-5
								10 Hours from Mon 1pm to Mon 11pm.
								%br/
								0 Hours from Mon 11pm to Tue 1pm.
								%b.black #
								%br/
								10 Hours from Tue 1pm to Tue 11pm.
								%br/
								0 Hours from Tue 11pm to Wed 1pm.
								%b.black #
				* - Time belongs to the same week
				%br/
				= '# -' 
				Max. 10 hours can be billed in a 24 hour cycle.
		%li
			%h3 (B) Free Kms
			%ol
				All Zoom reservation comes with free driving kms, which are calculated based on vehicle type and reservation duration. Any kms in excess of these limits will be charged at the appropriate rates. For weekly/monthly reservations, free kms will be given on pro-rated basis using weekly/monthly limit. For daily reservation, free kms can comprise of the daily and hourly free kms.
				%b Free Kms are always calculated based on the last scheduled reservation end time and actual vehicle return time (for completed bookings), whichever is bigger.
				See the below table for the use cases
				%br/
				%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :aling => 'left', :width => '100%'}
					%tr.bg-e.dgrey
						%td.border-zoom{:width => '200'}
							.p-5
								%b Action
						%td.border-zoom
							.p-5
								%b Comment
					%tr
						%td.border-zoom
							.p-5
								Extending the booking
						%td.border-zoom
							.p-5
								Free Kms will be calculated based on the new end date/time.
								Should be 
								%i
									%u more than or equal 
								to the last limit.
					%tr
						%td.border-zoom
							.p-5
								Cancelling the booking
						%td.border-zoom
							.p-5
								NA
					%tr
						%td.border-zoom
							.p-5
								Shortening the booking
						%td.border-zoom
							.p-5
								Free Kms will be calculated based on the new end date/time.
								Should be 
								%i
									%u less than or equal 
								to the last limit.
					%tr
						%td.border-zoom
							.p-5
								Early Return
						%td.border-zoom
							.p-5
								Free Kms will be calculated based on the last scheduled return time.
								Should be 
								%i
									%u equal 
								to the last limit.
					%tr
						%td.border-zoom
							.p-5
								Late Return
						%td.border-zoom
							.p-5
								Free Kms will be calculated based on the actual return time.
								Should be 
								%i
									%u more than or equal 
								to the last limit.
		%li
			%h3 (C) Credits
			%ol{:start => "1"}
				%li
					Early Return Credit:
					%ol
						%li
							When Members return a vehicle 1 hour or more prior to the end of their reservation, they will receive free driving credits equal to 25% of the amount of 
							%b 
								%i
									%u paid hours
							remaining for the reservation. If you have a vehicle only with a daily tariff component, you are eligible for credits equivalent to &frac14; of the daily tariff in the event you return the car a day or more early. 
							See the below table for some examples.
							%br/
							%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :aling => 'left', :width => '100%'}
								%tr.bg-e.dgrey
									%td.border-zoom{:width => '120'}
										.p-5
											%b Start Time *
									%td.border-zoom{:width => '120'}
										.p-5
											%b End Time *
									%td.border-zoom{:width => '120'}
										.p-5
											%b Return Time *
									%td.border-zoom{:width => '160'}
										.p-5
											%b Credits
									%td.border-zoom
										.p-5
											%b Comment
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Monday 9pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											1 (&frac14; of 4) Hour Usage		
									%td.border-zoom
										.p-5
											4 Hours (5pm to 9pm) were billed initially
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Tuesday 1pm
									%td.border-zoom
										.p-5
											Tuesday 10am
									%td.border-zoom
										.p-5
											Zero
									%td.border-zoom
										.p-5
											Returned hours were not billed initially
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Tuesday 1pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											1.5 (&frac14; of 6) Hours Usage		
									%td.border-zoom
										.p-5
											Only 6 hours were billed from Monday 5pm till Tuesday 1pm
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Thursday 1pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											1.5 (&frac14; of 6) Hours Usage
											%br/
											0.5 (&frac14; of 2) Days Usage
									%td.border-zoom
										.p-5
											Only 6 hours were billed from Monday 5pm till Tuesday 1pm
											%br/
											2 days (Tuesday 1pm to Thursday 1pm) were billed initially
							* - Time belongs to the same week
							%br/
							%b
								See our Trip Modication Estimator to estimate your early return credits.
		%li#MemberResponsibility
			(D) Member's Responsibility
			%ol{:start => "2"}
				%li
					Extending Reservation:
					%ol
						%li
							A member can extend his reservation anytime before his reservation ends, as long as the extension doesn't interfere with another member's pre-existing booking. Reservations can be extended either through the website, mobile app, or through our customer care.
							%br/
							%b
								See our Trip Modication Estimator to estimate your extension charge.
				%li
					Cancelling Reservation:
					%ol
						%li
							For a reservation that is cancelled 24 hours or more before it is scheduled to start, you will receive a refund for the full amount of the reservation.
						%li
							For a reservation that is cancelled less than 24 hours before it is scheduled to start, you will be obligated to pay 25% of the reservation amount, with a maximum of Rs 2000.
							%br/
							%b
								See our Trip Modication Estimator to estimate your cancellation refund.
						%li
							In the event that Zoom cancels your reservation for whatever reason, Zoom will reimburse the full amount of the reservation and will additionally award a future driving credit to your account.  The exact amount of driving credit depends on the severity of the circumstances which caused the cancelled reservation.
				%li
					Shortening Reservation:
					%ol
						%li
							For a reservation that is shortened 24 hours or more before its new end time, you will receive a refund for the full amount of the fee for the remainder of the reservation.
						%li
							For a reservation that is shortened less than 24 hours before its new end time, you will receive a refund equal to 50% of the amount of the fee for the remainder of the reservation. If you have a vehicle only with a daily tariff component, you are eligible for a refund equivalent to &frac12; of the daily tariff in the event you shorten the reservation by a day or more.
							%br/
							%b Some examples :
							%br/
							%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :aling => 'left', :width => '100%'}
								%tr.bg-e.dgrey
									%td.border-zoom{:width => '120'}
										.p-5
											%b Start Time *
									%td.border-zoom{:width => '120'}
										.p-5
											%b Original End Time *
									%td.border-zoom{:width => '120'}
										.p-5
											%b New End Time *
									%td.border-zoom{:width => '120'}
										.p-5
											%b Cutoff Time *
									%td.border-zoom{:width => '180'}
										.p-5
											%b Refund
									%td.border-zoom
										.p-5
											%b Comment
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Monday 9pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											Sunday 5pm
									%td.border-zoom
										.p-5
											Before Cutoff : 4 Hours Usage
											%br/
											After Cutoff : 2 Hours Usage
									%td.border-zoom
										.p-5
											4 Hours (5pm to 9pm) were billed initially
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Tuesday 1pm
									%td.border-zoom
										.p-5
											Tuesday 10am
									%td.border-zoom
										.p-5
											Monday 10am
									%td.border-zoom
										.p-5
											Zero
									%td.border-zoom
										.p-5
											Returned hours were not billed initially
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Tuesday 1pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											Sunday 5pm
									%td.border-zoom
										.p-5
											Before Cutoff : 6 Hours Usage
											%br/
											After Cutoff : 3 Hours Usage
									%td.border-zoom
										.p-5
											Only 6 hours were billed from Monday 5pm till Tuesday 1pm
								%tr
									%td.border-zoom
										.p-5
											Monday 1pm
									%td.border-zoom
										.p-5
											Thursday 1pm
									%td.border-zoom
										.p-5
											Monday 5pm
									%td.border-zoom
										.p-5
											Sunday 5pm
									%td.border-zoom
										.p-5
											Before Cutoff
											%br/
											2 Days, 6 Hours Usage
											%br/
											After Cutoff
											%br/
											1 Day, 3 Hours Usage
									%td.border-zoom
										.p-5
											Only 6 hours were billed from Monday 5pm till Tuesday 1pm
											%br/
											2 days (Tuesday 1pm to Thursday 1pm) were billed
							* - Time belongs to the same week
							%br/
							%b
								See our Trip Modication Estimator to estimate your refund.
				%li
					Collision or other incident:
					%ol
						%li
							Zoom provides full wrap unlimited third party liability insurance without a maximum cap.
						%li
							If member is involved in an incident (including but not limited to a collision or misuse of the vehicle) Member will be responsible for a standard insurance deductible payment of up to ₹#{CommonHelper::LIABILITY}. At the time the reservation is completed, the Member will originally be charged a flat fee of ₹1,000. The Member will be obligated to pay the balance of the repair cost (up to ₹#{CommonHelper::LIABILITY}) after the repair work has been complete and Zoom has sent the Member a repair invoice. The balance of the payment owed will be made electronically by the Member via an email invoice from Zoom.
						%li
							Member will be responsible for all towing and impounding charges associated with a collision.
						%li
							Member will be responsible for all towing and impounding charges caused by member failure.
						%li
							Zoom will be responsible for all towing and impounding charges caused by vehicle failure.
						%li
							Member will be responsible for all applicable damages and costs, including those in excess of the applicable Damage Fee, arising from the Member's failure to comply with the terms of the Agreement and/or a violation of the law.
				%li
					Tolls:
					%ol
						%li
							Members are responsible for paying all tolls at the time they are due.
						%li
							Zoom vehicles are registered with an All India Permit, allowing the vehicle to enter any state in the country.
						%li
							Members must pay all inter-state taxes and fees upon entering into a neighbouring state. For the state of Andhra Pradesh, Zoom will reimburse the State entry fee cost paid by Member. Zoom members are liable to pay in full the state entry fee tax for all other states besides Andhra Pradesh.
		%li
			(E) Penalty Fees
			%ol{:start => "5"}
				%li
					Returning a Vehicle Late (in addition to the per hour fees for use of the vehicles):
					%ol
						%li
							Member has a 30 minute grace period in which there will be no late penalty fee. After this 30 minute grace period, the Member will be charged the hourly tariff in subsequent hourly intervals from original return time. This penalty fee continues until the vehicle is returned. See the below table for some examples.
							%br/
							%table{:cellpadding => '0', :cellspacing => '0', :border => '0', :width => '300'}
								%tr.bg-e.dgrey
									%td.border-zoom
										.p-5
											%b Time
									%td.border-zoom
										.p-5
											%b Penalty
								%tr
									%td.border-zoom
										.p-5
											0-30 Minutes
									%td.border-zoom
										.p-5
											No Charge
								%tr
									%td.border-zoom
										.p-5
											31-60 Minutes
									%td.border-zoom
										.p-5
											1 Hour Tariff
								%tr
									%td.border-zoom
										.p-5
											1-2 Hours
									%td.border-zoom
										.p-5
											2 Hours Tariff
							%br/
							%b
								See our Trip Modication Estimator to estimate your late charges.
						%li
							In the event that the Member's lateness prohibits another reservation from commencing on time, then the late Member will be charged an inconvenience charge of ₹600 per each hour that the Member does not return the vehicle.
				%li
					Fee for Returning the Vehicle to the Wrong Location:
					%ol
						%li
							Member will be charged the full hourly fee for use of the vehicle, plus the full late fee until the vehicle is either returned to the correct location or is in use by the next Member, plus an additional fee of ₹500.
				%li
					Fee for Traffic and Parking Violations:
					%ol
						%li
							Zoom will pay for all traffic and parking fines (including fines for not paying tolls). The charge for these fines will be posted to the Member's account.
						%li
							Late payment of these fines will be charged an additional fee ₹500 per 30 days or fraction thereof.
						%li
							Members must report and turn over all traffic and parking violations/receipts to Zoom's vehicle attendants immediately following their reservation. Zoom will subsequently mail a hard copy of the violation/receipt to the Member and payment will be according to the guidance provided above.
				%li
					Overspeeding:
					%p Note that Zoom tracks the speed of all vehicles through a sophisticated back end monitoring system that provides real-time overspeeding alerts.
					%ol
						%li
							Member will receive a warning email along with a fine of ₹250 for reaching a speed between
							%b 125 and 134 km/hr
							during a reservation.
						%li
							Member will receive a warning email along with a fine of ₹500 for reaching a speed of
							%b 135 km/h and above
							during a reservation.
						%li
							Member will be automatically expelled from Zoom's service if they exceed a speed of
							%b 150 km/hr
							at any point.
						%li
							Member has to pay only one over-speeding fine per reservation. For multiple instances of over-speeding during a reservation, a member has to pay maximum fine among them.
						%li
							Member receiving a warning email will be treated as an offence. Only one offence will be counted for the whole duration of the reservation. So even if a member had received more than one warning emails it will be counted as one offence.
						%li
							Member will be automatically expelled from Zoom's service if they exceed a speed of
							%b 115 km/hr
							as a second offense.
						%li
							This fine is contractually imposed upon you and is in addition to any statutory fine that may be, or may have been, separately imposed upon by you.
				%li
					Lost Tablet Fee:
					%ol
						%li
							If the Member loses the Android enabled tablet provided by Zoom and does not replace the exact model prior to returning the vehicle, they will be charged Rs 10,000 (cost of tablet).
				%li
					Responsibility for Payment:
					%ol
						%li
							Payments by Members shall be made with his/her credit card or debit card. The Member is under obligation to ensure that the account from which the amounts are to be collected have sufficient funds or credit available to cover any charges. Member is solely responsible for any associated bank or credit card charges or fees. Member may be charged a processing fee for a declined credit or debit card payment.
						%li
							In the event the Member defaults on any payments, Zoom is entitled to charge reminder fees and default interest in accordance with the provisions of the law. In addition, Zoom may utilize third parties to collect amounts owed to Zoom by a Member.
						%li
							With all fees mentioned above, Zoom reserves the right to prohibit a Member from making a subsequent reservation until all outstanding fees in the Member's account have been paid in full. In the event a fee is incurred, Members will receive an email invoice from Zoom that will have detailed payment instructions.
.mod-calculator-box
	.mod-calculator.r-tl-10.r-tr-10.ts-0{:onclick => "showModal('Trip Modification Estimator', '/calculator/reschedule'); return false;"}
		Trip Modification Estimator
