.static
	%h1 Zoom Responsibly
	.bg-e.r-10.p-5
		.row
			.col-md-3.t-c
				.p-2
					= image_tag 'email/no-alcohol.png', alt: 'No Alcohol/Drug'
				.p-2
					%b.black No Alcohol / Drug
				.p-2
					Account Block
			.col-md-3.t-c
				.p-2
					= image_tag 'email/no-smoking.png', alt: 'No Smoking'
				.p-2
					%b.black No Smoking
				.p-2
					₹#{CommonHelper::SMOKING} Fine
			.col-md-3.t-c
				.p-2
					= image_tag 'email/no-pets.png', alt: 'Pets Not Allowed'
				.p-2
					%b.black No Pets
				.p-2
					Account Block
			.col-md-3.t-c
				.p-2
					= image_tag 'email/speed-limit.png', alt: 'No Overspeeding'
				.p-2
					%b.black Maximum Speed
				.p-2
					₹#{CommonHelper::OVERSPEEDING} Fine
	.m-t10
		%br/
		Dear Self-Drive Enthusiast,
		%br/
		%br/
		Thank you for booking a self-drive car from Zoom!. By reading and understanding the points below, you acknowledge that you understand and agree to the detailed terms and conditions as stipulated on 
		%b www.zoomcar.in.
		The information below is intended to provide a summary of the rental conditions contained on our website and is not intended to serve as a full replacement. Any clause below otherwise not contained in the principal agreement between you and Zoom. shall stand incorporated therein by reference. 
		%br/
		%br/
		%b
			1. Forbidden Uses:
		%br/
		Zoom cars may not be used for the following:
		%br/
		a) Transporting goods / people in violation of local laws or excise & customs rules.
		%br/
		b) For sports, adventure, races rallies and other competitive events.
		%br/
		c) 
		%b
			For over speeding violations over 125 Km/hr, there will be a fine of ₹#{CommonHelper::OVERSPEEDING}.
		Vehicle speed is tracked and monitored remotely through an in-car device to ensure safety of all Zoom members. Please 
		%a{href: '/fees#Overspeeding', target: '_blank'} refer here
		for more details.
		%br/
		%br/
		%b
			2. State Border Crossing : 
		%br/
		While all Zoom cars are registered with an All India Permit (meaning they can be driven anywhere within India), there are toll & taxes payable upon crossing state borders especially at checkposts between each State. Individual renters are liable for payment of such charges with the exception of entry into Andhra Pradesh. Tentative charges can be found on our website 
		%a{href: '/outstation', target: '_blank'} here.
		%br/
		%br/
		%b
			3. Maximum Damage Cap: 
		%br/
		Your liability in the event of theft or accident to the vehicle is restricted to a maximum amount equal to 
		%b ₹5,000/-.
		Zoom's insurance handles the remainder. This is provided you adhere to all of Zoom’s standard rules and regulations as described 
		%a{href: '/member#Insurance', target: '_blank'} here.
		%br/
		%br/
		Requesting customers to mark damages, if any, in the car at the time of taking it as well as returning it to Zoom. 
		%br/
		%br/
		%b Accessories in the Vehicle
		%br/
		.row
			.col-md-4
				1. Vehicle Documents
			.col-md-4
				4. Service Book – Warranty Card
			.col-md-4
				7. 3G Navigation Tablet
		.row
			.col-md-4
				2. Jack & Rod
			.col-md-4
				5. Bulb Space - 2Nos.
			.col-md-4
				8. Phone Charger
		.row
			.col-md-4
				3. Spare Wheel 
			.col-md-4
				6. AUX Cable
			.col-md-4
				9. Torch
