.static
	%h1.zoom #{@city.name} Offers
	- offers = @city.active_offers
	- if offers.blank?
		Sorry, no offers are available right now.
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
	- else
		- offers.each do |offer|
			%br/
			.tariff-special
				.p-20
					%h2.size-30
						%b #{offer.heading}
					%p.size-16.black
						= offer.description.html_safe
					%p
						%b.black HOW TO AVAIL:
						%br/
						= offer.instructions.html_safe
					%div
						%b.black PLEASE NOTE:
						%br/
						%b.black
							Discount will not be applicable on any of 
							%a{href: '/holidays'} these days
						- if !offer.disclaimer.blank?
							%br/
							= offer.disclaimer.html_safe