.static
	%h1.zoom Zoom for Less
	#Weekday.tariff-special
		.p-20
			%h2.size-30
				%b ZOOM ON THE CHEAP DURING THE WEEK!
			%p.size-16.black.f-b
				Book a vehicle for Monday, Tuesday, Wednesday or Thursday
				%br/
				and receive #{CommonHelper::WEEKDAY_DISCOUNT}% off the normal tariff!
			%p
				%b.black HOW TO AVAIL:
				%br/
				Discounts automatically applied at time of check-out.
			%div
				%b.black PLEASE NOTE:
				%br/
				A reservation beginning on Sunday will not have the first 24-hour period qualify for discount.
	- Offer.active.each do |offer|
		%br/
		.tariff-special
			.p-20
				%h2.size-30
					%b #{offer.heading}
				%p.size-16.black
					= offer.description.html_safe
				%p
					%b.black HOW TO AVAIL:
					%br/
					= offer.instructions.html_safe
				%div
					%b.black PLEASE NOTE:
					%br/
					%b.black
						Discount will not be applicable on any of 
						%a{href: '/holidays'} these days
					- if !offer.disclaimer.blank?
						%br/
						= offer.disclaimer.html_safe
