.static
	%h1 Zoom in Safety
	%p
		At Zoomcar, the safety of our members is our #1 priority.
		In the event of an accident or a vehicle breakdown, Zoomcar is 100% committed to providing the help you need to get back to zooming quickly and safely.

	.f-b.size-18.m-b10.zoom What to do in case of an accident or breakdown:
	/ %p
	/ 	In the event of an accident, please do not leave the scene of the incident without interacting first with the other party effected (if any). Failure to at least check with other party can lead to a highly unfortunate future outcome with uncertain consequences. Staying at the accident scene to interact with the other effected party ensures that there will not be any further consequences for the member.
	
	.numbering.bg-zoomb.white.f-b.fl 1
	.safety.fl.m-5.m-l10
		Remain calm.
	.fc

	%br/

	.numbering.bg-zoomb.white.f-b.fl.m-t10 2
	.safety.m-5.m-t10.m-l40
		#cust-support.bg-w.solid.border-c
			.p-10.p-l80
				.f-b.size-16 Call
				.zoom.fem-12.size-16.f-b #{@city.contact_phone}
				.fem-7.lgrey 24x7 Customer Support

		%br/
		.m-b10
			You can also contact our fleet executives based out of Zoomcar locations for any queries.
		%div
			%table.solid.border-zoomb{:width => '500'}
				%tr
					%td.p-10.p-l20.bg-zoomb.white{:width => '350'}
						%b Zoomcar Location
					%td.p-10.t-c.bg-zoomb.white
						%b Mobile No.
				- Location.live(@city).sort_by(&:name).each do |l|
					- if !l.mobile.blank?
						%tr.p-l10
							%td.p-5.p-l20
								= l.name
							%td.p-5.t-c.zoom.f-b
								= l.mobile
		.m-t10
			Our helpful team will communicate with the respective service center to ensure that you are fully supported. Zoomcar will arrange a local tow truck to provide help wherever you are. Our technology allows us to monitor each vehicle's location remotely so we can tell your exact location when you're in trouble. This will further help expedite the incident resolution.

	.fc
	%br/

	.numbering.bg-zoomb.white.f-b.fl 3
	.safety.fl.m-5.m-l10
		In the event that you prefer to reach out directly to the vehicle manufacturer, here are the contact details:
		%table.solid.border-c.m-t10
			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/ford.jpg", :alt => "Ford")
				%td 
					.p-5
						%span.zoom.f-b 1-800-425-2500 
						(Mon-Fri 9am-6pm)
					.p-5
						%span.zoom.f-b 1-800-102-2020 
						National toll free number (24/7)

			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/honda.jpg", :alt => "Ford")
				%td 
					.p-5
						%span.zoom.f-b 1-800-425-2500 
						(Mon-Fri 9am-6pm)
					.p-5
						%span.zoom.f-b 1-800-102-2020 
						National toll free number (24/7)

			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/tata.jpg", :alt => "Ford")
				%td 
					.p-5
						%span.zoom.f-b 1-800-425-2500 
						(Mon-Fri 9am-6pm)
					.p-5
						%span.zoom.f-b 1-800-102-2020 
						National toll free number (24/7) 

			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/mahi.jpg", :alt => "Mahindra")
				%td
					.p-5 
						%span.zoom.f-b +91 99808 08090 
						Bangalore helpline number (24/7)
					.p-5 
						%span.zoom.f-b 1-800-209-6006 
						National toll free number (24/7)

			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/vw.jpg", :alt => "Volkswagen")
				%td
					.p-5 
						%span.zoom.f-b +91 96866 69091 
						Bangalore helpline number (24/7)
					.p-5 
						%span.zoom.f-b 1-800-102-0909 
						National toll free number (24/7)

			%tr.border-b-c
				%td.p-5
					= image_tag("manufacturers/bmw.jpg", :alt => "BMW")
				%td
					.p-5 
						%span.zoom.f-b +91 95919 99406 
						Bangalore helpline number (24/7)
					.p-5 
						%span.zoom.f-b 1-800-103-2211 
						National toll free number (24/7)
			%tr
				%td.p-5
					= image_tag("manufacturers/benz.jpg", :alt => "BMW")
				%td
					.p-5 
						%span.zoom.f-b +91 95919 99406 
						Bangalore helpline number (24/7)
					.p-5 
						%span.zoom.f-b 1-800-103-2211 
						National toll free number (24/7)
	.fc
	%br/
	%br/

	.size-16.zoom.f-b.m-b5 Please have the following information available:
	%p
		Your location – as exact as possible
		%br/
		The phone number and mail ID where you can be reached
		%br/
		The description of your vehicle – color, make, model and year
		%br/
		Zoomcar vehicle plate number
		%br/
		Insurance information, if requested
	%p.f-b
		Having all of this information makes it substantially easier for the road side team to help you as quickly as possible.

	%p
		Please refer to
		%a.f-b{:href => "/fees"} Zoomcar's Fee Policy
		and
		%a.f-b{:href => "/member"} Member Agreement
		for a more detailed explanation of any costs to a member.
