<h3>the available cars are given below</h3>
<% @cars.each do |car| %>
	<li>
		<%= image_tag(asset_path('cars/' + car.cargroup_id.to_s + 'small.jpg')) %>
		 <p>Model : <%= Cargroup.find(car.cargroup_id).name %>
		  Location : <%= Location.find(car.location_id).name %></p>
		 <p>Daily : <%=Cargroup.find(car.cargroup_id).daily_fare%>
		  Hourly : <%=Cargroup.find(car.cargroup_id).hourly_fare%></p>				 
		 <%= form_tag("/book", method: "get") do %>
			  <%= hidden_field_tag "cargroup_id",car.cargroup_id %>
			  <%= hidden_field_tag "location_id",car.location_id %>		  
			  <%= submit_tag("Book") %>
		<% end %>
	</li>
<% end %>