:ruby
	locs = Location.live(@city).collect {|l| l.name.gsub(',', ' at')}
	cars = Cargroup.list(@city).collect {|c| c.name}
	cg = Cargroup.list(@city).first
	count = 0
.static
	%h1 Frequently Asked Questions

	#faqs-tabs.tariff-header
		%a.block.fl.active{:href => "#faqs-1", 'data-toggle' => "tab"}
			Basics
		%a.block.fl{:href => "#faqs-2", 'data-toggle' => "tab"}
			Membership
		%a.block.fl{:href => "#faqs-3", 'data-toggle' => "tab"}
			Booking
		%a.block.fl{:href => "#faqs-4", 'data-toggle' => "tab"}
			Billing
		%a.block.fl{:href => "#faqs-5", 'data-toggle' => "tab"}
			Your Trip
		%a.block.fl{:href => "#faqs-6", 'data-toggle' => "tab"}
			What's Included
		%a.block.fl{:href => "#faqs-7", 'data-toggle' => "tab"}
			Security Deposit
		.fc

	#faqs-body.tab-content.solid.border-c.p-20
		#faqs-1.tab-pane.fade.in.active
			.f-b.zoom.size-16.m-b5 #{count+=1}) What is Zoomcar?
			%p
				Zoomcar is India's first membership-based, self-drive car rental service which allows individuals to hire cars by the hour or by the day. Reservations are made through the website or our mobile app.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Where are Zoomcar vehicles located?
			%p
				Zoomcar offers vehicles at #{locs.length} locations in #{@city.name}: #{locs.join(', ')}. We are always expanding to new locations. If you want Zoomcar vehicles near you, let us know your location.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What type of vehicles does Zoomcar offer?
			%p
				Zoomcar offers #{cars.join(', ')}.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Are there restrictions on where I can travel?
			%p
				Most of Zoomcar's vehicles are equipped with an All India Permit, so you are free to Zoom anywhere in India. Vehicles without an All India Permit are specified on the website. Visit Zoomcar's Outstation section for more tips on traveling between states.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Do I have to return the car to the same location where I picked it up?
			%p
				Yes. You must bring the vehicle back to the same place you picked it up before the end of your reservation.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Does the car come with a driver?
			%p
				Zoomcar does not provide drivers. But, if you would like to arrange for a driver for your Zoomcar vehicle, just make sure the driver signs up to become a Zoomcar member first.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Do the vehicles have manual or automatic transmission?
			%p
				The Figos, Ventos, Scorpios, Ecosport, Honda City, Mahindra XUV W6 have manual transmission. The BMWs, Mercedes and Revas have automatic transmission.
			- if !@city.promo_pricing
				.f-b.zoom.size-16.m-b5 #{count+=1}) What is #{CommonHelper::BLACKOUT_TEXT}? Are the prices different during #{CommonHelper::BLACKOUT_TEXT}?
				%p
					Hourly rates are different for Mon-Thu, Fri-Sun and #{CommonHelper::BLACKOUT_TEXT}. Please have a look at the dates for #{CommonHelper::BLACKOUT_TEXT} <a>here</a>. The prices are mentioned on the
					%a{:href => "http://www.zoomcar.com/bangalore/tariff", :target => "_blank"} tariff page.
		#faqs-2.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) How do I become a member?
			%p
				Becoming a member is easy! Go to the website
				%a{:href => "/"} Zoomcar
				and just Sign Up
				or use our mobile app (Android or iPhone) to make an account with your contact information and upload a photo of your original driver's license and your credit or debit card information. Now, you're ready to make a reservation!
			.f-b.zoom.size-16.m-b5 #{count+=1}) What type of driver's license is required?
			%p
				Zoomcar requires either an Indian driver's license or an International Driver's Permit (IDP). It's critical that the license is an original!  Licenses must be for a light motor vehicle (car). Members do NOT need a specific cab license that is associated with a yellow board plate.
			.f-b.zoom.size-16.m-b5 #{count+=1}) How old do I have to be to join Zoomcar?
			%p
				You must be #{CommonHelper::MIN_AGE} or older to join Zoomcar.  You must upload your original driver's license and date of birth under My Settings.  These steps confirm your age.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What information must I provide before I can make a vehicle reservation?
			%p
				Make a member profile including your date of birth and a photo or scan of your original driver's license.  Then enter your payment details (credit or debit card) and you are ready to Zoom!
			.f-b.zoom.size-16.m-b5 #{count+=1}) How long does it take to become a member, and can I drive on the same day I become a member?
			%p
				It takes less than 2 minutes to become a Zoomcar member. Driving on the same day you sign up is allowed and in fact, we encourage it!

		#faqs-3.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) How do I book a vehicle?
			%p
				It's simple on our online reservation system! Just select the type of car you want, the location you want to pick it up from, and the start and end time for your reservation. Then enter your payment details (credit or debit card) and you are ready to Zoom!
			.f-b.zoom.size-16.m-b5 #{count+=1}) Can I book for any period of time?
			%p
				You can book cars by the hour, day, week, or month. You can book them 60 days in advance. The minimum reservation period is 4 hours.
			.f-b.zoom.size-16.m-b5 #{count+=1}) How far in advance do I need to make a reservation?
			%p
				As long as a vehicle is available, you can book immediately!  Zoomcar recommends customers make bookings as early as possible. 
			.f-b.zoom.size-16.m-b5 #{count+=1}) What if I need to modify or extend my reservation?
			%p
				Please dial Zoomcar's helpful 24x7 call center - #{@city.contact_phone} - and we will work with you to ensure your schedule is accommodated provided that a vehicle is available at that time. Your credit or debit card will then be charged the new amount, just like with the initial transaction. If your reservation has already started, you can use Zoomcar's mobile app or connected in-car tablet to modify the reservation. Simply go to your "Accounts" page and make the change through the normal reservation system.
			.f-b.zoom.size-16.m-b5 #{count+=1}) How do I cancel a reservation?
			%p
				Reservations can be cancelled from Zoomcar's website. You can manage a reservation on your Accounts page. This is where you have the option to cancel your reservation.
			.f-b.zoom.size-16.m-b5 #{count+=1}) If I cancel my reservation, do I still have to pay?
			%p
				a) There are no charges if you cancel more than 24 hours before booking start time.
				%br/
				b) A charge of 25% of booking amount is applicable if cancelled within 24 hours of the booking start time, with a maximum cancellation charge of Rs. 2,500.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What happens if I return the car late?
			%p
				a) Standard hourly charges will be applicable per hour of delay. Weekend or weekday delays will be charged accordingly.
				%br/
				b) Free KMs will be given at 10 km per hour of delay.
				%br/
				c) An additional Rs. 300 per hour will be charged as late fee.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What happens if someone else returns the car late, and it is not there when my reservation begins?
			%p
				If your reserved vehicle is not where it is supposed to be, notify us immediately by calling #{@city.contact_phone}. Zoomcar and our helpful fleet executives will make sure you get where you need to go! If a near-by Zoomcar vehicle is available, we will transfer your reservation. If not, we will call you a cab and get you a self-drive vehicle as soon as possible so you can quickly be on your way.
			.f-b.zoom.size-16.m-b5 #{count+=1}) If I bring the car back ahead of my reservation time, do I receive a credit?
			%p
				a) Credits worth 50% of billed hourly rate will be given for the remaining hours of your booking.
				%br/
				b) Free KMs will be given only for the hours for which you did not get credits.

		#faqs-4.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) What modes of payments are accepted?
			%p
				Zoomcar accepts payments by credit cards, debit cards and netbanking. All payments are made in advance through our website or mobile app. Sorry, we do not accept cash.
			.f-b.zoom.size-16.m-b5 #{count+=1}) How am I reimbursed if I pump my own fuel?
			%p
				Please give your fuel receipt to the Fleet Executive after your reservation and Zoomcar will happily reimburse you for the full amount.
			.f-b.zoom.size-16.m-b5 #{count+=1}) How do I identify the transaction on my credit or debit card statement?
			%p
				Each transaction with Zoomcar will appear marked as from "ZoomCar India Pvt. Ltd."
			.f-b.zoom.size-16.m-b5 #{count+=1}) I had problems while the payment was being made after I entered my credit or debit card details. Has my reservation been made?
			%p
				No. If your payment does not succeed for whatever reason, Zoomcar's reservation system will not confirm your booking. In order to complete the booking process, payment has to be done upfront.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What are Zoomcar credits and how do I earn them?
			%p
				Zoomcar credits can be used at checkout to pay the booking fee. Your credits are kept in your Zoomcar Wallet. You earn credits when you return a car early, get a friend to join the Zoomcar community, and through promotions we run from time to time. Credits can only be used on the checkout page to pay the booking fee, they cannot be used to pay security deposit, damage charges, extension fees, etc.
				
			.f-b.zoom.size-16.m-b5 #{count+=1}) How long does it take to get refunded?
			%p
				We process refunds immediately, however it generally takes 4-5 business days for the money to reflect in your account. But depending upon your bank it may take upto 7 business days in very rare case.

		#faqs-5.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) What documents do I need to bring when I pick up my Zoomcar vehicle?
			%p
				Please bring your original driver's license and a valid credit or debit card for any incidentals charges (e.g. excess kms, extended reservation, etc.)
			.f-b.zoom.size-16.m-b5 #{count+=1}) Can somebody else drive the vehicle during my reservation?
			%p
				Only Zoomcar members are allowed to drive Zoomcar vehicles. If you allow another member to drive during your reservation, you are still responsible for the vehicle. In the event a non-member drives the vehicle, Zoomcar's insurance coverage would be invalidated. 
			.f-b.zoom.size-16.m-b5 #{count+=1}) What do I do if I am in an accident?
			%p
				Immediately notify Zoomcar by calling #{@city.contact_phone} and we will guide you through the entire process. We will coordinate everything with the police, insurance, and road-side assistance. Don't leave the scene of the accident until proper support has arrived.  You may be required to sign several formality documents associated with the accident.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What do I do if the vehicle breaks down?
			%p
				Immediately notify Zoomcar by calling #{@city.contact_phone} and we will guide you through the entire process with the help of our Call Center and Fleet Executive team. Each vehicle also has a 24x7 road-side support hotline number. Zoomcar will coordinate everything with this road-side assistance provider. Don't leave the scene of the breakdown until proper support has arrived.

		#faqs-6.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) Who pays for fuel?
			%p
				Unlike other car hire services, Zoomcar always pays for the fuel, regardless of whether the vehicle is a diesel or petrol variant. Zoomcar refuels the vehicles regularly. If you are driving a long distance and you need to refuel the vehicle, just give your fuel receipt to the Fleet Executive after your reservation and Zoomcar will happily reimburse you the full amount. 
			.f-b.zoom.size-16.m-b5 #{count+=1}) Is there a km limit to how much I can drive?
			%p
				Each reservation comes with 10 km/hr with a maximum daily driving limit of 240 km/day (24 hour period). For example, a 5 hour reservation would come with 50 km in driving at no additional charge while a 3 day reservation would come with 720 km in driving at no additional charge. There is a per-km charge for each km beyond that point. Please see Zoomcar tariffs for more details.

			.f-b.zoom.size-16.m-b5 #{count+=1})  What are the requirements when I drive across a State border?
			%p
				Each State has different procedures. All States will require a commercially registered vehicle to stop at the border RTO station to pay the relevant tolls/taxes to obtain a valid entry permit. All Zoomcar vehicles contain original copies of the RC Card, Insurance Note, Self-Drive License, and the All India Permit. In the event that an incident arises, please call Zoomcar's 24 hour Call Center at #{@city.contact_phone} and we will provide the necessary guidance to the RTO officer to ensure the issue is resolved and you're back Zooming as soon as possible!
			.f-b.zoom.size-16.m-b5 #{count+=1}) What documents must I show at the State border RTO office after crossing a State border?
			%p
				You must show copies of the RC Card, Insurance Note, Self-Drive License, and the All India Permit.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What is the amount I must pay at a State border crossing to obtain a permit and legally enter the State?
			%p
				Prices vary depending on State and vehicle type (larger vehicles have higher tolls/taxes). For most states, prices range from ₹100-500 for a week-long permit. Zoomcar does not reimburse for these charges. Andhra Pradesh only offers an annual permit, which costs between ₹2,500-3,500. No weekly permit is offered for Andhra Pradesh. Zoomcar will reimburse the Member the full cost of the Andhra Pradesh permit and the Andhra Pradesh permit only. If you are traveling to Andhra Pradesh, please consult a Zoomcar representative to see if your vehicle is already equipped with a permit.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What do I do if a border officer at the State RTO crossing is causing a problem?
			%p
				This should not occur since each Zoomcar vehicle is outfitted with all necessary documents. In the event that an incident does arise, please call Zoomcar's 24 hour Call Center at #{@city.contact_phone} and we will provide the necessary guidance to the RTO officer to ensure the issue is resolved and you're back Zooming as soon as possible!  Zoomcar will not reimburse the member for any additional charges levied by RTO enforcement.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Who pays for parking?
			%p
				Members must pay for parking outside of the Zoomcar vehicle's home location.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Am I responsible for parking and moving violations?
			%p
				Yes. Members must pay for any fines incurred during the reservation.

		#faqs-7.tab-pane.fade
			.f-b.zoom.size-16.m-b5 #{count+=1}) Why do I have to pay a deposit?
			%p
				We've seen that many of our customers like to Zoom off to extra far away destinations. In these instances, they typically have some additional charges at the end of their booking given the distance traveled. Additionally, it's not always so easy out there as a self-drive pilot and some damage will happen. This deposit will allow Zoomcar to seamlessly complete these transactions without the hassle of a human intervention as part of a formal online payment process. Our helpful support team can reconcile your payment remotely and clear your final bill in a matter of seconds. This will ensure that you are Zooming off not only at the start of your booking but also the end.
			%p
				Don't worry, you do not forfeit your entire deposit for charges that are less than Rs 5000.
			%p
				Please do keep in mind that though we refund the remaining amount immediately it will take 4-5 business days before it reflects in your account.
			.f-b.zoom.size-16.m-b5 #{count+=1}) Can I delay paying the refundable security deposit?
			%p
				Of course you can! Because of high demand for vehicles, a substantial chunk of our users make bookings weeks in advance. We’re not a bank, and the Zoomcar team really doesn’t want your money stuck in a security deposit for that entire period. So, at the time of checkout you can choose to delay your deposit payment to 24 hours before your booking starting. However, do remember to pay the deposit by then or your booking will get cancelled.
			.f-b.zoom.size-16.m-b5 #{count+=1}) What is the Zoomcar Wallet?
			%p
				We created the Zoomcar Wallet to assist our users. Your Zoomcar Wallet is where your Security Deposit is kept. If you are planning on making bookings close to one another, just hold the Security Deposit in your Zoomcar Wallet and the same deposit can be used across multiple bookings. This saves you the trouble of having multiple deposits stuck in refund processes. Learn how to do that in FAQ #{count+1}.
			%p
				Don’t want your deposit to stay in the Wallet? Don’t worry, unless you clearly choose the hold option we will refund your deposit after your booking is over. You always have control over your money, so even if you change your mind about holding the deposit in the Wallet you can refund it. Remember it takes 4-5 business days for the amount to reach your account.
			.f-b.zoom.size-16.m-b5{'id' =>  'faq-'+(count+1).to_s } #{count+=1}) I have already paid a Security Deposit, can I use it for other bookings?
			%p
				Yes, you can stretch one Security Deposit over multiple bookings! Our most active community members make multiple bookings close to one another. With banks taking 4-5 business days to refund your account, this meant that you could have multiple security deposits stuck in refund processes. Instead you can use the same deposit over multiple bookings through your Zoomcar Wallet. 
			%p
				On the Booking Summary page, just opt to hold that deposit in your Zoomcar Wallet. When you make your next booking, at Checkout we will simply use that amount towards the Security Deposit. Running low on the Wallet amount? Just navigate to the effected booking’s page and add money to the Security Deposit in your wallet! If you think you are not going to Zoom for a while, refund the amount you want through the My Bookings page. You are in the driver’s seat after all…pun intended!
			%p
				Remember that it takes time to process charges and we want to give you time to add money to the Security Deposit in your Wallet as well. So do keep at least a 2 day gap between bookings that are sharing a deposit, otherwise the one starting later might get cancelled.