%h1.zoom.droid.t-c Change Password
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
	.panel.panel-default
		.panel-body
			.form-horizontal
				.row.form-group
					%label.col-sm-2.control-label Password *
					.col-sm-10
						= f.password_field :password, :class => 'form-control'
						.error
							= errortxt(resource.errors[:password].uniq.join(', '))
				.row.form-group
					%label.col-sm-2.control-label Confirm Password *
					.col-sm-10
						= f.password_field :password_confirmation, :class => 'form-control'
						.error
							= errortxt(resource.errors[:password_confirmation].uniq.join(', '))
				%br/
				%br/
				.row.form-group
					.col-sm-2
					.col-sm-10
						.f-b
							We need your current password to confirm your changes
				.row.form-group
					%label.col-sm-2.control-label Current Password *
					.col-sm-10
						= f.password_field :current_password, :class => 'form-control'
						.error
							= errortxt(resource.errors[:current_password].uniq.join(', '))
				.row.form-group
					.col-sm-2
					.col-sm-10
						= submit_tag "Submit", :class => 'btn btn-default'
