%form{:id => "SearchForm", :onsubmit => "return SubmitForm(this,'/search?','AjaxContent');", :action => "javascript:void(0)", "data-ajax" => "false"}
	#StartDate.box
		.cal
		.txt
			%input.datetime.validate-presence{:id => "StartDateVal", :name => 'start', :type => "text", :value => "Pickup Date & Time*", :readonly => 'true', 'dummy-title' => "Pickup Date & Time*"}
		.arrw
		.fc
	#StartDateValError.error
	#EndDate.box
		.cal
		.txt
			%input.datetime.validate-presence{:id => "EndDateVal", :type => "text", :value => "Dropoff Date & Time*", :readonly => 'true', 'dummy-title' => "Dropoff Date & Time*"}
		.arrw
		.fc
	#EndDateValError.error
	.dropdown
		#Locations.dropdown-toggle.box{'data-toggle' => "dropdown"}
			.loc
			#LocationHtml.txt Choose your location
			.arrw
			.fc
		%ul.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Locations'}
			- Location.live.each do |l|
				%li{:role => "presentation"}
					%a{:href => "javascript:void(0)", :onclick => "changeLocation(#{l.id},'#{l.shortname}');"}
						= l.shortname
	.dropdown
		#Cars.dropdown-toggle.box{'data-toggle' => "dropdown"}
			.car
			#CarHtml.txt Select a car
			.arrw
			.fc
		%ul.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Cars'}
			- Cargroup.list.each do |l|
				%li{:role => "presentation"}
					%a{:href => "javascript:void(0)", :onclick => "changeCar(#{l.id},'#{l.name}');"}
						= l.name
	.hide
		%input{:id => "LocationVal", :type => "text", :value => "0", :readonly => 'true'}
		%input{:id => "CarVal", :type => "text", :value => "0", :readonly => 'true'}
	#SearchSubmit
		= submit_tag "Search Car", :class => 'button size-12 m-auto'
	#SearchWait.p-5.hide
		.wait
