- if bookings.blank?
	No bookings were found.
	%br/
	%br/
- else
	%table.table-striped.table
		%tr.active
			%th #
			%th Duration
			%th Status
			%th Outstanding
			- if false
				- if (defined? show_credits_us)
					%th 
						Credits
						%br/
						Used
				- if (defined? show_credits_er)
					%th 
						Credits
						%br/
						Earned
			%th
		- bookings.each do |b|
			%tr
				%td
					%b #{b.confirmation_key.upcase}
					%br/
					#{b.cargroup.name}
					%br/
					#{b.location.shortname}
				%td 
					#{b.starts.strftime("%d %b, %Y %I:%M %p")}
					%br/
					- if b.returned_at.blank?
						#{b.ends.strftime("%d %b, %Y %I:%M %p")}
					- else
						#{b.returned_at.strftime("%d %b, %Y %I:%M %p")}
				%td #{b.status_text}
				%td #{b.outstanding_with_security }
				- if false
					- if (defined? show_credits_us)
						%td 
							- b.credit.each do |cr|
								= cr.amount if !cr.action
					- if (defined? show_credits_er)
						%td 
							- b.credit.each do |cr|
								= cr.amount if cr.action
				%td.t-r
					%a.btn.btn-xs.btn-default{href: "/bookings/#{b.encoded_id}", target: '_blank', role: "button", :title => 'Payment History'}
						%span.glyphicon.glyphicon-list
				- if false #b.status_complete?
					%td.t-r
						%a.btn.btn-xs.btn-default{href: "/bookings/#{b.encoded_id}/new_feedback", target: '_blank', role: "button", :title => 'Give feedback for this booking'}
							%span.glyphicon.glyphicon-edit
