- if bookings.blank?
	No bookings were found.
	%br/
	%br/
- else
	%table.table-striped.table
		%tr.active
			%th #
			%th Car
			%th Location
			%th Starts
			%th Ends
			%th Status
			%th
		- bookings.each do |b|
			%tr
				%td
					%b #{b.confirmation_key.upcase}
				%td #{b.cargroup.name}
				%td #{b.location.shortname}
				%td #{b.starts.strftime("%d %b, %Y %I:%M %p")}
				%td #{b.ends.strftime("%d %b, %Y %I:%M %p")}
				%td #{b.status_text}
				%td.t-r
					%a.btn.btn-xs.btn-default{href: "/bookings/#{b.encoded_id}", target: '_blank', role: "button", :title => 'Payment History'}
						%span.glyphicon.glyphicon-list
				- if false #b.status_complete?
					%td.t-r
						%a.btn.btn-xs.btn-default{href: "/bookings/#{b.encoded_id}/new_feedback", target: '_blank', role: "button", :title => 'Give feedback for this booking'}
							%span.glyphicon.glyphicon-edit
						
