- if !@fare.blank? && @fare[:total] != 0
	:ruby
		pricing = @booking.pricing
		tmp = ''
		h = @fare[:hours]
		d = h/24
		h -= d*24
		if d == 1
			tmp << "1 day, "
		elsif d > 0
			tmp << d.to_s + " days, "
		end
		if h == 1
			tmp << "1 hour"
		elsif h > 0
			tmp << h.to_s + " hours"
		end
		total = 0
		total = @fare[:total] + @fare[:penalty] if @fare[:total] > 0
		total = -@fare[:refund] if @fare[:refund] > 0
	- if total <= 0
		.size-20
			.fl
				- total = 0
				- if @fare[:refund] > 0
					.label.label-info
						%b
							= @fare[:refund] - @fare[:penalty]
						will be refunded
				- elsif @fare[:total] > 0
					- total = @fare[:total] + @fare[:penalty]
					.label.label-danger
						%b
							= @fare[:total] + @fare[:penalty]
						will be charged
				- else
					.label.label-info
						No extra charge
			.fr
				%h4.zoom
					= @string
					by
					= tmp.chomp(', ')
			.fc
	- if total > 0
		.bg-e.r-5.p-5.size-14.dgrey.border-c.solid
			%table{width: '100%'}
				- if @booking.defer_allowed?
					%tr
						%td.p-5
							%b Reschedule Charges
						%td
							= @string
							by
							= tmp.chomp(', ')
						%td.p-5.t-r
							₹#{show_currency total}
				- else
					%tr
						%td.p-5
							%b Reschedule Charges with security deposit
						%td
							= @string
							by
							= tmp.chomp(', ')
						%td.p-5.t-r
							₹#{show_currency(total + @booking.security_amount - @wallet_available)}
				- if @booking.defer_allowed? && !(@wallet_available>= @booking.security_amount)
					%tr
						%td.p-5
							.fl
								%b Deposit Due
							.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Fully refundable security deposit which will be released once your booking is over. It will take 5-15 days before the refund reflects in your account."}
								%u (?)
							.fc
						%td
							- if @booking.defer_allowed? && !(@wallet_available>= @booking.security_amount)
								%span
									%input{id: "changeDepositModal", name: "deposit", type: "checkbox", value:'1', onchange: "updateTotalPayment();"}
								%span
									Pay Deposit Now
								%span.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => @booking.deposit_help}
									%u (?)
							- else
								.hide
									%input{checked: "checked", id: "changeDeposit", name: "deposit", type: "checkbox", value:'1'}
						%td.p-5.t-r
							- if @booking.defer_allowed? && !(@wallet_available>= @booking.security_amount)
								#DepositChange.t-s
									₹ #{show_currency(@booking.security_amount-@wallet_available)}
							- else
								₹#{show_currency (@booking.security_amount-@wallet_available)}
					- if @booking.defer_allowed? && !(@wallet_available>= @booking.security_amount)
						%tr#DepositChangeMessage.red.t-c
							%td.p-5{colspan: '3'}
								%i
									= @booking.deposit_warning.html_safe
					%tr.f-b.size-20.black
						%td.p-5
							%b Payable Amount
						%td &nbsp;
						%td.p-5.t-r
							- if @booking.defer_allowed?
								#DepositChangeFinal ₹#{show_currency(total)}
							- else
								₹#{show_currency(total + @booking.security_amount - @wallet_available)}

		- if @booking.defer_allowed? && !(@wallet_available>= @booking.security_amount)
			:javascript
				function updateTotalPayment() {
					var $this = $("#changeDepositModal");
					if ($this.is(':checked')) {
						$("#DepositChangeMessage").hide();
						$("#DepositChange").removeClass('t-s');
						$("#DepositChangeFinal").html("₹#{show_currency(total + @booking.security_amount - @wallet_available)}");
					} else {
						$("#DepositChangeMessage").show();
						$("#DepositChange").addClass('t-s');
						$("#DepositChangeFinal").html("₹#{show_currency(total)}");
					}
				}
- else
	%h4.zoom No change in booking amount
- if CommonHelper.offers_credits_live?(@booking.created_at) && @booking.promo.present?
	.bg-e.r-5.p-5.size-14.dgrey.border-c.solid
		%table{width: '100%'}
			- if session[:promo_valid] == true
				%tr
					%td 
						Revised Discount of 
						%b ₹#{session[:promo_discount]} 
						will be applied.
			- else
				%tr
					%td 
						Discount Coupon will not be valid.
.hide
	%input{name: 'confirm', type: "text", value: '1', readonly: 'true'}
