#PromoDiv
	- @offer ||= Offer.get(session[:promo_code],@city) if !session[:promo_code].blank?
	- if @offer && !@offer[:error].blank?
		.alert.alert-danger
			= @offer[:error].html_safe
	- if session[:promo_code].blank? && session[:promo_message].blank?
		%form.promocode-form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.row
				.col-md-7.text-right.promo-input
					%input#DetailsName.validate-presence.form-control{:placeholder => "Enter Promo Code" ,name: 'promo', type: "text", value: @promo}
				.col-md-3.text-left.promo-submit
					#PromoSubmit_promo
						%button.btn.btn-default.apply_promocode_btn#use_tariff{type:"submit"} Apply

				#PromoWait{style: "display:none;"}
					.wait
				#DetailsNameError.error
	- elsif session[:promo_code].blank? && !session[:promo_message].blank?
		.p-b5
			.fl
				%b Promo Code
			.fr
				%form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo?clear=1','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
					#PromoSubmit
						%button.btn.btn-default.btn-xs{type:"submit"}
							%span.glyphicon.glyphicon-remove
					#PromoWait{style: "display:none;"}
						.wait
			.fc
		.p-b5.size-12
			%i #{session[:promo_message]}
	- else
		.p-b5
			.fr
				/ %form{:id => "PromoForm", :onsubmit => "return SubmitForm(this,'/bookings/promo?clear=1','PromoDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				/ 	#PromoSubmit
				/ 		%button.btn.btn-default.btn-xs{type:"submit"}
				/ 			%span.glyphicon.glyphicon-remove
				/ 	#PromoWait{style: "display:none;"}
				/ 		.wait
			.fc
		.col-md-12.promoCode-desc-block.clearfix.rmpad
			.col-md-4.text-right.clearfix.rmpad
				%b #{session[:promo_code]}
			.col-md-7.text-right.clearfix.rmpad
				%b.promo_amount ₹ #{session[:promo_discount]}
			.col-md-1
				%form#PromoForm{:action => "javascript:void(0)", "data-ajax" => "false", :onsubmit => "return SubmitForm(this,'/bookings/promo?clear=1','PromoDiv');"}
					#PromoSubmit
						%button.btn.btn-default.btn-xs{:type => "submit"}
							%span.glyphicon.glyphicon-remove.promoRemovespan
					#PromoWait{:style => "display: none;"}
						.wait
:javascript
	function checkNextJquery() {
		if (window.jQuery) {
			var total_str = $("#DepositFinal").text()
			total_str = total_str.replace( /[^\d]/g, '' );
			total_str = parseInt(total_str, 10) - #{session[:promo_discount]};
			$("#DepositFinal").html("₹ "+total_str);
		} else {
			window.setTimeout(checkNextJquery, 1000);
		}
	}
	checkNextJquery();
