:ruby
	loc_hash = car.locations_hash(@city)
	if location && loc_hash[location.to_s]
		if inventory[location.to_s].to_i > 0
			locs = [[org_locs.first, 1]]
		else
			locs = [[org_locs.first, 0]]
		end
		org_locs.each do |l|
			locs << [l, 1] if l.id != location && inventory[l.id.to_s].to_i > 0
		end
		org_locs.each do |l|
			locs << [l, 0] if l.id != location && inventory[l.id.to_s].to_i < 1
		end
	else
		locs = []
		org_locs.each do |l|
			locs << [l, 1] if inventory[l.id.to_s].to_i > 0
		end
		org_locs.each do |l|
			locs << [l, 0] if inventory[l.id.to_s].to_i < 1 && loc_hash[l.id.to_s].to_i == 1
		end
	end
	count = 0
	locs.each do |x|
		count += 1 if x[1] == 1
	end
	booking = Booking.new
	booking.city_id = @city.id
	booking.starts = @booking.starts
	booking.ends = @booking.ends
	booking.cargroup_id = car.id
	x = @cars.select{|c| c["id"] == car.id}
	fare = x[0]["tariff"].symbolize_keys
	tooltip = "<div class='size-12 t-l'><div class='zoom t-c f-b size-16'>Min. billing is 4 hours</div><table width='200'><tr><td>Tariff</td><td>₹#{fare[:total]}</td></tr><tr class='yellow'><td>Free Kms</td><td>#{fare[:kms]}</td></tr><tr class='yellow'><td>Excess Km Charge</td><td>₹#{x[0]['excess_kms'].to_i}/Km</td></tr></table></div>"
	h = (@booking.ends.to_i - @booking.starts.to_i)/3600
	h += 1 if (@booking.ends.to_i - @booking.starts.to_i) > h*3600
- if !locs.blank?
	.search-item
		.default
			.p-10
				%img.car-img{:src => @car_images[car.id.to_s]}
					/ %div{:class => 'car' + car.id.to_s}
				.details
					.name
						= car.display_name
					.cap
						= car.seating
						Seater
					.fc
					.disclaimer
						- if !car.disclaimer.blank?
							= car.disclaimer.html_safe
					.avail
						- if locs[0][1] == 1
							.yes{id: 'Avail' + car.id.to_s}
								Available
						- else
							.no{id: 'Avail' + car.id.to_s}
								Not Available
						.at
							at
						.loc
							.btn-group
								%button.btn.btn-default{type: "button", id: 'LocName' + car.id.to_s}
									= locs[0][0].shortname
								%button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
									%span.caret
									%span.sr-only Toggle Dropdown
								%ul.dropdown-menu{role: "menu", id: "LocMenu" + car.id.to_s}
									:ruby
										avail = false
										notavail = false
										locs.each do |l|
											if l[1] == 1
												avail = true
											else
												notavail = true
											end
										end
									- if avail
										%li.dropdown-header{role: "presentation"} Available at
										- locs.each do |l|
											- if l[1] == 1
												- if l == locs[0]
													%li.active{:id => ("LocSel" + car.id.to_s + l[0].id.to_s)}
														%a{href: "javascript:void(0)", onclick: "showAvailability(#{car.id}, #{l[0].id}, #{l[1]}, '#{l[0].shortname}', '#{car.display_name}');"}
															= l[0].shortname
												- else
													%li{:id => ("LocSel" + car.id.to_s + l[0].id.to_s)}
														%a{href: "javascript:void(0)", onclick: "showAvailability(#{car.id}, #{l[0].id}, #{l[1]}, '#{l[0].shortname}', '#{car.display_name}');"}
															= l[0].shortname
									- if avail and notavail
										%li.divider{role: "presentation"}
									- if notavail
										%li.dropdown-header{role: "presentation"} Not Available at
										- locs.each do |l|
											- if l[1] == 0
												- if l == locs[0]
													%li.active{:id => ("LocSel" + car.id.to_s + l[0].id.to_s)}
														%a{href: "javascript:void(0)", onclick: "showAvailability(#{car.id}, #{l[0].id}, #{l[1]}, '#{l[0].shortname}', '#{car.display_name}');"}
															= l[0].shortname
												- else
													%li{:id => ("LocSel" + car.id.to_s + l[0].id.to_s)}
														%a{href: "javascript:void(0)", onclick: "showAvailability(#{car.id}, #{l[0].id}, #{l[1]}, '#{l[0].shortname}', '#{car.display_name}');"}
															= l[0].shortname
						.fc
				.actions
					.tariff.r-5.help.help-event{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-placement' => 'left', 'data-title' => tooltip.html_safe, 'data-event' => "#{car.display_name}"}
						%span.size-18 ₹
						#{show_currency(fare[:total])}
						- if h < 4
							%sup.size-14 *
					- if locs[0][1] == 1
						.button{id: 'ButtonYes' + car.id.to_s, onclick: "doBooking(#{car.id}, #{locs[0][0].id}); pushEvent('Cars Selected', '#{car.shortname}', 'Search Page Listing');"}
							Book
					
						.button-dis{id: 'ButtonNo' + car.id.to_s, style: 'display:none;'}
							Book
						/	
							.btn-notify{id: 'ButtonNotify' + car.id.to_s, style: 'display:none;'}
							Notify Me
					- else
						
						.button{id: 'ButtonYes' + car.id.to_s, style: 'display:none;'}
							Book
						.button-dis{id: 'ButtonNo' + car.id.to_s}
							Book
						/	
							.button{id: 'ButtonYes' + car.id.to_s, style: 'display:none;'}
								Book
							.btn-notify{id: 'ButtonNotify' + car.id.to_s, onclick: "doBookingNotify(#{car.id}, #{locs[0][0].id});"}
								Notify Me
				.fc
		.timeline
			%div{id: 'Timeline' + car.id.to_s}
			.tc{id: 'TimelineWait' + car.id.to_s, style: 'display:none;'}
				.wait
		.timeline-action{onclick: "showTimeline('#{car.id}', 0, '#{car.display_name}');"}
			.text{id: 'TimelineText' + car.id.to_s} Show Availability
			.arrw{id: 'TimelineAction' + car.id.to_s}
				.arrw-d
			.fc
