- cargroup = @booking.cargroup
- location = @booking.location
- fare = cargroup.check_fare(@booking.starts, @booking.ends)
.bg-w.bs-9.grey.droid.size-14
	.bg-zoomb.white.p-5.f-b.size-20.p-l10.p-r10
		.fl
			Booking Summary
		.fr
			.glyphicon.glyphicon-pencil.pointer.help{onclick: "showSearch();", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Change your booking"}
		.fc
	.p-10.t-c.size-16
		%b
			= cargroup.display_name
		%br/
		- if !cargroup.disclaimer.blank?
			.red.size-10
				= cargroup.disclaimer.html_safe
		.m-auto{:class => 'car' + @booking.cargroup_id.to_s}
		Available at 
		%b.help.pointer{onclick: "showModal('#{location.shortname}', '/map?lat=#{location.lat}&lng=#{location.lng}&title=#{location.shortname}');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Click here to see map"}
			%u
				= location.shortname
		- if !location.disclaimer.blank?
			.red.size-10
				= location.disclaimer.html_safe
	.p-10.bg-e
		.p-b5.f-b
			.fl
				Pickup Time
			.fr
				Dropoff Time
			.fc
		.size-12
			.fl
				= @booking.starts.strftime("%d/%m/%y %I:%M %p")
			.fr
				= @booking.ends.strftime("%d/%m/%y %I:%M %p")
			.fc
	.p-10.bg-c.t-c
		:ruby
			tmp = ''
			if fare[:days] == 1
				tmp << "1 day, "
			elsif fare[:days] > 0
				tmp << fare[:days].to_s + " days, "
			end
			if fare[:hours] == 1
				tmp << "1 hour"
			elsif fare[:hours] > 0
				tmp << fare[:hours].to_s + " hours"
			end
		Rented for
		%b
			= tmp.chomp(', ')
	.p-10
		%table{width: '100%'}
			%tr
				%td.p-5
					%b Normal Tariff
				%td.p-5.t-r
					= fare[:estimate]
			%tr
				%td.p-5
					%b Discount
				%td.p-5.t-r
					= fare[:discount]
	.bg-6.t-c.white.f-b.size-18
		.p-10.fl
			Total :
			= fare[:estimate] - fare[:discount]
		.calc.m-5.fr.help{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Tariff Estimator"}
		.fc
	.p-10.bg-e#promo{style:"padding-bottom:0px"}
		%table{width:'100%'}
			%tr
				%td.p-5
					%b Promo Code (optional)
			%tr
				%td.p-5
					%input#promo_code_text.pull-left{type: "text", style:"width:70%; height:30px; border:1px solid #6ABD19;"}
					%a.btn.clearfix{href:"javascript:applyPromoCode();"}
						Go
						%span.glyphicon.glyphicon-arrow-right

	.p-10.size-12
		%table{width: '100%'}
			%tr
				%td.p-5.f-b
					.fl Free Kms
					.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "All Zoom reservation comes with free driving kms, which are based on vehicle type and reservation duration."} (?)
					.fc
				%td.p-5.t-r
					= fare[:kms]
			%tr
				%td.p-5.f-b
					.fl Excess Kms Charge
					.fl.p-l5.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "If you travel more than #{fare[:kms]} Kms during the reservation, then Kms beyond #{fare[:kms]} will be charged at this price. Click here to enter your expected Kms to estimate your final tariff."} (?)
					.fc
				%td.p-5.t-r
					Rs.#{cargroup.excess_kms.to_i} / Km
%br/
%br/
