:ruby
	cargroup = @booking.cargroup
	location = @booking.location
	fare = @booking.get_fare
	pricing = @booking.pricing
	deal = @booking.promo.present? && @booking.promo.include?('SQUIRREL') ? 'SQUIRREL' : ''
	discnt = deal.present? ? fare[:total].to_i*@discount/100 : 0
	tmp = ''
	h = (@booking.ends.to_i - @booking.starts.to_i)/3600
	h += 1 if (@booking.ends.to_i - @booking.starts.to_i) > h*3600
	d = h/24
	h -= d*24
	if d == 1
		tmp << "1 day, "
	elsif d > 0
		tmp << d.to_s + " days, "
	end
	if h == 1
		tmp << "1 hour"
	elsif h > 0
		tmp << h.to_s + " hours"
	end
.bg-w.bs-9.grey.size-14
	.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
		.fl
			Booking Summary
		.fr
			- if deal != 'SQUIRREL'
				.glyphicon.glyphicon-pencil.pointer.help{onclick: "showSearch();", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Change your booking"}
		.fc
	.p-r20.p-l30.size-16.border-b-c
		.fl.m-l20.colored
			%img.m-auto{:src => asset_url(cargroup.small_image.avatar.url),:class => 'car' + @booking.cargroup_id.to_s}
			/ .m-auto{:class => 'car' + @booking.cargroup_id.to_s}
		.fl.p-t15.p-l15
			.size-20.f-b.zoom-b
				= cargroup.display_name
				- if !cargroup.disclaimer.blank?
					%span.red.size-12.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => cargroup.disclaimer.html_safe}
						[?]
			.size-14.m-t5.lgrey
				= cargroup.seating
				Seater
		.fc

	.border-b-c
		.time.fl.p-t10.p-b10.p-l8.p-r5
			.text-up.size-11.m-b3
				Pickup Time
			.zoom-b.f-b.size-12
				= @booking.starts.strftime("%d %b, %Y - %I:%M %p")

		.time.fl.p-t10.p-b10.p-l8.p-r5.border-l-c
			.text-up.size-11.m-b3
				Dropoff Time
			.zoom-b.f-b.size-12
				= @booking.ends.strftime("%d %b, %Y - %I:%M %p")
		.fc

	.border-b-c
		#location.p-t10.p-b10.p-l5.p-r5.icon
			.text-up.size-11.m-b3
				Pickup Location
			.zoom-b.f-b.size-12
				= location.shortname

				%span.size-11.help.pointer{onclick: "showModal('#{location.shortname}', '/map?lat=#{location.lat}&lng=#{location.lng}&title=#{location.shortname}');"}
					(view map)

				- if !location.disclaimer.blank?
					- if location.id == 10 or location.id == 8
						%div.red.size-11.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => location.disclaimer.html_safe}
							(not a resident?)
					- elsif location.id == 11 or location.id == 33
						%div.red.size-11.help.pointer.f-n{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => location.disclaimer.html_safe}
							(not an employee?)
					- else
						%span.red.size-12.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => location.disclaimer.html_safe}
							[?]

			- if !location.disclaimer.blank?
				.red.size-10.m-t5
					= location.disclaimer.html_safe

	.border-b-c
		#duration.p-t10.p-b10.p-l5.p-r5.icon
			.text-up.size-11.m-b3
				Duration
			.zoom-b.f-b.size-12
				= tmp.chomp(', ')

	%table.m-t10.position-r{width: '100%'}
		/ %tr
		/ 	%td.p-5.p-l20.size-12
		/ 		.fl.text-up
		/ 			Tariff
		/ 		- if h < 4
		/ 			.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Minimum billing is 4 hours."}
		/ 				[?]
		/ 		.fc
		/ 	%td.p-5.t-r.p-r20.zoom-b.f-b.size-16
		/ 		₹ #{show_currency fare[:total]}

		/ %tr
		/ 	%td.p-5.p-l20.text-up.size-12
		/ 		Discount
		/ 	%td.p-5.t-r.p-r20.zoom-b.f-b.size-16
		/ 		\ ₹ 0

		%tr.bg-e
			%td.p-10.p-l20.size-12
				%b.text-up Tariff
				%span.size-12.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Tariff Calculator"}
					[?]
			%td.p-10.t-r.p-r20.zoom-b.f-b.size-16
				₹ #{show_currency fare[:total]}

		- if discnt > 0
			%tr
				%td.p-10.p-l20.p-b10.text-up.size-12
					Deal Discount
				%td.p-10.t-r.p-r20.p-b10.zoom.f-b.size-16
					\- ₹ #{show_currency discnt}

		%tr
			%td.p-10.p-l20.p-b10.text-up.size-12
				Fuel, GPS, Insurance & Taxes
			%td.p-10.t-r.p-r20.p-b10.zoom.f-b.size-16
				Free

		- if pricing.mode::SECURITY > 0
			%tr
				%td.p-5.p-l20.size-12
					.fl.text-up
						Refundable Deposit
					.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Fully refundable security deposit which will be released once your booking is over. It will take 5-15 days before the refund reflects in your account."}
						[?]
					.fc
				%td.p-5.t-r.p-r20.zoom-b.f-b.size-16.securityTotal
					₹ #{show_currency pricing.mode::SECURITY}

			%tr
				%td.p-l20.p-b10.size-11{:colspan => 2}
					%span.f-i You can delay paying this to just before your trip.
					%span.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => @booking.deposit_help}
						[?]

		%tr.bg-6.white.bg-zoom
			%td.p-10.p-l20.text-up.size-16.f-b
				Payable Amount
			%td.p-10.t-r.p-r20.size-22.outstandingSide{nowrap: ""}
				₹ #{show_currency(fare[:total] + pricing.mode::SECURITY - discnt)}

		%tr
			%td.p-5.p-l20.p-t10.size-12
				.fl.text-up Free Kms
				.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "All Zoomcar reservations comes with free driving kms, which are based on vehicle type and reservation duration."}
					[?]
				.fc
			%td.p-5.t-r.p-r20.p-t10.zoom-b.f-b.size-16
				= fare[:kms]
		%tr
			%td.p-5.p-b10.p-l20.size-12
				.fl.text-up Excess Kms Charge
				.fl.p-l5.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "If you travel more than #{fare[:kms]} Kms during the reservation, then Kms beyond #{fare[:kms]} will be charged at this price. Click here to enter your expected Kms to estimate your final tariff."}
					[?]
				.fc
			%td.p-5.p-b10.t-r.p-r20.zoom-b.f-b.size-16
				₹ #{pricing.excess_kms.to_i} / Km

- if false
	%br/
	.bg-w.bs-9.grey.droid.size-14
		.bg-zoomb.white.p-5.f-b.size-18.p-l10.p-r10
			Booking Includes
		.p-5.t-c.size-16
			.tariff-includes
				.item
					.p-5
						.all-in
				.item
					.p-5
						.fuel
				.item
					.p-5
						.insurance
				.item
					.p-5
						.taxes
				.item
					.p-5
						.navigation
				.item
					.p-5
						.deposit
%br/
%br/
