:ruby
	cargroup = @booking.cargroup
	location = @booking.location
	fare = @booking.get_fare
	pricing = @booking.pricing
	tmp = ''
	h = (@booking.ends.to_i - @booking.starts.to_i)/3600
	h += 1 if (@booking.ends.to_i - @booking.starts.to_i) > h*3600
	d = h/24
	h -= d*24
	if d == 1
		tmp << "1 day, "
	elsif d > 0
		tmp << d.to_s + " days, "
	end
	if h == 1
		tmp << "1 hour"
	elsif h > 0
		tmp << h.to_s + " hours"
	end
.bg-w.bs-9.grey.droid.size-14
	.bg-zoomb.white.p-5.f-b.size-18.p-l10.p-r10
		.fl
			Booking Summary
		.fr
			.glyphicon.glyphicon-pencil.pointer.help{onclick: "showSearch();", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Change your booking"}
		.fc
	.p-10.t-c.size-16
		%b
			= cargroup.display_name
		%br/
		- if !cargroup.disclaimer.blank?
			.red.size-10
				= cargroup.disclaimer.html_safe
		.colored
			.m-auto{:class => 'car' + @booking.cargroup_id.to_s}
		Location :
		%b
			%u
				= location.shortname
			%span.size-12.help.pointer{onclick: "showModal('#{location.shortname}', '/map?lat=#{location.lat}&lng=#{location.lng}&title=#{location.shortname}');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Click here to see the map"}
				(?)
		- if !location.disclaimer.blank?
			.red.size-10
				= location.disclaimer.html_safe
	.p-5.bg-e
		.p-l5.p-r5.f-b
			.fl
				Pickup Time
			.fr
				Dropoff Time
			.fc
		.p-l5.p-r5.size-12
			.fl
				= @booking.starts.strftime("%d/%m/%y %I:%M %p")
			.fr
				= @booking.ends.strftime("%d/%m/%y %I:%M %p")
			.fc
	.p-5.bg-c.t-c
		Rented for
		%b
			= tmp.chomp(', ')
	%table{width: '100%'}
		%tr
			%td.p-5.p-l10
				.fl
					%b Tariff
				- if h < 4
					.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Minimum billing is 4 hours."}
						%u (?)
				.fc
			%td.p-5.t-r.p-r10
				₹#{show_currency fare[:total]}
		%tr
			%td.p-5.p-l10
				%b Discount
			%td.p-5.t-r.p-r10
				\- ₹0
		%tr.bg-c
			%td.p-5.p-l10.f-b
				%b.black Total Tariff
				%span.size-12.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Tariff Calculator"}
					%u (view calculator)
			%td.p-5.t-r.p-r10.black.f-b
				₹#{show_currency fare[:total]}
		- if pricing.mode::SECURITY > 0
			%tr
				%td.p-5.p-l10
					.fl
						%b Refundable Deposit
					.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Fully refundable security deposit which will be released once your booking is over."}
						%u (?)
					.fc
				%td.p-5.t-r.p-r10
					₹#{show_currency pricing.mode::SECURITY}
		%tr.bg-6.white.f-b.size-16
			%td.p-5.p-l10
				Payable Amount
			%td.p-5.t-r.p-r10
				₹#{show_currency(fare[:total] + pricing.mode::SECURITY)}
		%tr
			%td.p-5.p-l10.f-b
				.fl Free Kms
				.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "All Zoom reservations comes with free driving kms, which are based on vehicle type and reservation duration."}
					%u (?)
				.fc
			%td.p-5.t-r.p-r10
				= fare[:kms]
		%tr
			%td.p-5.p-l10.f-b
				.fl Excess Kms Charge
				.fl.p-l5.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "If you travel more than #{fare[:kms]} Kms during the reservation, then Kms beyond #{fare[:kms]} will be charged at this price. Click here to enter your expected Kms to estimate your final tariff."}
					%u (?)
				.fc
			%td.p-5.t-r.p-r10
				₹#{cargroup.excess_kms.to_i} / Km
- if false
	%br/
	.bg-w.bs-9.grey.droid.size-14
		.bg-zoomb.white.p-5.f-b.size-18.p-l10.p-r10
			Booking Includes
		.p-5.t-c.size-16
			.tariff-includes
				.item
					.p-5
						.all-in
				.item
					.p-5
						.fuel
				.item
					.p-5
						.insurance
				.item
					.p-5
						.taxes
				.item
					.p-5
						.navigation
				.item
					.p-5
						.deposit
%br/
%br/
