:ruby
	@pricing = @booking.pricing if !@pricing
	@total = 0
	tmp = 0
%table.table.table-bordered
	%tr.active
		%td{:colspan => '2'}
			%h4.f-b Fare Breakdown
	- @booking.charges.each do |c|
		- if !['early_return', 'security_deposit', 'security_deposit_refund'].include?(c.activity)
			%tr
				%td
					= c.activity_text
				%td.t-r
					- if c.refund > 0
						₹#{"-" + show_currency(c.amount)}
						- tmp -= c.amount
					- else
						₹#{show_currency(c.amount)}
						- tmp += c.amount
	%tr.f-b.bg-c
		%td
			Total Tariff
		%td.t-r
			₹#{show_currency(tmp)}
	- deposit = false
	- @booking.charges.each do |c|
		- if ['security_deposit', 'security_deposit_refund'].include?(c.activity)
			- deposit = true
			%tr
				%td
					- if c.activity == 'security_deposit'
						Refundable Deposit
					- else
						= c.activity_text
				%td.t-r
					- if c.refund > 0
						₹#{"-" + show_currency(c.amount)}
						- tmp -= c.amount
					- else
						₹#{show_currency(c.amount)}
						- tmp += c.amount
	- if !deposit
		- deposit = @booking.status < 9 ? @pricing.mode::SECURITY : 0
		%tr
			%td
				Refundable Deposit
			%td.t-r
				#Deposit.t-s
					₹#{show_currency(deposit)}
	%tr.f-b.bg-c
		%td
			Total Amount
		%td.t-r
			₹#{show_currency(tmp)}
			- @total += tmp
			- tmp = 0
	%tr.active
		%td{:colspan => '2'}
			.row
				.col-md-10
					%h4.f-b Payments Received
				.col-md-2
					- if payments && @booking.payments.length > 0
						.m-t5
							%a.btn.btn-xs.btn-default{href: "/bookings/#{@booking.encoded_id}/payments", target: '_blank', role: "button", :title => 'See Details'}
								%span.glyphicon.glyphicon-list
	- @booking.confirmed_payments.each do |p|
		%tr
			%td
				= p.through_text + " Payment"
			%td.t-r
				₹#{show_currency(p.amount)}
				- tmp += p.amount
	%tr.f-b
		%td
			Total
		%td.t-r
			₹#{show_currency(tmp)}
	:ruby
		@total -= tmp
		tmp = 0
		refunds = @booking.confirmed_refunds
		refunds.each do |r|
			tmp += r.amount if !r.through.include?('early_return')
		end
		@total += tmp
	- if tmp > 0
		%tr.active
			%td{:colspan => '2'}
				%h4.f-b Refunds Issued
		- refunds.each do |r|
			- if !r.through.include?('early_return')
				%tr
					%td
						= r.through_text
					%td.t-r
						₹#{show_currency(r.amount)}
		%tr.f-b
			%td
				Total
			%td.t-r
				₹#{show_currency(tmp)}
	- if !@booking.promo.blank?
		%tr.bg-e
			%td{:colspan => '2'}
				.fl.f-b Promo Code
				.fr #{@booking.promo}
				.fc
	- if @total > 0
		%tr.danger.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
	- elsif @total < 0
		%tr.success.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
	- else
		%tr.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
