:ruby
	if !flash[:error].blank? && flash[:error].include?('transaction') && flash[:error].include?('failed')
		survey = true
	else
		survey = false
	end
	offer = @booking.offer
	@pricing = @booking.pricing
	outstanding_amount = @booking.outstanding
	security_remaining = @booking.security_amount_remaining
	payable_amount = outstanding_amount>=0 ? (outstanding_amount + security_remaining) : security_remaining
%table.table.table-bordered
	%tr.active
		%td{:colspan => '2'}
			%h4.f-b Fare Breakdown
	- total_charge = 0
	- @booking.charges.each do |charge|
		- total_charge += charge.refund==0 ? charge.amount : -charge.amount
		%tr
			-if !['early_return_charge','early_return_refund'].include? charge.activity
				-if !['security_deposit'].include? charge.activity
					%td
						= charge.activity.titleize
					%td.t-r
						#{charge.refund==0 ? '' : '-'}₹ #{show_currency charge.amount}
				- else
					%td
						Refundable Deposit
					%td.t-r
						#{charge.refund==0 ? '' : '-'}₹ #{show_currency charge.amount}
	%tr.f-b.bg-c
		%td
			Total Tariff
		%td.t-r
			₹#{show_currency(total_charge)}

	%tr.active
		%td{:colspan => '2'}
			.row
				.col-md-10
					%h4.f-b Payments Received
				.col-md-2
	- total_payu=0
	- @booking.confirmed_payments.where("through IN ('citruspay', 'juspay', 'payu')").each do |p|
		%tr
			%td
				Amount Paid (#{p.created_at.strftime('%Y-%m-%d')})
			%td.t-r
				₹#{show_currency(p.amount)}
				- total_payu += p.amount
	%tr.f-b
		%td
			Total
		%td.t-r
			₹#{show_currency(total_payu)}
	%tr.active
		%td{:colspan => '2'}
			%h4.f-b Refunds Issued
	- total_payu_refund=0
	- @booking.confirmed_refunds.each do |r|
		- if !r.through.include?('early_return') && !['wallet', 'wallet_widget'].include?(r.through)
			- total_payu_refund+=r.amount
			%tr
				%td
					Amount Refunded (#{r.created_at.strftime('%Y-%m-%d')})
				%td.t-r
					₹#{show_currency(r.amount)}
	%tr.f-b
		%td
			Total
		%td.t-r
			₹#{show_currency(total_payu_refund)}
	%tr.active
		%td{:colspan => '2'}
			%h4.f-b Zoomcar Wallet
	- total_wallet=0
	- @booking.confirmed_refunds.each do |r|
		- if ['wallet', 'wallet_widget'].include?(r.through)
			- total_wallet+=r.amount
			%tr
				%td
					Added to Wallet 
				%td.t-r
					₹#{show_currency(r.amount)}
	- @booking.confirmed_payments.each do |r|
		- if ['wallet'].include?(r.through)
			- total_wallet-=r.amount
			%tr
				%td
					Paid from Wallet
				%td.t-r
					\- ₹#{show_currency(r.amount)}
	%tr.f-b
		%td
			Total
		%td.t-r
			₹#{show_currency(total_wallet)}
	- if !@booking.promo.blank?
		%tr.bg-e
			%td{:colspan => '2'}
				.fl.f-b Promo Code
				.fr #{@booking.promo}
				.fc
	- @total = @booking.outstanding
	- if @total > 0
		%tr.danger.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
	- elsif @total < 0
		%tr.success.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
	- else
		%tr.size-16
			%td
				%b Outstanding
			%td.t-r.f-b
				#DepositFinal ₹#{show_currency(@total)}
