- @inventory.each do |i|
	- slot = i.slot - 330.minutes
	- if slot.hour == 0 && slot.min == 0
		.fc
		.date
			= slot.strftime("%d-%m-%y")
	- if i.slot.to_i >= (@booking.starts.to_i + 330*60) && i.slot.to_i < (@booking.ends.to_i + 330*60)
		- if slot.min == 0
			.b
		- if i.total > 1
			.g.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Available"}
		- elsif i.total == 1
			.o.sel.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Only 1 Available"}
		- else
			.r.sel.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Not Available"}
	- else
		- if slot.min == 0
			.b
		- if i.total > 1
			.g.unsel.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Available<br/>Outside Selection"}
		- elsif i.total == 1
			.o.unsel.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Only 1 Available<br/>Outside Selection"}
		- else
			.r.unsel.help{'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "#{slot.strftime("%I:%M %p")}<br/>Not Available<br/>Outside Selection"}
.fc
