:ruby
	if !@booking
		@booking = Booking.new
		if !session[:search].blank?
			@booking.starts = Time.zone.parse(session[:search][:starts]) if !session[:search][:starts].blank?
			@booking.ends = Time.zone.parse(session[:search][:ends]) if !session[:search][:starts].blank?
			@booking.location_id = session[:search][:loc]
			@booking.cargroup_id = session[:search][:car]
		end
	end
.wrapper
	%form{:id => "SearchForm", :onsubmit => "return SubmitForm(this,'/#{@city.name}/search/nav','SearchFormDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
		.item
			#StartDate.box.datetimebox
				.cal
				.txt
					- if @booking.starts.blank?
						%input#StartDateVal.datetime.validate-presence.starts-nav{name: 'starts', type: "text", value: "Pickup Date & Time*", readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
					- else
						%input#StartDateVal.datetime.validate-presence.starts-nav{name: 'starts', type: "text", value: @booking.starts.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
				.arrw
				.fc
			#StartDateValError.error
				= errortxt(@booking.errors[:starts].uniq.join(', '))
		.item
			#EndDate.box.datetimebox
				.cal
				.txt
					- if @booking.ends.blank?
						%input#EndDateVal.datetime.validate-presence.ends-nav{name: 'ends', type: "text", value: "Dropoff Date & Time*", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					- else
						%input#EndDateVal.datetime.validate-presence.ends-nav{name: 'ends', type: "text", value: @booking.ends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
				.arrw
				.fc
			#EndDateValError.error
				= errortxt(@booking.errors[:ends].uniq.join(', '))
		.item
			.dropdown
				#Locations.dropdown-toggle.box{'data-toggle' => "dropdown"}
					.loc
					#LocationHtml.txt
						- if @booking.location_id.blank?
							Choose your location
						- else
							= @booking.location.shortname
					.arrw
					.fc
				%ul.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Locations'}
					%li{:id => ("Location"), :role => "presentation"}
						%a{:href => "javascript:void(0)", :onclick => "changeLocation('','All Locations','nav');"}
							All Locations
					-Zone.where(:city_id=>1).each do |z|
						%li.dropdown-submenu
							%a{:href=>"#"} 
								=z.name
								%ul.dropdown-menu
									- Location.live.each do |l|
										- if l.zone_id == z.id
											- if l.id == @booking.location_id
												%li.active{:id => ("Location" + l.id.to_s), :role => "presentation"}
													%a{:href => "javascript:void(0)", :onclick => "changeLocation(#{l.id},'#{l.shortname}','nav');"}
														= l.shortname
											- else
												%li{:id => ("Location" + l.id.to_s), :role => "presentation"}
													%a{:href => "javascript:void(0)", :onclick => "changeLocation(#{l.id},'#{l.shortname}','nav');"}
														= l.shortname
		.item
			.dropdown
				#Cars.dropdown-toggle.box{'data-toggle' => "dropdown"}
					.car
					#CarsHtml.txt
						- if @booking.cargroup_id.blank?
							Select a car
						- else
							= @booking.cargroup.shortname
					.arrw
					.fc
				%ul.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Cars'}
					%li{:id => ("Cars"), :role => "presentation"}
						%a{:href => "javascript:void(0)", :onclick => "changeCar('','All Cars','Cars','nav');"}
							All Cars
					- Cargroup.list.each do |c|
						- if c.id == @booking.cargroup_id
							%li.active{:id => ("Cars" + c.id.to_s), :role => "presentation"}
								%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','Cars','nav');"}
									= c.shortname
						- else
							%li{:id => ("Cars" + c.id.to_s), :role => "presentation"}
								%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','Cars','nav');"}
									= c.shortname
		.hide
			%input#LocationVal{name: 'loc', type: "text", value: @booking.location_id, readonly: 'true'}
			%input#CarsVal{name: 'car', type: "text", value: @booking.cargroup_id, readonly: 'true'}
		#SearchSubmit.fl.button
			= submit_tag "", :class => 'inpt'
		.fc
		#SearchWait.p-5{style: "display:none;"}
			.wait
- if request.post?
	- if @booking && @booking.valid?
		:javascript
			pushEvent('Navigation Search', 'Submit');
			window.location = "http://#{HOSTNAME}/#{@city.name}/search";
	- else
		:javascript
			pushEvent('Navigation Search', 'Submit');
			initializeDatePicker();
- else
	:javascript
		function checkJquery() {
			if (window.jQuery) {
				initializeDatePicker();
			} else {
				window.setTimeout(checkJquery, 1000);
			}
		}
		checkJquery();
