:ruby
	if @booking
		cargroup = @booking.cargroup
		location = @booking.location
	else
		cargroup = Cargroup.random(@city)
		location = Location.random(@city)
		@booking = Booking.new
		@booking.starts = Time.today + 30.days
		@booking.ends = Time.today + 31.days
		@booking.location_id = location.id
		@booking.cargroup_id = cargroup.id
		@booking.city_id = @city.id
		@booking.valid?
	end
	if current_user
		user = current_user
	else
		user = User.find(100)
		user.name = 'xxxxxxxxx'
		user.email = 'xxxxxxxxx'
		user.phone = 'xxxxxxxxx'
		user.dob = Time.now - 25.years
	end
.content
	= render :partial => "/bookings/search_steps", locals: {step: 4}
	.wrapper
		- render_flash
		.main-content.fl.bg-w.bs-9
			.p-20
				- if user && user.check_details
					.alert.alert-info
						%b Please check the details before proceeding further
					.p-b10
						%b.droid.size-20 User Details
					%table.table
						%tr
							%td
								%b Name
							%td
								= user.name
						%tr
							%td
								%b Email
							%td
								= user.email
						%tr
							%td
								%b Mobile
							%td
								= user.phone
						%tr
							%td
								%b Date of Birth
							%td
								= user.dob.strftime("%d/%m/%Y")
					- if user.support?
						#CorporateDiv
							= render :partial => 'corporate'
					#OutstandingDiv
						= render :partial => 'outstanding'
					.t-c
						.m-auto.p-20{style: "width:200px;"}
							- if @available == 1 && user && !user.is_blacklisted? && !user.is_underage?
								%form{:action => "/#{@city.name.downcase}/bookings/docreate", :id => "CheckoutForm", :method => "post"}
									.hide
										%input{name: "starts", type: "hidden", value: session[:book][:starts]}
										%input{name: "ends", type: "hidden", value: session[:book][:ends]}
										%input{name: "loc", type: "hidden", value: session[:book][:loc]}
										%input{name: "car", type: "hidden", value: session[:book][:car]}
										%input{name: "deposit", type: "hidden", value: 1, id: "checkoutDeposit"}
									%input.button.m-auto{style: "width:100%;", type: "submit", value: "Checkout"}
							- else
								.button-dis Checkout
							#CheckoutWait{style: 'display:none;'}
								%br/
								.wait
						= render :partial => "/bookings/blacklist"
				- else
					.alert.alert-info.t-c
						%b Please provide the following details to complete your reservation
					.p-b10
						= render :template => "/users/signup"
					.t-c.f-b.f-i
						On submitting, you will proceed to payment
		.sidebar-fixed.fr
			= render :partial => "/bookings/sidebar", locals: {step: 4}
		.fc
		%br/
:javascript
	var _adx = {};
	_adx.xb  = '35BDU410';
	_adx.xt  = 'conversion';
	_adx.xgid  = '6AMDq23';
	(function(d){
		var x = d.createElement('script');
		x.async = true;
		x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
		var s = d.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(x, s);
	})(document);
