= render :partial => '/bookings/pg/thanks'
- if !session[:ref_immediate].blank?
	- if session[:ref_immediate].downcase.include?('af_tt_')
		.hide
			%iframe{src: "http://trootrac.in/p.ashx?o=10364&p=1&t=#{@booking.confirmation_key}", height:"1", width:"1", frameborder:"0"}
:ruby
	cargroup = @booking.cargroup
	location = @booking.location
- if @booking.confirmed_payments.length == 1
	:javascript
		var _adx = {};
		_adx.xb  = '35BDU410';
		_adx.xt  = 'conversion';
		_adx.xtid = '#{@booking.confirmation_key}';
		_adx.xcv = '#{@booking.total.to_i}';
		(function(d){
			var x = d.createElement('script');
			x.async = true;
			x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
			var s = d.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(x, s);
		})(document);
		var google_conversion_id = 1008563335;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "WzjPCOmI-wcQh-n14AM";
		var google_conversion_value = 0;
		var google_remarketing_only = false;

		var fb_param = {};
		fb_param.pixel_id = '6012188478130';
		fb_param.value = "#{@booking.total.to_i}";
		fb_param.currency = 'INR';
		(function(){
			var fpw = document.createElement('script');
			fpw.async = true;
			fpw.src = '//connect.facebook.net/en_US/fp.js';
			var ref = document.getElementsByTagName('script')[0];
			ref.parentNode.insertBefore(fpw, ref);
		})();
		
		_gaq.push(['_addTrans',
			"#{@booking.confirmation_key}", 
			"", 
			"#{@booking.total}", 
			"0.0", 
			"0.0", 
			"Bangalore", 
			"Karnataka", 
			"India"
		]);

		_gaq.push(['_addItem',
			"#{@booking.confirmation_key}", 
			"#{cargroup.encoded_id}", 
			"#{cargroup.name}", 
			"#{location.name}", 
			"#{@booking.total}", 
			"1"
		]);
		_gaq.push(['_trackTrans']);
	%script{type: "text/javascript", src: "//www.googleadservices.com/pagead/conversion.js"}
