%div.droid.size-14.grey.t-c
	%br/
	.p-20.zoom.size-14.f-b
		%img{:src => "http://#{HOSTNAME}/images/logo.jpg", :alt => 'Zoomcar', :border => '0'}/
	%br/
	.bs-zoom.r-10{:style => "background:#eeeeee; padding:50px 0; width:600px; margin:auto; line-height:30px;"}
		%b.size-24 Please wait while we process your request
		%br
		Please dont refresh this page or use back button
		%br/
		%br/
		%img{:src => "http://#{HOSTNAME}/images/loader.gif", :alt => '', :border => '0'}
		%br/
		%br/
		Use the below button if you are not redirected within 10 seconds
		.p-t10
			%a.btn.btn-default{href: "/bookings/" + @booking.encoded_id} Proceed to Zoomcar
	:javascript
		window.onload = function() {
			var auto = setTimeout(function(){ submitform(); }, 3000);
			function submitform() {
				clearTimeout(auto);
				window.location = "http://#{HOSTNAME}/bookings/#{@booking.encoded_id}";
			}
		}
- if @booking.confirmed_payments.length == 1
	:javascript
		var _adx = {};
		_adx.xb  = '35BDU410';
		_adx.xt  = 'conversion';
		_adx.xtid = '#{@booking.confirmation_key}';
		_adx.xcv = '#{@booking.total.to_i}';
		(function(d){
			var x = d.createElement('script');
			x.async = true;
			x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
			var s = d.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(x, s);
		})(document);
		var google_conversion_id = 1008563335;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "WzjPCOmI-wcQh-n14AM";
		var google_conversion_value = 0;
		var google_remarketing_only = false;
		
		var fb_param = {};
		fb_param.pixel_id = '6012062102930';
		fb_param.value = '0.00';
		fb_param.currency = 'USD';
		(function(){
			var fpw = document.createElement('script');
			fpw.async = true;
			fpw.src = '//connect.facebook.net/en_US/fp.js';
			var ref = document.getElementsByTagName('script')[0];
			ref.parentNode.insertBefore(fpw, ref);
		})();
	%script{type: "text/javascript", src: "//www.googleadservices.com/pagead/conversion.js"}
