- user = @booking.user
.wrapper.droid
	.m-10.t-c
		= image_tag 'logo.jpg'
	%table.table
		%tr
			%td.col-md-3
				%b.size-16 Zoomcar India Pvt. Ltd.
				%br/
				117, 2nd Cross, 
				%br/
				HAL 3rd Stage, 
				%br/
				Bangalore - 560075 
				%br/
				Ph: 080-67684475
				%br/
				%b
					= @booking.ends.strftime("%d %b, %Y")
			%td.t-c
				%h1.f-b
					= "Receipt #" + @booking.confirmation_key.upcase
			%td.t-r.col-md-3
				.bg-e.r-5.p-10
					%b.size-16 Billed To
					%br/
					= user.name
					%br/
					= user.email
					%br/
					= user.phone
	.row
		.col-md-6.size-16
			.row
				.col-md-4
					.p-5 
						%b Car
				.col-md-8
					.p-5
						= @booking.cargroup.name
			.row
				.col-md-4 
					.p-5
						%b Rented From
				.col-md-8
					.p-5
						= @booking.location.name
			.row
				.col-md-4
					.p-5
						%b Pickup Time
				.col-md-8
					.p-5
						= @booking.starts.strftime("%d %b, %Y %I:%M %p")
			.row
				.col-md-4
					.p-5
						%b Dropoff Time
				.col-md-8
					.p-5
						= @booking.ends.strftime("%d %b, %Y %I:%M %p")
		.col-md-6
			= render :partial => '/bookings/summary', :locals => {:payments => false}
	.m-20.t-c
		This is an electronically generated receipt and doesn't require a signature
