:ruby
	if @booking
		cargroup = @booking.cargroup
		location = @booking.location
	else
		cargroup = Cargroup.random
		location = Location.random
		@booking = Booking.new
		@booking.starts = Time.today + 1.days
		@booking.ends = Time.today + 2.days
		@booking.location_id = location.id
		@booking.cargroup_id = cargroup.id
	end
	@fare = cargroup.check_fare(@booking.starts, @booking.ends)
.content
	=# render :partial => "/bookings/search_steps", locals: {step: 4}
	.wrapper
		- render_flash
		.bg-w.bs-9
			.bg-zoomb.white.p-5.f-b.size-20.p-l10.p-r10
				.fl
					Booking Summary
				.fr
					.glyphicon.glyphicon-pencil.pointer.help{onclick: "showSearch();", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Change your booking"}
				.fc
			.row
				.col-md-6
					.p-l15
						.p-10.t-c.size-16
							%b
								= cargroup.display_name
							%br/
							- if !cargroup.disclaimer.blank?
								.red.size-10
									= cargroup.disclaimer.html_safe
							.colored
								%img.m-auto{:src => asset_url(cargroup.small_image.avatar.url),:class => 'car' + @booking.cargroup_id.to_s}
								/ .m-auto{:class => 'car' + cargroup.id.to_s}
							Available at
							%br/
							%b
								= location.shortname
							- if !location.disclaimer.blank?
								.red.size-10
									= location.disclaimer.html_safe
						.m-t10.m-b10
							#Gmap{style: 'height:300px; width:100%;'}
						- if current_user && current_user.check_details
							.p-b10
								%b.droid.size-20 User Details
							%table.table
								%tr
									%td
										%b Name
									%td
										= current_user.name
								%tr
									%td
										%b Email
									%td
										= current_user.email
								%tr
									%td
										%b Mobile
									%td
										= current_user.phone
								%tr
									%td
										%b Date of Birth
									%td
										= current_user.dob.strftime("%d/%m/%Y")
				.col-md-6.size-16
					%br/
					.p-r15
						.border-c.solid
							.p-10.bg-e
								.p-b5.f-b
									.fl
										Pickup Time
									.fr
										Dropoff Time
									.fc
								.size-12
									.fl
										= @booking.starts.strftime("%d/%m/%y %I:%M %p")
									.fr
										= @booking.ends.strftime("%d/%m/%y %I:%M %p")
									.fc
							.p-10.bg-c.t-c
								:ruby
									tmp = ''
									if @fare[:days] == 1
										tmp << "1 day, "
									elsif @fare[:days] > 0
										tmp << @fare[:days].to_s + " days, "
									end
									if @fare[:hours] == 1
										tmp << "1 hour"
									elsif @fare[:hours] > 0
										tmp << @fare[:hours].to_s + " hours"
									end
								Rented for
								%b
									= tmp.chomp(', ')
							.p-10
								%table{width: '100%'}
									%tr
										%td.p-5
											%b Normal Tariff
										%td.p-5.t-r
											₹#{@fare[:estimate]}
									%tr
										%td.p-5
											%b Discount
										%td.p-5.t-r
											₹#{@fare[:discount]}
									
							.bg-6.t-c.white.f-b.size-18
								.p-10.fl
									Total :
									₹#{@fare[:estimate] - @fare[:discount]}
								.calc.m-5.fr.help{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Tariff Estimator"}
								.fc
							.p-10
								%table{width: '100%'}
									%tr
										%td.p-5.f-b
											.fl Free Kms
											.fl.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "All Zoomcar reservations come with free driving kms, which are based on vehicle type and reservation duration."} (?)
											.fc
										%td.p-5.t-r
											= @fare[:kms]
									%tr
										%td.p-5.f-b
											.fl Excess Kms Charge
											.fl.p-l5.help.pointer{onclick: "showModal('Tariff Calculator', '/calculator/tariff?process=checkout');", 'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "If you travel more than #{@fare[:kms]} Kms during the reservation, then Kms beyond #{@fare[:kms]} will be charged at this price. Click here to enter your expected Kms to estimate your final tariff."} (?)
											.fc
										%td.p-5.t-r
											₹#{cargroup.excess_kms.to_i} / Km
						%br/
						.t-c
							%br/
							.m-auto{style: 'width:200px;'}
								- if !(@available == 1) && current_user && !current_user. is_blacklisted? && session[:notify].present?
									
									%button.btn-notify.btn-default.size-24{id: 'ButtonCheckoutNotify', style: 'width:200px;', type: "button", onclick: "checkout();"}
										Notify Me
								- else
									.button-dis
										.size-20.p-10.border-r Notification Added
							= render :partial => "/bookings/blacklist"
							- if @available != 1
								.p-5.red We will email you when the car becomes available for your selected period of time.
				.fc
	%br/
:javascript
	var _adx = {};
	_adx.xb  = '35BDU410';
	_adx.xt  = 'conversion';
	_adx.xgid  = '6AMDq23';
	(function(d){
		var x = d.createElement('script');
		x.async = true;
		x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
		var s = d.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(x, s);
	})(document);
	function initializeMap() {
		var myLatlng = new google.maps.LatLng(#{location.lat}, #{location.lng});
		var mapOptions = {
			zoom: 12,
			center: myLatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		var infowindow = new google.maps.InfoWindow({
			content: "#{location.address_html}",
			maxWidth: 300
		});
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			animation: google.maps.Animation.DROP,
			title:"#{location.name}",
			icon:"#{asset_path 'map/red.png'}"
		});
		infowindow.open(map,marker);
	}
	setTimeout(function() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
		document.body.appendChild(script);
	}, 500);
