.content
	= render :partial => "/bookings/search_steps", locals: {step: 1}
	.wrapper
		.main-content.search-page
			- if !@inventory.blank?
				- @inventory.each do |i|
					= render :partial => 'search_item', :locals => {inventory: i}
			- else
				Nothing
		#Sidebar.sidebar
			.mapwrap
				#Gmap.map
- if !@inventory.blank?
	= javascript_tag do
		:plain
			function initializeMap() {
				var myLatlng = new google.maps.LatLng(12.9667, 77.5667);
				var mapOptions = {
					zoom: 11,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		- Location.find(:all, :conditions => "lat IS NOT NULL AND lng IS NOT NULL").each do |l|
			:plain
				var myLatlng = new google.maps.LatLng(#{l.lat}, #{l.lng});
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					animation: google.maps.Animation.DROP,
					title:"#{l.name}"
				});
		:plain
			}
			function checkJquery() {
				if (window.jQuery) {
					if($(window).width() > 1024) {
						$("#Sidebar").width((($(window).width()-960)/2)+255);
					}
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
					document.body.appendChild(script);
					$("#Sidebar").slideDown();
					$('.carousel').carousel();
				} else {
					window.setTimeout(checkJquery, 1000);
				}
			}
			checkJquery();
