.content
	- if !@inventory.blank?
		= render :partial => "/bookings/search_steps", locals: {step: 1}
		.wrapper
			.main-content.search-page
				:ruby
					cargroups = Cargroup.list(@city)
					if !@booking.cargroup_id.blank?
						tmp = []
						cargroups.each do |c|
							tmp << c if c.id == @booking.cargroup_id
						end
						cargroups.each do |c|
							tmp << c if c.id != @booking.cargroup_id
						end
						cargroups = tmp
					end
					locs = Location.live(@city)
					if !@booking.location_id.blank?
						tmp = []
						locs.each do |l|
							tmp << l if l.id == @booking.location_id
						end
						locs.each do |l|
							tmp << l if l.id != @booking.location_id
						end
						locs = tmp
					end
				- cargroups.each do |c|
					= render :partial => 'search_item', :locals => {inventory: @inventory[c.id.to_s], car: c, org_locs: locs, location: @booking.location_id}
			#Sidebar.sidebar
				.mapwrap
					#Gmap.map
	- else
		.wrapper.bg-f
			.p-20
				%h1 Search Self-Drive Cars in #{@city.name}
				%br/
				.row
					.col-md-6
						.f-b.size-20.droid.p-5
							Zoom offers the following vehicles :
						%ul
							- Cargroup.list(@city).each do |c|
								%li.p-5
									= c.shortname
									- if !c.disclaimer.blank?
										.red.size-10
											= c.disclaimer.html_safe
					.col-md-6.t-r
						.f-b.size-20.droid.p-5
							@ following locations :
						%ul
							- Location.live(@city).each do |l|
								%li.p-5
									= l.shortname
									- if !l.disclaimer.blank?
										.red.size-10
											= l.disclaimer.html_safe
				.fc
- if !@inventory.blank?
	= javascript_tag do
		:plain
			var _adx = {};
			_adx.xb  = '35BDU410';
			_adx.xt  = 'conversion';
			_adx.xgid  = '6AMDo21';
			(function(d){
				var x = d.createElement('script');
				x.async = true;
				x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
				var s = d.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(x, s);
			})(document);
			function initializeMap() {
				var myLatlng = new google.maps.LatLng(#{@city.lat}, #{@city.lng});
				var mapOptions = {
					zoom: 10,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		- Location.live(@city).each do |l|
			- if !l.lat.blank? && !l.lng.blank?
				:plain
					var infowindow#{l.id} = new google.maps.InfoWindow({
						content: "#{l.mapcontent}",
						maxWidth: 300
					});
					var myLatlng#{l.id} = new google.maps.LatLng(#{l.lat}, #{l.lng});
					var marker#{l.id} = new google.maps.Marker({
						position: myLatlng#{l.id},
						map: map,
						animation: google.maps.Animation.DROP,
						title:"#{l.shortname}",
						icon:"#{asset_path 'map/zoom.png'}"
					});
					google.maps.event.addListener(marker#{l.id}, 'click', function() {
						infowindow#{l.id}.open(map,marker#{l.id});
					});
		:plain
			}
			function checkJquery() {
				if (window.jQuery) {
					pushEvent('AB Test', 'Search Page');
					if($(window).width() > 1024) {
						$("#Sidebar").width((($(window).width()-960)/2)+255);
					}
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
					document.body.appendChild(script);
					$("#Sidebar").slideDown();
					$(".help-event").on('shown.bs.tooltip', function () {
						pushEvent('Search', $(this).attr('data-event'), 'Fare');
					})
				} else {
					window.setTimeout(checkJquery, 1000);
				}
			}
			checkJquery();
