.content
	- if !@inventory.blank?
		= render :partial => "/bookings/search_steps", locals: {step: 1}
		.wrapper
			.main-content.search-page
				:ruby
					if !@booking.cargroup_id.blank?
						cargroups = [@booking.cargroup]
					else
						cargroups = Cargroup.list
					end
					if !@booking.location_id.blank?
						locs = [@booking.location]
					else
						locs = Location.live
					end
				- cargroups.each do |c|
					= render :partial => 'search_item', :locals => {inventory: @inventory[c.id.to_s], car: c, org_locs: locs}
			#Sidebar.sidebar
				.mapwrap
					#Gmap.map
	- else
		.wrapper.bg-f
			.p-20
				%h1 Search Self-Drive Cars in Bangalore
				%br/
				.fl
					.f-b.size-20.droid.p-5
						Zoom offers the following vehicles :
					%ul
						- Cargroup.list.each do |c|
							%li.p-5
								= c.shortname
								- if !c.disclaimer.blank?
									.red.size-10
										= c.disclaimer.html_safe
				.fr.t-r
					.f-b.size-20.droid.p-5
						@ following locations :
					%ul
						- Location.live.each do |l|
							%li.p-5
								= l.shortname
								- if !l.disclaimer.blank?
									.red.size-10
										= l.disclaimer.html_safe
				.fc
- if !@inventory.blank?
	= javascript_tag do
		:plain
			function initializeMap() {
				var myLatlng = new google.maps.LatLng(12.9667, 77.5667);
				var mapOptions = {
					zoom: 11,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				var map = new google.maps.Map(document.getElementById("Gmap"), mapOptions);
		- Location.find(:all, :conditions => "lat IS NOT NULL AND lng IS NOT NULL").each do |l|
			:plain
				var infowindow#{l.id} = new google.maps.InfoWindow({
					content: "#{l.mapcontent}",
					maxWidth: 300
				});
				var myLatlng#{l.id} = new google.maps.LatLng(#{l.lat}, #{l.lng});
				var marker#{l.id} = new google.maps.Marker({
					position: myLatlng#{l.id},
					map: map,
					animation: google.maps.Animation.DROP,
					title:"#{l.shortname}"
				});
				google.maps.event.addListener(marker#{l.id}, 'click', function() {
					infowindow#{l.id}.open(map,marker#{l.id});
				});
		:plain
			}
			function checkJquery() {
				if (window.jQuery) {
					if($(window).width() > 1024) {
						$("#Sidebar").width((($(window).width()-960)/2)+255);
					}
					var script = document.createElement("script");
					script.type = "text/javascript";
					script.src = "http://maps.googleapis.com/maps/api/js?key=#{GOOGLE_MAP_KEY}&sensor=true&callback=initializeMap";
					document.body.appendChild(script);
					$("#Sidebar").slideDown();
					$('.carousel').carousel();
				} else {
					window.setTimeout(checkJquery, 1000);
				}
			}
			checkJquery();
