:ruby
	if !flash[:error].blank? && flash[:error].include?('transaction') && flash[:error].include?('failed')
		survey = true
	else
		survey = false
	end
	offer = @booking.offer
	@pricing = @booking.pricing
	outstanding_amount = @booking.outstanding_without_deposit
	security_remaining = @booking.security_amount_remaining
	payable_amount = outstanding_amount>=0 ? (outstanding_amount + security_remaining) : security_remaining
- render_flash

- unless @booking.corporate_id.nil?										
	.alert.alert-warning
		.black
			%b Corporate Booking : 
			= @booking.corporate.name

.fl
	.bg-w.bs-9{'style' => 'width: 530px'}
		.bg-zoomb.white.p-10.size-18.p-l10.p-r10
			.fl
				= "Booking #" + @booking.encoded_id.upcase
			.fr.size-14
				
				- if @booking.paid? && !(@booking.promo.present? && @booking.promo.include?('SQUIRREL'))
					- case @booking.status?
					- when 'live'
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Extend Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
							Extend
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Shorten Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
							Shorten
					- when 'near'
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Change Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
							Change
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Cancel Your Booking', '/bookings/#{@booking.encoded_id}/cancel');"}
							Cancel
					- when 'future'
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Change Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
							Change
						%a.white.pointer.inline-block.m-l15{onclick: "showModal('Cancel Your Booking', '/bookings/#{@booking.encoded_id}/cancel');"}
							Cancel
					- else
						- if @booking.total_payments > 0 && @booking.balance == 0
							%a.white.pointer.inline-block.m-l15{href: "/bookings/#{@booking.encoded_id}/invoice", target: '_blank', role: "button"} Invoice
						- if @booking.status_complete?
							%a.white.pointer.inline-block.m-l15{href: "/bookings/#{@booking.encoded_id}/feedback", target: '_blank', role: "button"} Feedback

			.fc

		.border-b-c
			.p-t5.p-b5.p-l20.p-r20.size-16
				.inline-block.colored
					.m-auto{:class => 'car' + @booking.cargroup_id.to_s}
				.inline-block.p-l5.t-l.position-r{style: "top: -20px;"}
					.size-18.f-b.zoom-b
						- cargroup = @booking.cargroup
						= cargroup.display_name
					.size-14.m-t5.lgrey
						- if @booking.paid?
							- if !@booking.car_id.blank?
								- car = @booking.car
								%b #{car.name}
								= "(" + car.license + ")" if !car.license.blank?
							- elsif @booking.status < 6
								.red
									- if @booking.kle_enabled
										We will SMS your car's number plate 20 minute before your booking starts.
									- else
										Your car will be allocated by 
										%b
											= (@booking.starts - CommonHelper::ALLOTMENT.minutes).strftime("%d %b, %Y %I:%M %p")
							- else
								\-

		.border-b-c
			.p-t10.p-b10.p-l20.p-r20
				.text-up.size-11.m-b3
					Status
				.zoom-b.f-b.size-14
					- if @booking.security_amount_deferred? && @booking.status < 9
						.red
							Security Deposit Unpaid
					.size-20
						= @booking.status_help
		.border-b-c
			.p-t10.p-b10.p-l20.p-r20
				.text-up.size-11.m-b3
					Location
				.zoom-b.f-b.size-14
					- location = @booking.location
					= location.shortname
					- if !location.disclaimer.blank?
						.red.size-10
							= location.disclaimer.html_safe
		.border-b-c
			.p-t10.p-b10.p-l20.p-r20
				.text-up.size-11.m-b3
					Pickup Time
				.zoom-b.f-b.size-14
					= @booking.starts.strftime("%d %b, %Y %I:%M %p")

		.border-b-c
			.p-t10.p-b10.p-l20.p-r20
				.text-up.size-11.m-b3
					Dropoff Time
				.zoom-b.f-b.size-14
					= @booking.ends.strftime("%d %b, %Y %I:%M %p")

		- if !@booking.returned_at.blank?
			.border-b-c
				.p-t10.p-b10.p-l20.p-r20
					.text-up.size-11.m-b3
						Return Time
					.zoom-b.f-b.size-14
						= @booking.returned_at.strftime("%d %b, %Y %I:%M %p")

		- if offer
			.border-b-c
				.p-t10.p-b10.p-l20.p-r20
					.text-up.size-11.m-b3
						Promo Code
					.zoom-b.f-b.size-14
						= @booking.promo
						%br/
						= offer.summary.html_safe
		- credits_earned = @booking.credits.where(source_name: Credit::SOURCE_NAME_INVERT['Early Return']).collect(&:amount).sum
		- if credits_earned > 0
			.border-b-c
			.p-t10.p-b10.p-l20.p-r20
				.text-up.size-11.m-b3
					Credits
				.zoom-b.f-b.size-14.earned-credit-statement
					You earned ₹ #{credits_earned} in credits from this booking
					#showPage-popover-block
						%button.btn.creditsDescBtn-showPage.p-0 [?]

			.popover.fade.right.in.booking-showPage-popupBox.m-t15.earn-credit
				.arrow
				%h3.popover-title{:style => "display: none;"}
				.popover-content.size-12 Your credits have been added to your Zoomcar wallet. Use them to pay the fee for your next booking.

	= render :partial => '/bookings/socialshare'

.fr
	.bg-w.bs-9.m-b20{'style' => 'width: 360px'}
		.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
			Fare Breakdown
		- total_charge = 0
		- @booking.charges.each do |charge|
			- total_charge += charge.refund==0 ? charge.amount : -charge.amount
			-if !['security_deposit','early_return_charge','early_return_refund'].include? charge.activity
				.fl.p-10.p-l20.size-12
					.text-up
						= charge.activity.titleize
						- if charge.activity== 'booking_fee' && @booking.ends-@booking.starts < 4.hours
							%span.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Minimum billing is 4 hours."}
								[?]
				.fr.p-10.t-r.p-r20.grey.f-b.size-16
					#{charge.refund==0 ? '' : '-'}₹ #{show_currency charge.amount}
				.fc
		.fl.p-10.p-l20.size-12
			.text-up
				Refundable Deposit
		.fr.p-10.t-r.p-r20.grey.f-b.size-16
			₹ #{show_currency @booking.security_amount}
		.fc
		- if @booking.status >= 1 && !@booking.settled && @booking.deposit_status!=3 && !@booking.hold
			.fl.p-l20.p-r10.p-b10
				%input{id: "holdDeposit", name: "holdDeposit", type: "checkbox", value: "yes", onclick: "pushEvent('Wallet', 'Holds Clicked (Bookings Summary)');"}
				%label#holdDepositLabel{style: 'font-weight: normal; margin: 0;', for: 'holdDeposit'}
					Hold This Security Deposit

					%span.p-l5.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Planning on making another booking soon? Hold the Security Deposit in your Zoomcar wallet. The same deposit will be used for the next booking so your money will not be stuck in multiple deposits or refund processes."}
						[?]
				#holdDepositHelp{'style' => 'display: none;'}
					.f-i.size-11.p-t5
						You can refund this money any time 24 hours before or 6 hours after a booking through My Bookings.
					
					%input.button.m-t5.size-12{style: "width:100px;", type: "submit", id: "holdDepositApply", value: "Apply", onclick: "pushEvent('Wallet', 'Holds Applied (Bookings Summary)');"}

					#holdSuccess.alert.alert-success{'style' => 'display: none;'} 
						Hold Successful

		.fc

		.border-t-c
			.fl.p-t10.p-l20.size-18
				.text-up
					Total Amount
			.fr.p-10.t-r.p-r20.zoom-b.f-b.size-20
				₹ #{show_currency (total_charge + (@booking.security_charge.nil? ? @booking.security_amount : 0))}
			.fc



	.bg-w.bs-9.m-b20{'style' => 'width: 360px'}
		.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
			Payments Received
		- total_payment=0
		- @booking.confirmed_payments.select{|p| p.through.in? ['citruspay', 'juspay', 'payu']}.each do |payment|
			.fl.p-10.p-l20.size-12
				.text-up
					Amount Paid (#{payment.created_at.strftime('%Y-%m-%d')})
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				₹ #{show_currency payment.amount.tap{|p| total_payment+=p}}
			.fc

		.border-t-c
			.fl.p-t10.p-l20.size-18
				.text-up
					Total Amount
			.fr.p-10.t-r.p-r20.zoom-b.f-b.size-20
				₹ #{show_currency total_payment}
			.fc
	- if @booking.confirmed_refunds.select{|p| p.through.in? ['citruspay', 'juspay', 'payu', 'cheque'] || p.through == 'wallet_refund'}.any?
		.bg-w.bs-9.m-b20{'style' => 'width: 360px'}
			.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
				Refunds Issued
			- total_refund=0
			- @booking.confirmed_refunds.select{|p| p.through.in? ['citruspay', 'juspay', 'payu', 'cheque'] || p.through=='wallet_refund'}.each do |refund|
				.fl.p-10.p-l20.size-12
					.text-up
						#{refund.through == 'cheque' ? "BY CHEQUE" : "Amount Refunded"} (#{refund.created_at.strftime('%Y-%m-%d')})
				.fr.p-10.t-r.p-r20.grey.f-b.size-16
					₹ #{show_currency refund.amount.tap{|p| total_refund+=p}}
				.fc

			.border-t-c
				.fl.p-t10.p-l20.size-18
					.text-up
						Total Amount
				.fr.p-10.t-r.p-r20.zoom-b.f-b.size-20
					₹ #{show_currency total_refund}
				.fc

	.bg-w.bs-9.m-b20{'style' => 'width: 360px'}
		.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
			.fl
				Zoomcar Wallet

				%span.pointer.pop.size-12.white{'href' => '#', 'data-toggle' => "popover",  'data-placement' => "top", 'data-html' => "true", 'data-content' => "<div class='grey size-12 f-n'>Your Zoomcar Wallet is where your Security Deposit and Credits are kept. This allows you to use the same deposit across multiple bookings. <a href='/faq#faq-42'>Learn more</a> in our FAQs.</div>", 'style' => 'position: relative; top: -2px;'}
					[?]
			.fr
				%a.white.size-12{href: "javascript:void(0)", onclick: "showModal('Transaction History', '/wallets/history');pushEvent('Wallet', 'Transaction History Pop Up (Bookings Summary)');"}
					Show Transaction History
			.fc
		- total=0
		- if @booking.security_charge.nil?
			.fl.p-10.p-l20.size-12
				.text-up
					Available in Wallet
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				\- ₹ #{show_currency (@booking.security_amount - security_remaining).tap{|a| total-=a}}
			.fc
		-elsif !@booking.insufficient_deposit && @booking.confirmed_payments.where(through: 'wallet').any?
			.fl.p-10.p-l20.size-12
				.text-up
					Paid from Wallet 
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				\- ₹ #{show_currency @booking.security_charge.amount.tap{|a| total-=a}}
			.fc
		- @booking.confirmed_refunds.select{|r| r.through=='wallet'}.each do |wallet|
			.fl.p-10.p-l20.size-12
				.text-up
					Added to Wallet (#{wallet.created_at.strftime('%Y-%m-%d')})
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				₹ #{show_currency wallet.amount.tap{|a| total+=a}}
			.fc
		- @booking.confirmed_payments.select{|p| p.through=='credits'}.each do |payment|
			- next if payment.amount.to_i == 0
			.fl.p-10.p-l20.size-12
				.text-up
					Credits Used (#{payment.created_at.strftime('%Y-%m-%d')})
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				\- ₹ #{show_currency payment.amount.tap{|a| total-=a}}
			.fc
		- @booking.confirmed_refunds.select{|p| p.through=='credits'}.each do |refund|
			- next if refund.amount.to_i == 0
			.fl.p-10.p-l20.size-12
				.text-up
					Credits Refunded (#{refund.created_at.strftime('%Y-%m-%d')})
			.fr.p-10.t-r.p-r20.grey.f-b.size-16
				₹ #{show_currency refund.amount.tap{|a| total+=a}}
			.fc
		.border-t-c
			.fl.p-t10.p-l20.size-18
				.text-up
					Total
			.fr.p-10.t-r.p-r20.zoom-b.f-b.size-20
				₹ #{show_currency total}
			.fc


	.bg-w.bs-9.m-b20{'style' => 'width: 360px'}
		.bg-zoomb.white.p-10.f-b.size-18.p-l10.p-r10
			Outstanding

		.fl.p-10.p-l20.size-12
			.text-up
				Booking charges
		.fr.p-10.t-r.p-r20.grey.f-b.size-16
			- outstanding_amount = @booking.outstanding if @booking.settled || @booking.status==5
			₹ #{show_currency outstanding_amount}
		.fc


		.fl.p-10.p-l20.size-12
			.text-up
				Deposit Due

			- if @booking.defer_allowed? && security_remaining > 0
				%span
					%input{checked: "checked", id: "changeDeposit", name: "securityDeposit", type: "checkbox", value: "yes"}
				%label{style: 'font-weight: normal; margin: 0;', for: 'changeDeposit'}
					Pay this now
				%span.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => @booking.deposit_help}
					[?]
		.fr.p-10.t-r.p-r20.grey.f-b.size-16
			₹ #{show_currency security_remaining}
		.fc


.fc


.fixed.fixed-footer.border-t-c.p-b10.bg-f6
	.wrapper
		.fr.border-t-z-4.m-r20.t-r{'style' => 'width: 360px'}
			.fl.p-t10.p-l20.size-18
				.text-up
					Payable Amount
			#DepositFinal.fr.p-10.t-r.p-r20.zoom.f-b.size-20
				- payable_amount = @booking.outstanding if @booking.settled || @booking.status==5
				₹ #{show_currency payable_amount}
			-if payable_amount>0
				.fc
				= form_tag("/bookings/#{@booking.encoded_id}/dodeposit", method: :get) do
					=hidden_field_tag 'checkoutDeposit', "1"
					%input#PayNowButton.button.m-auto{style: "width:200px;", type: "submit", value: "Proceed to Payment"}
		.fc

:javascript
	function checkJquery() {
		if (window.jQuery) {
			$.getScript("https://api.juspay.in/pay.js", function(){
					//loading Juspay js file
				});
			$('#holdDeposit').change(function() {
				var $this = $(this);
				if ($this.is(':checked')) {
					$("#holdDepositHelp").show();
				} else {
					$("#holdDepositHelp").hide();
				}
			});

			$('#holdDepositApply').click(function() {
				$.get( "#{@booking.encoded_id}/holddeposit.json", function( data ) {
					$('#holdDepositApply').hide();
					$('#holdSuccess').fadeIn().delay(1000).fadeOut(function(){
						$('#holdDepositLabel, #holdDepositHelp').addClass('lgrey');
						$('#holdDeposit').attr('disabled', 'disabled');
					});
				});
			});

			$('#changeDeposit').change(function() {
				var $this = $(this);
				if ($this.is(':checked')) {
					$('#checkoutDeposit').val("1");
					$("#PayNowButton")[0].style.display='';
					$("#DepositFinal").html("₹ #{show_currency(payable_amount)}");
				} else {
					$('#checkoutDeposit').val("0");
					if ((#{payable_amount - security_remaining}) <= 0){
						$("#PayNowButton")[0].style.display='none';
					}else{
						$("#PayNowButton")[0].style.display='';
					}
					$("#DepositFinal").html("₹ #{show_currency(payable_amount - security_remaining)}");
				}
			});
			$('#applyPromoCode').click(function(){
				$('#promoCode').toggle();
			});
			// $('#PayNowButton').click(function(){
			// 	$("#PayNowButton").prop("disabled", true);				
			// 	$.ajax({
			// 		url: "/bookings/#{@booking.encoded_id}/seamless_dodeposit",
			// 		type: "POST",
			// 		dataType: "json",
			// 		data: $.param({
			// 			checkoutDeposit: $('#checkoutDeposit').val(), 
			// 		}), 
			// 		success: function(data, status){
			// 			if(status=="success"){
			// 				var response = JSON.parse(JSON.stringify(data));
			// 				if(response.status == "success") {
			// 					var amt = "₹ " + response.amt.toString().replace(/,/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			// 					showModal('Payable Amount :  ' + amt, '/bookings/seamless_payment_options');
			// 					$("#DepositFinal").html(amt);
			// 					setTimeout(function(){ setVal(response); }, 3000);
			// 					$("#PayNowButton").prop("disabled", false);				
			// 				}
			// 			}
			// 		}
			// 	});
			// });
		} else {
			window.setTimeout(checkJquery, 1000);
		}
	}
	function setVal(resp) {
		$('.order_id').val(resp.order_id);
		$('.description').val(resp.desc);
		$('.product_id').val(resp.product_id);
		$('.firstname').val(resp.name);
		$('.customer_email').val(resp.email);
		$('.customer_phone').val(resp.phone);
		$('.amount').val(resp.amt);
		$('.customer_id').val(resp.cust_id);
		$('#hash').val(resp.hash);
	}
	checkJquery();

- if survey
	:javascript
		pushEvent('1-click checkout', 'Booking Failed', '');
		var _kiq = _kiq || [];
		(function(){
			setTimeout(function(){
				var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
				s.async = true; s.src = '//s3.amazonaws.com/ki.js/53816/bHJ.js'; f.parentNode.insertBefore(s, f);
			}, 1);
		})();
		_kiq.push(['identify', "#{@booking.encoded_id}"]);
