- render_flash
%h1.t-c
	= "Booking # " + @booking.confirmation_key.upcase
%br/
.row
	.col-md-8
		.row.size-20
			.col-md-3
				.p-5
					%b Status
			.col-md-9
				.p-5
					= @booking.status_help
		.row
			.col-md-3
				.p-5 
					%b Car Type
			.col-md-9
				.p-5
					- cargroup = @booking.cargroup
					= cargroup.display_name
					- if !cargroup.disclaimer.blank?
						.red.size-10
							= cargroup.disclaimer.html_safe
		.row
			.col-md-3
				.p-5
					%b Car Hired
			.col-md-9
				.p-5
					- if @booking.paid?
						- if !@booking.car_id.blank?
							- car = @booking.car
							%b #{car.name}
							= "(" + car.license + ")" if !car.license.blank?
						- elsif @booking.status < 6
							.red
								Your car will be allocated by 
								%b
									= (@booking.starts - CommonHelper::ALLOTMENT.minutes).strftime("%d %b, %Y %I:%M %p")
						- else
							\-
		.row
			.col-md-3 
				.p-5
					%b Rented From
			.col-md-9
				.p-5
					- location = @booking.location
					= location.shortname
					- if !location.disclaimer.blank?
						.red.size-10
							= location.disclaimer.html_safe
		.row
			.col-md-3
				.p-5
					%b Pickup Time
			.col-md-9
				.p-5
					= @booking.starts.strftime("%d %b, %Y %I:%M %p")
		.row
			.col-md-3
				.p-5
					%b Dropoff Time
			.col-md-9
				.p-5
					= @booking.ends.strftime("%d %b, %Y %I:%M %p")
		- if !@booking.promo.blank?
			.row
				.col-md-3
					.p-5
						%b Promo Code
				.col-md-9
					.p-5
						= @booking.promo
		- if !@summary.blank?
			.row
				.col-md-3
					.p-5
						%b Promo Desc.
				.col-md-9
					.p-5
						= @summary

		- if @booking.paid?
			.m-t20
				- case @booking.status?
				- when 'live'
					.btn.btn-success{onclick: "showModal('Extend Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Extend
					.btn.btn-warning{onclick: "showModal('Shorten Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Shorten
				- when 'future'
					.btn.btn-success{onclick: "showModal('Extend Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Extend
					.btn.btn-warning{onclick: "showModal('Shorten Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Shorten
					.btn.btn-danger{onclick: "showModal('Cancel Your Booking', '/bookings/#{@booking.encoded_id}/cancel');"}
						Cancel
				- else
					- if @booking.total_payments > 0
						%a.btn.btn-default{href: "/bookings/#{@booking.encoded_id}/invoice", target: '_blank', role: "button"} Invoice
					- if @booking.status_complete?
						%a.btn.btn-default{href: "/bookings/#{@booking.encoded_id}/feedback", target: '_blank', role: "button"} Feedback
	.col-md-4
		- @total = 0
		- tmp = 0
		%table.table.table-bordered
			%tr.active
				%td{:colspan => '2'}
					%h4.f-b Fare Breakdown
			- @booking.charges.each do |c|
				- if !c.activity.include?('early_return')
					%tr
						%td
							= c.activity_text
						%td.t-r
							- if c.refund > 0
								= "-" + c.amount.to_s
								- tmp -= c.amount
							- else
								= c.amount
								- tmp += c.amount
			%tr.f-b
				%td
					Total
				%td.t-r
					= tmp
					- @total += tmp
					- tmp = 0
			%tr.active
				%td{:colspan => '2'}
					.row
						.col-md-10
							%h4.f-b Payments Received
						.col-md-2
							- if @booking.payments.length > 0
								.m-t5
									%a.btn.btn-xs.btn-default{href: "/bookings/#{@booking.encoded_id}/payments", target: '_blank', role: "button", :title => 'See Details'}
										%span.glyphicon.glyphicon-list
			- @booking.confirmed_payments.each do |p|
				%tr
					%td
						= p.through_text + " Payment"
					%td.t-r
						= p.amount
						- tmp += p.amount
			%tr.f-b
				%td
					Total
				%td.t-r
					= tmp
			:ruby
				@total -= tmp
				tmp = 0
				refunds = @booking.confirmed_refunds
				refunds.each do |r|
					tmp += r.amount if !r.through.include?('early_return')
				end
				@total += tmp
			- if tmp > 0
				%tr.active
					%td{:colspan => '2'}
						%h4.f-b Refunds Issued
				- refunds.each do |r|
					- if !r.through.include?('early_return')
						%tr
							%td
								= r.through_text
							%td.t-r
								= r.amount
				%tr.f-b
					%td
						Total
					%td.t-r
						= tmp
			- if !@booking.promo.blank?
				%tr.bg-e
					%td{:colspan => '2'}
						.fl.f-b Promo Code
						.fr #{@booking.promo}
						.fc
			- if @total > 0
				%tr.danger.size-16
					%td
						%b Outstanding
					%td.t-r
						%b #{@total}
			- elsif @total < 0
				%tr.success.size-16
					%td
						%b Outstanding
					%td.t-r
						%b #{@total}
			- else
				%tr.size-16
					%td
						%b Outstanding
					%td.t-r
						%b #{@total}
		- if @total > 0
			%a.btn.btn-default.btn-lg{href: "/bookings/#{@booking.encoded_id}/dopayment", role: "button"} Proceed to Payment
