:ruby
	if !flash[:error].blank? && flash[:error].include?('transaction') && flash[:error].include?('failed')
		survey = true
	else
		survey = false
	end
	offer = @booking.offer
	@pricing = @booking.pricing
- render_flash
%h1.t-c
	= "Booking # " + @booking.confirmation_key.upcase
%br/
- unless @booking.corporate_id.nil?										
	.alert.alert-warning
		.black
			%b Corporate Booking : 
			= @booking.corporate.name
.row
	.col-md-8
		.row
			.col-md-3
				.p-5
					%b Status
			.col-md-9
				.p-5
					- if @booking.security_amount_deferred? && @booking.status < 9
						.red
							Security Deposit Unpaid
					.size-20
						= @booking.status_help
		.row
			.col-md-3
				.p-5 
					%b Car Type
			.col-md-9
				.p-5
					- cargroup = @booking.cargroup
					= cargroup.display_name
					- if !cargroup.disclaimer.blank?
						.red.size-10
							= cargroup.disclaimer.html_safe
		.row
			.col-md-3
				.p-5
					%b Car Rented
			.col-md-9
				.p-5
					- if @booking.paid?
						- if !@booking.car_id.blank?
							- car = @booking.car
							%b #{car.name}
							= "(" + car.license + ")" if !car.license.blank?
						- elsif @booking.status < 6
							.red
								Your car will be allocated by 
								%b
									= (@booking.starts - CommonHelper::ALLOTMENT.minutes).strftime("%d %b, %Y %I:%M %p")
						- else
							\-
		.row
			.col-md-3 
				.p-5
					%b Rented From
			.col-md-9
				.p-5
					- location = @booking.location
					= location.shortname
					- if !location.disclaimer.blank?
						.red.size-10
							= location.disclaimer.html_safe
		.row
			.col-md-3
				.p-5
					%b Pickup Time
			.col-md-9
				.p-5
					= @booking.starts.strftime("%d %b, %Y %I:%M %p")
		.row
			.col-md-3
				.p-5
					%b Dropoff Time
			.col-md-9
				.p-5
					= @booking.ends.strftime("%d %b, %Y %I:%M %p")
		- if !@booking.returned_at.blank?
			.row
				.col-md-3
					.p-5
						%b Return Time
				.col-md-9
					.p-5
						= @booking.returned_at.strftime("%d %b, %Y %I:%M %p")
		- if offer
			.row
				.col-md-3
					.p-5
						%b Promo Code
				.col-md-9
					.p-5
						%b
							= @booking.promo
						%br/
						= offer.summary.html_safe
		- if @booking.paid?
			.m-t20
				- case @booking.status?
				- when 'live'
					.btn.btn-success{onclick: "showModal('Extend Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Extend
					.btn.btn-warning{onclick: "showModal('Shorten Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Shorten
				- when 'near'
					.btn.btn-warning{onclick: "showModal('Change Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Change
					.btn.btn-danger{onclick: "showModal('Cancel Your Booking', '/bookings/#{@booking.encoded_id}/cancel');"}
						Cancel
				- when 'future'
					.btn.btn-success{onclick: "showModal('Change Your Booking', '/bookings/#{@booking.encoded_id}/reschedule');"}
						Change
					.btn.btn-danger{onclick: "showModal('Cancel Your Booking', '/bookings/#{@booking.encoded_id}/cancel');"}
						Cancel
				- else
					- if @booking.total_payments > 0 && @booking.balance == 0
						%a.btn.btn-default{href: "/bookings/#{@booking.encoded_id}/invoice", target: '_blank', role: "button"} Invoice
					- if @booking.status_complete?
						%a.btn.btn-default{href: "/bookings/#{@booking.encoded_id}/feedback", target: '_blank', role: "button"} Feedback
				- if !@booking.hold && !@booking.security_charge.nil? && @booking.security_refund.nil?
					.btn.btn-warning{onclick: "window.location= '/bookings/#{@booking.encoded_id}/holddeposit';"}
						Hold Deposit
		= render :partial => '/bookings/socialshare'
	.col-md-4
		= render :partial => '/bookings/summary', :locals => {:payments => true}
		- if @booking.security_amount_deferred?
			- if @total > 0
				.p-b10.size-14
					%span
						%input{id: "securityDeposit", name: "deposit", type: "checkbox", value: "yes"}
					%span
						%b Pay ₹#{show_currency(@pricing.mode::SECURITY)} Security Deposit
					%span.help.pointer{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => @booking.deposit_help}
						%u (?)
					#DepositMessage.red.p-t5
						%i
							= @booking.deposit_warning.html_safe
				%a.btn.btn-default.btn-lg{id: "ProceedPG", href: "/bookings/#{@booking.encoded_id}/dopayment", role: "button"} Proceed to Payment
				:javascript
					function checkJquery() {
						if (window.jQuery) {
							$('#securityDeposit').change(function() {
								var $this = $(this);
								if ($this.is(':checked')) {
									$("#DepositMessage").hide();
									$("#Deposit").removeClass('t-s');
									$("#DepositFinal").html("₹#{show_currency(@total + @pricing.mode::SECURITY)}");
									$("#ProceedPG").attr("href","/bookings/#{@booking.encoded_id}/dodeposit");
								} else {
									$("#DepositMessage").show();
									$("#Deposit").addClass('t-s');
									$("#DepositFinal").html("₹#{show_currency(@total)}");
									$("#ProceedPG").attr("href","/bookings/#{@booking.encoded_id}/dopayment");
								}
							});
						} else {
							window.setTimeout(checkJquery, 1000);
						}
					}
					checkJquery();
			- elsif @total == 0
				.p-b10.size-14
					%b Pay ₹#{show_currency(@pricing.mode::SECURITY)} Security Deposit
				%a.btn.btn-default.btn-lg{href: "/bookings/#{@booking.encoded_id}/dodeposit", role: "button"} Proceed to Payment
		- elsif @total > 0
			%a.btn.btn-default.btn-lg{href: "/bookings/#{@booking.encoded_id}/dopayment", role: "button"} Proceed to Payment
- if survey
	:javascript
		var _kiq = _kiq || [];
		(function(){
			setTimeout(function(){
				var d = document, f = d.getElementsByTagName('script')[0], s = d.createElement('script'); s.type = 'text/javascript';
				s.async = true; s.src = '//s3.amazonaws.com/ki.js/53816/bHJ.js'; f.parentNode.insertBefore(s, f);
			}, 1);
		})();
		_kiq.push(['identify', "#{@booking.encoded_id}"]);
