:ruby
	@cargroup = @booking.cargroup
	@location = @booking.location
.p-10
	.fl.f-b
		= @cargroup.shortname
		at 
		= @location.shortname
	.fr
		.legend
			.fl.txt
				Last Updated : 
				= [0,1,2,3].sample
				min ago
			.g
			.fl.txt Available
			.o
			.fl.txt Only 1 Left
			.r
			.fl.txt Not Available
	.fc
	.day
		.p-b5
			.fl
				.date &nbsp;
				.fc
				.date{id: "TimelineLess#{@booking.cargroup_id}"}
					- if @inventory.first.slot.to_i != Time.now.to_date.to_datetime.to_i
						.m-l5
							.arrw-u.help{onclick: "showTimeline('#{@booking.cargroup_id}',-1);", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Show previous day"}
				.fc
			.fl
				.slots-t 
					.t AM
				.slots-t
					.t PM
				.fc
				- (0..23).each do |x|
					.slots
						.t
							- if x == 0
								12
							- elsif x == 12
								12
							- elsif x > 12
								= x - 12
							- else
								= x
				.fc
			.fc
		%div{id: "TimelineContent#{@booking.cargroup_id}"}
			= render :partial => 'timeline_data'
		.p-t5
			.fl
				.date{id: "TimelineMore#{@booking.cargroup_id}"}
					- if @inventory.last.slot.to_date.to_datetime.to_i != (Time.now.to_date.to_datetime + (CommonHelper::BOOKING_WINDOW + 1).days).to_i
						.m-l5
							.arrw-d.help{onclick: "showTimeline('#{@booking.cargroup_id}',1);", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Show next day"}
			.fl
				- (0..23).each do |x|
					.slots
						.t
							- if x == 0
								12
							- elsif x == 12
								12
							- elsif x > 12
								= x - 12
							- else
								= x
				.fc
				.slots-t 
					.t AM
				.slots-t
					.t PM
				.fc
			.fc
.hide
	%input{id: "TimelineLessNum#{@booking.cargroup_id}", type: "hidden", value: "-1"}
	%input{id: "TimelineMoreNum#{@booking.cargroup_id}", type: "hidden", value: "1"}
:javascript
	$("#Timeline#{@booking.cargroup_id}").slideDown();
	$("#TimelineText#{@booking.cargroup_id}").html("Hide Availability");
	$("#TimelineAction#{@booking.cargroup_id}").html("<div class='arrw-u'></div>");
