.p-10
	.fl.f-b
		= @booking.cargroup.shortname
		@ 
		= @booking.location.shortname
	.fr
		.legend
			.g
			.fl.txt Available
			.o
			.fl.txt Only 1 Left
			.r
			.fl.txt Not Available
	.fc
	.day
		.date{id: "TimelineLess#{@booking.cargroup_id}"}
			.m-l5
				.arrw-u.help{onclick: "showTimeline('#{@booking.cargroup_id}',-1);", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Show previous day"}
		- (0..23).each do |x|
			.slots
				- if x == 0
					12 am
				- elsif x == 12
					12 pm
				- elsif x > 12
					= x - 12
					pm
				- else
					= x
					am
		.fc
		.p-t5{id: "TimelineContent#{@booking.cargroup_id}"}
			= render :partial => 'timeline_data'
		.date{id: "TimelineMore#{@booking.cargroup_id}"}
			.m-l5
				.arrw-d.help{onclick: "showTimeline('#{@booking.cargroup_id}',1);", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Show next day"}
		- (0..23).each do |x|
			.slots
				.p-l5
					= x
		.fc
.hide
	%input{id: "TimelineLessNum#{@booking.cargroup_id}", type: "hidden", value: "-1"}
	%input{id: "TimelineMoreNum#{@booking.cargroup_id}", type: "hidden", value: "1"}
:javascript
	$('.help').tooltip();
	$("#Timeline#{@booking.cargroup_id}").slideDown();
	$("#TimelineAction#{@booking.cargroup_id}").html("<div class='arrw-u'></div>");
	$("#TimelineAction#{@booking.cargroup_id}").attr('data-original-title', 'Hide Availability').tooltip('fixTitle');
