.size-18.t-c
	Credits Available: 
	%span.f-b Rs. #{number_with_delimiter(@total_credits.to_i)}

%br/

%table.m-0{style: "width: 100%;", cellspacing: 0, cellpadding: 0}
	%tr.size-13
		%th.p-b10.p-t10.bg-e.t-c
			Date
		%th.p-b10.p-t10.bg-e.t-c
			Booking ID
		%th.p-b10.p-t10.bg-e.t-c
			Amount
		%th.p-b10.p-t10.bg-e.t-c
			Description

	%tbody
		- @user_credits.each do |credit|
			%tr
				%td.text-center.bg-w.p-t10.p-b10.border-b-e
					= credit.created_at.strftime("%d %b, %Y %H:%M %p")
				%td.text-center.bg-w.p-t10.p-b10.border-b-e
					= credit.booking_key
				%td.text-center.bg-w.p-t10.p-b10.border-b-e.bold{:class => (credit.action ? "green" : "red")}
					= (credit.action ? "+ " : "- ") + credit.amount.to_s
				%td.text-center.bg-w.p-t10.p-b10.border-b-e
					= credit.history_description