- render_flash
%h4
	Credits History


.panel.panel-default
	.panel-heading
		%h3.panel-title Credits Used
	- if current_user.credits.where(:status=> false).any?
		.panel-body
			%table.table
				%th Date 
				%th Source
				%th Amount ₹
				- current_user.credits.where(:status=> false).order(:created_at => :desc).each do |credit|
					%tr
						%td= credit.created_at.strftime("%d %B %Y")
						%td= credit.creditable_type
						%td= credit.amount
	%br/
	.panel-heading
		%h3.panel-title Credits Earned
	- if current_user.credits.where(:status=> true).any?
		.panel-body
			%table.table
				%th Date 
				%th Source
				%th Amount ₹
				- current_user.credits.where(:status=> true).order(:created_at => :desc).each do |credit|
					%tr
						%td= credit.created_at.strftime("%d %B %Y")
						%td= credit.creditable_type
						%td= credit.amount