- if current_user
	#DetailsDiv
		- if current_user.name.blank? || current_user.phone.blank? || current_user.dob.blank? || !current_user.valid?
			- render_flash
			- current_user.country = 'IN' if current_user.country.blank?
			- current_user.state = 'Karnataka' if current_user.state.blank?
			%form{:id => "DetailsForm", :onsubmit => "return SubmitForm(this,'/users/signup','DetailsDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				.form-horizontal
					.row.form-group
						%label.col-sm-4.control-label Name *
						.col-sm-6
							%input#DetailsName.validate-presence.form-control{name: 'user[name]', type: "text", value: current_user.name}
							#DetailsNameError.error
								= errortxt(current_user.errors[:email].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label Phone *
						.col-sm-6
							%input#DetailsPhone.validate-presence.validate-numeric.validate-length.form-control{name: 'user[phone]', type: "text", value: current_user.phone, 'data-length' => 10, placeholder: '10 digit mobile no. (India only)'}
							#DetailsPhoneError.error
								= errortxt(current_user.errors[:phone].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label Date of Birth *
						.col-sm-6
							- if current_user.dob.blank?
								%input#DetailsDob.validate-presence.form-control.dob{name: 'user[dob]', type: "text", placeholder: "dd/mm/yyyy (min #{CommonHelper::MIN_AGE} years)"}
							- else
								%input#DetailsDob.validate-presence.form-control.dob{name: 'user[dob]', type: "text", value: current_user.dob.strftime('%d/%m/%Y'), placeholder: "dd/mm/yyyy (min #{CommonHelper::MIN_AGE} years)"}
							#DetailsDobError.error
								= errortxt(current_user.errors[:dob].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label Gender
						.col-sm-6
							%select#DetailsGender.form-control{name: 'user[gender]', placeholder: 'Gender *'}
								- [['Male', 0], ['Female', 1]].each do |t|
									- if current_user.gender == t[1]
										%option{value: t[1], selected: true}
											= t[0]
									- else
										%option{value: t[1]}
											= t[0]
					.row.form-group
						%label.col-sm-4.control-label Country
						.col-sm-6
							%select#DetailsCountry.form-control.bind-country{name: 'user[country]'}
								- Country.all.each do |t|
									- if current_user.country == t[1]
										%option{value: t[1], selected: true}
											= t[0]
									- else
										%option{value: t[1]}
											= t[0]
					.bind-to-country
						.row
							.col-sm-4
							.col-sm-6
								.help-block
									Your current address for optimized experience
						.row.form-group
							%label.col-sm-4.control-label Pincode
							.col-sm-6
								%input#DetailsPincode.form-control{name: 'user[pincode]', type: "text", value: current_user.pincode, placeholder: '6 digit current pincode'}
								#DetailsPincodeError.error
									= errortxt(current_user.errors[:pincode].uniq.join(', '))
						.row.form-group
							%label.col-sm-4.control-label State
							.col-sm-6
								%select#DetailsState.form-control{name: 'user[state]'}
									- CommonHelper::STATE.each do |t|
										- if current_user.state == t
											%option{value: t, selected: true}
												= t
										- else
											%option{value: t}
												= t
						.row.form-group
							%label.col-sm-4.control-label City
							.col-sm-6
								%input#DetailsCity.form-control{name: 'user[city]', type: "text", value: current_user.city, placeholder: 'current city'}
				.t-c
					#DetailsSubmit.p-5
						= submit_tag "Submit", :class => 'btn btn-default btn-lg'
					#DetailsWait.p-5.hide
						.wait
			- if session[:normal_signup] == 1
				- session[:normal_signup] = nil
				:javascript
					initializeDatePicker();
					checkUser();
					bindCountry();
			- else
				:javascript
					var _adx = {};
					_adx.xb  = '35BDU410';
					_adx.xt  = 'conversion';
					_adx.xgid  = '6AMDp22';
					(function(d){
						var x = d.createElement('script');
						x.async = true;
						x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
						var s = d.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(x, s);
					})(document);
					initializeDatePicker();
					bindCountry();
		- else
			.alert.alert-success
				%b Thanks for providing your details.
			An email has been sent on 
			%b #{current_user.email},
			please follow instructions as mentioned in the email to activate your account.
			- if !session[:book].blank?
				%br/
				%br/
				%br/
				%br/
				%b.size-16 Please wait while we take you to the next step
				%br/
				%br/
				%img{:src => "http://#{HOSTNAME}/images/loader.gif", :alt => '', :border => '0'}
				:javascript
					var auto = setTimeout(function(){ submitRedirect(); }, 1000);
					function submitRedirect() {
						clearTimeout(auto);
						window.location = "/bookings/do";
					}
