- if current_user
	#DetailsDiv
		- if current_user.name.blank? || current_user.phone.blank? || current_user.dob.blank? || !current_user.valid? || params[:reenter_phone].to_i == 1
			- render_flash
			- current_user.country = 'IN' if current_user.country.blank?
			- current_user.state = 'Karnataka' if current_user.state.blank?
			%form{:id => "DetailsForm", :onsubmit => "return SubmitForm(this,'/users/signup','DetailsDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
				.form-horizontal
					.row.form-group
						%label.col-sm-4.control-label Name *
						.col-sm-6
							%input#DetailsName.validate-presence.form-control{name: 'user[name]', type: "text", value: current_user.name}
							#DetailsNameError.error
								= errortxt(current_user.errors[:email].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label Phone *
						.col-sm-6
							%input#DetailsPhone.validate-presence.validate-numeric.validate-length.form-control{name: 'user[phone]', type: "text", value: current_user.phone, 'data-length' => 10, placeholder: '10 digit mobile no. (India only)'}
							#DetailsPhoneError.error
								= errortxt(current_user.errors[:phone].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label Date of Birth *
						.col-sm-6
							- if current_user.dob.blank?
								%input#DetailsDob.validate-presence.form-control.dob{name: 'user[dob]', type: "text", placeholder: "dd/mm/yyyy (min #{CommonHelper::MIN_AGE} years)"}
							- else
								%input#DetailsDob.validate-presence.form-control.dob{name: 'user[dob]', type: "text", value: current_user.dob.strftime('%d/%m/%Y'), placeholder: "dd/mm/yyyy (min #{CommonHelper::MIN_AGE} years)"}
							#DetailsDobError.error
								= errortxt(current_user.errors[:dob].uniq.join(', '))
					.row.form-group
						%label.col-sm-4.control-label City *
						.col-sm-6
							- if !current_user.city_id.blank?
								%select.selectpicker.select-city{name: 'user[city_id]'}
									%option#DetailsCity.validate-presence.form-control.city{type: "text", value: "1", selected: current_user.city_id == 1}
										Bangalore
									%option#DetailsCity.validate-presence.form-control.city{type: "text", value: "2", selected: current_user.city_id == 2}
										Pune
									%option#DetailsCity.validate-presence.form-control.city{type: "text", value: "3", selected: current_user.city_id == 3}
										Delhi
							- else
								- dob_string = current_user.dob.strftime('%d/%m/%Y') rescue ""
								%input#DetailsDob.validate-presence.form-control.dob{name: 'user[dob]', type: "text", value: dob_string, placeholder: "dd/mm/yyyy (min #{CommonHelper::MIN_AGE} years)"}
							#DetailsDobError.error
								= errortxt(current_user.errors[:dob].uniq.join(', '))
					- if false
						.row.form-group
							%label.col-sm-4.control-label Gender
							.col-sm-6
								%select#DetailsGender.form-control{name: 'user[gender]', placeholder: 'Gender *'}
									- [['Male', 0], ['Female', 1]].each do |t|
										- if current_user.gender == t[1]
											%option{value: t[1], selected: true}
												= t[0]
										- else
											%option{value: t[1]}
												= t[0]
						.row.form-group
							%label.col-sm-4.control-label Country
							.col-sm-6
								%select#DetailsCountry.form-control.bind-country{name: 'user[country]'}
									- Country.all.each do |t|
										- if current_user.country == t[1]
											%option{value: t[1], selected: true}
												= t[0]
										- else
											%option{value: t[1]}
												= t[0]
						.bind-to-country
							.row
								.col-sm-4
								.col-sm-6
									.help-block
										Your current address for optimized experience
							.row.form-group
								%label.col-sm-4.control-label Pincode
								.col-sm-6
									%input#DetailsPincode.form-control{name: 'user[pincode]', type: "text", value: current_user.pincode, placeholder: '6 digit current pincode'}
									#DetailsPincodeError.error
										= errortxt(current_user.errors[:pincode].uniq.join(', '))
							.row.form-group
								%label.col-sm-4.control-label State
								.col-sm-6
									%select#DetailsState.form-control{name: 'user[state]'}
										- CommonHelper::STATE.each do |t|
											- if current_user.state == t
												%option{value: t, selected: true}
													= t
											- else
												%option{value: t}
													= t
							.row.form-group
								%label.col-sm-4.control-label City
								.col-sm-6
									%input#DetailsCity.form-control{name: 'user[city]', type: "text", value: current_user.city, placeholder: 'current city'}
				.t-c
					#DetailsSubmit.p-5
						= submit_tag "Submit", :class => 'btn btn-default btn-lg'
					#DetailsWait.p-5{style: "display:none;"}
						.wait
			- if session[:normal_signup] == 1
				- session[:normal_signup] = nil
				:javascript
					initializeDatePicker();
					checkUser();
					bindCountry();
			- else
				:javascript
					var _adx = {};
					_adx.xb  = '35BDU410';
					_adx.xt  = 'conversion';
					_adx.xgid  = '6AMDp22';
					(function(d){
						var x = d.createElement('script');
						x.async = true;
						x.src = ('https:' == d.location.protocol ? 'https://d1adj61x0fgvmc.cloudfront.net' : 'http://s.adx.io') + '/dxjet.js';
						var s = d.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(x, s);
					})(document);
					initializeDatePicker();
					bindCountry();
			- if !session[:signup]
				:javascript
					var fb_param = {};
					fb_param.pixel_id = '6012571790330';
					fb_param.value = "0.00";
					fb_param.currency = 'INR';
					(function(){
						var fpw = document.createElement('script');
						fpw.async = true;
						fpw.src = '//connect.facebook.net/en_US/fp.js';
						var ref = document.getElementsByTagName('script')[0];
						ref.parentNode.insertBefore(fpw, ref);
					})();
			- session[:signup] = 1
		- else
			%div
				- if City.find(current_user.city_id || 1).active
					%b Thank you for signing up. #{signup_credits_earned? ? "You have earned ₹500 in credits! They are in your Zoomcar Wallet." : ""}
				- else
					%b  Thank you! A welcome email is on its way. When we reach beautiful Delhi we will send an email letting you know, and your discount code will be in that email.

			:javascript
				pushEvent('Sign Up', 'Successful Sign-up', 'Home Page (My Account)');
			- if !session[:book].blank?
				%br/
				%br/
				%br/
				%br/
				%b.size-16 Please wait while we take you to the next step
				%br/
				%br/
				%img{:src => "http://#{HOSTNAME}/images/loader.gif", :alt => '', :border => '0'}
				:javascript
					var auto = setTimeout(function(){ submitRedirect(); }, 1000);
					function submitRedirect() {
						clearTimeout(auto);
						window.location = "/#{@city.link_name.downcase}/bookings/do";
					}
:javascript
function checkJquery() {
	$('.selectpicker').selectpicker();
}
checkJquery();
					
