- if user_signed_in?
	%a.dropdown-toggle.p-r10{:href => "javascript:void(0)", 'data-toggle' => "dropdown"}
		My Account
		%b.caret
	%ul.dropdown-menu.pull-right
		%li
			%a{:href => "#{@sslhost}/bookings"} My Bookings
		%li
			%a{:href => "#{@sslhost}/users/credits"} Credits History
		%li
			%a{:href => "#{@sslhost}/users/settings"}
				Account Settings
		%li
			%a{:href => "#{@sslhost}/users/license"}
				License Details
		%li
			%a{:href => "javascript:void(0)", :onclick => "logOut('#{destroy_user_session_path}');"}
				Logout
- else
	%a.dropdown-toggle.p-r10{:href => "javascript:void(0)", 'data-toggle' => "dropdown"}
		Sign Up / Sign In
		%b.caret
	%ul.dropdown-menu.pull-right
		%li
			%a{:href => "javascript:void(0)", :onclick => "showModal('Sign Up', '/users/signup');"}
				Sign Up
		%li
			%a{:href => "javascript:void(0)", :onclick => "showModal('Sign In', '/users/signin');"}
				Sign In
		%li
			%a{:href => "javascript:void(0)", :onclick => "showModal('Sign In', '/users/forgot');"}
				Forgot Password
- if user_signed_in? && !session[:social_signup].blank?
	- if session[:social_signup] == 0
		- session[:social_signup] = nil
		:javascript
			userLogin();
	- else
		:javascript
			showModal('Sign Up', '/users/social');
- if session[:confirmed] == 1
	- session[:confirmed] = nil
	:javascript
		userActive();
- elsif session[:blocked] == 1
	- session[:blocked] = nil
	- flash[:notice] = "<b>Access Denied!</b> Please login to continue."
	:javascript
		showModal('Sign In', '/users/signin');
