- @user ||= User.new
%h1.t-c.zoom.droid Change Your Password
%br/
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
	- render_flash
	= f.hidden_field :reset_password_token
	.form-horizontal
		.row.form-group
			%label.col-sm-4.control-label New Password
			.col-sm-6
				= f.password_field :password, :autofocus => true, :class => 'form-control'
				.error
					= errortxt(@user.errors[:password].uniq.join(', '))
		.row.form-group
			%label.col-sm-4.control-label Confirm Password
			.col-sm-6
				= f.password_field :password_confirmation, :class => 'form-control'
				.error
					= errortxt(@user.errors[:password_confirmation].uniq.join(', '))
		.row
			.col-sm-4
			.col-sm-6
				= f.submit "Submit", :class => 'btn btn-default btn-lg'
%br/
%br/
%br/
%br/
%br/
