- cargroup = @booking.cargroup
- location = @booking.location
- outstanding = @booking.outstanding
%br/
Hi #{@user.name},
%br/
%br/
%br/
You've cancelled the following reservation:
%br/
%br/
%div{style: "border-radius:5px; background:#eeeeee; padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Vehicle:
			%td{valign: 'top'}
				%b #{cargroup.display_name}
				%br/
				- if !cargroup.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= cargroup.disclaimer.html_safe
		%tr
			%td{valign: 'top'} Pick-up Location: 
			%td{valign: 'top'}
				%b #{location.name}
				%br/
				= "("
				%a{href: "#{location.map_link}", target: "_blank"} View Map
				= ")"
				%br/
				- if !location.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= location.disclaimer.html_safe
		%tr
			%td{valign: 'top'} Reservation Begins: 
			%td{valign: 'top'}
				%b #{@booking.starts.strftime("%d/%m/%y %I:%M %p")}
		%tr
			%td{valign: 'top'} Reservation Ends:
			%td{valign: 'top'}
				%b #{@booking.ends.strftime("%d/%m/%y %I:%M %p")}
		%tr
			%td{valign: 'top'} Reservation Confirmation Number:
			%td{valign: 'top'}
				%b #{@booking.confirmation_key}
				%br/
				%a{href: "#{@booking.link}", target: "_blank"}
					manage your reservation
%br/
%br/
%div{style: "background:#eeeeee; margin:0px; padding:10px; color:#000000;"}
	- if @charge
		%b
			Rs.
			= @charge.amount
		- if @charge.refund == 1
			is refunded back to the reservation.
		- else
			is added as cancellation charges to the reservation.
	- else
		%b
			No change in your reservation charges.
	%br/
	- if outstanding < 0
		%b
			Rs.
			#{0-outstanding}
		will be refunded back to your account.
		%br/
		%i Please note that it will take 3-4 days for the reimbursed amount to reflect in your account.
		%br/
%br/
%br/
We're sorry that this reservation won't work out for you now, but check out what else is available for another time by logging onto
%b 
	%a{href: "http://www.zoomcar.in", target: "_blank"} www.zoomcar.in.
%br/
%br/
%br/
Happy Driving!
%br/
%br/ 
The Zoom Team
%br/
%br/
