:ruby
	city = @booking.city
	cargroup = @booking.cargroup
	location = @booking.location
%br/
Hi #{@user.name},
%br/
%br/
%br/
Your booking has been cancelled. These are the details of the reservation:
%br/
%br/
%div{style: "border-radius:5px; background:#eeeeee; padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Vehicle:
			%td{valign: 'top'}
				%b #{cargroup.display_name}
				%br/
				- if !cargroup.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= cargroup.disclaimer.html_safe
		%tr
			%td{valign: 'top'} Pick-up Location: 
			%td{valign: 'top'}
				%b #{location.name}
				%br/
				= "("
				%a{href: "#{location.map_link}", target: "_blank"} View Map
				= ")"
				%br/
				- if !location.description.blank?
					%p{style: 'margin:0; padding:0;'}
						%u Directions
						%br/
						= location.description.html_safe
				- if !location.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= location.disclaimer.html_safe
				- if !location.mobile.blank?
					For any assistance, please call our fleet at 
					%b #{location.mobile}
					%br/
		%tr
			%td{valign: 'top'} Reservation Begins: 
			%td{valign: 'top'}
				%b #{@booking.starts.strftime("%d/%m/%y %I:%M %p")}
		%tr
			%td{valign: 'top'} Reservation Ends:
			%td{valign: 'top'}
				%b #{@booking.ends.strftime("%d/%m/%y %I:%M %p")}
		%tr
			%td{valign: 'top'} Reservation Confirmation Number:
			%td{valign: 'top'}
				%b #{@booking.confirmation_key}
				%br/
				%a{href: "#{@booking.link}", target: "_blank"}
					manage your reservation
%br/
%br/
%div{style: "background:#eeeeee; margin:0px; padding:10px; color:#000000;"}
	- if @total > 0 && @deposit > 0
		We have initiated a refund of 
		%b
			Rs.
			= @total.to_i
		, it should reach your account in 5 business days.
		%b
			Rs.
			= @deposit.to_i
		of your deposit has been moved to your Zoomcar Wallet.
	-elsif @total == 0 && @deposit > 0 
		%b
			Rs.
			= @deposit.to_i
			of your deposit has been moved to your Zoomcar Wallet
	-elsif @total > 0 && @deposit == 0
		We have initiated a refund of
		%b
			Rs.
			= @total.to_i
	-elsif @total == 0 && @deposit == 0
		All charges were covered by the Security Deposit, it should reach your account in 5 business days.
%br/
%br/
%br/
Here is the invoice for your booking:
%a{href: @booking.link + "/invoice"} 
	= @booking.link + "/invoice"
Please do feel free to reach out to us about any of these charges, we are always there to address your concerns.
%br/
%br/
We're sorry that this reservation didn't work out for you now, but check out what else is available for another time by logging onto
%b 
	%a{href: "http://www.zoomcar.in", target: "_blank"} www.zoomcar.in.
%br/
%br/
If you have any questions about your reservation you can contact Zoom at #{city.contact_email} / #{city.contact_phone}.
%br/
%br/
%br/
Best,
%br/
%br/ 
The ZoomCar Team
%br/
%br/
