- cargroup = @booking.cargroup
- location = @booking.location
- outstanding = @booking.outstanding
%br/
Hi #{@user.name},
%br/
%br/
%br/
Your Zoom reservation end time has been changed.
%br/
Please review the details of your reservation:
%br/
%br/
%table{border: '0', cellpadding: '5', cellspacing: '0', style: "background:#eeeeee; font-size:12px; color:#333333;"}
	%tr
		%td Vehicle:
		%td
			%b #{cargroup.display_name}
	%tr
		%td Pick-up location: 
		%td
			%b #{location.name}
			= "("
			%a{href: "#{location.map_link}", target: "_blank"} View Map
			= ")"
	%tr
		%td Reservation begins: 
		%td
			%b #{@booking.starts.strftime("%d/%m/%y %I:%M %p")}
	%tr
		%td Reservation Confirmation Number:
		%td
			%b
				%a{href: "#{@booking.link}", target: "_blank"}
					= @booking.confirmation_key
%br/
%br/
%b
	%i
		Your reservation now ends: #{@booking.ends.strftime("%d/%m/%y %I:%M %p")}
%br/
%br/
%div{style: "background:#eeeeee; margin:0px; padding:10px; color:#000000;"}
	- if @charge
		%b
			Rs.
			= @charge.amount
		- if @charge.refund == 1
			is refunded back to the reservation.
		- else
			is added as charges to the reservation.
	- else
		%b
			No change in your reservation charges.
	%br/
	- if outstanding > 0
		%b
			Rs.
			#{outstanding}
		is outstanding against the reservation.
		- if @booking.starts < Time.now
			Please clear all your outstanding amount when you drop the vehicle back to Zoom.
		- else
			Please clear all your outstanding amount when you pick the vehicle from Zoom. Zoom reserve the right of cancelling the booking against any pending payment.
%br/
%br/
- if @booking.starts < Time.now
	%div{style: "margin:0px; padding:0px;"}
		%b{style: "color:red; font-style:italic;"} IMPORTANT!
		%br/
		\- Please remember to carry your original driving license at the time of picking the car. Zoom reserves the right of cancelling the reservation if the original driving license is not produced.
		%br/
		\- As a friendly reminder, each reservation comes with 40 free km/hr (w/ 200 km/day max cap). Any excess kms will be charged at 
		Rs #{cargroup.excess_kms}/km.
		%br/
		\- Please remember to carry your valid credit / debit card for paying any fee at the time you return the vehicle.
	%br/
	%br/
%br/
If you have any questions about your reservation you can contact Zoom at help@zoomcar.in.
%br/
%br/
%br/  
Happy Driving!
%br/
%br/ 
The Zoom Team
%br/
%br/
