:ruby
	city = @booking.city
	cargroup = @booking.cargroup
	location = @booking.location
	outstanding = @booking.outstanding
	fare = @booking.get_fare
%br/
Hi #{@user.name},
%br/
%br/
%br/
Your Zoomcar reservation end time has been changed.
%br/
Please review the details of your reservation:
%br/
%br/
%div{style: "border-radius:5px; background:#eeeeee; padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Vehicle:
			%td{valign: 'top'}
				%b #{cargroup.display_name}
				%br/
				- if !cargroup.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= cargroup.disclaimer.html_safe
		%tr
			%td{valign: 'top'} Pick-up Location: 
			%td{valign: 'top'}
				%b #{location.name}
				%br/
				= "("
				%a{href: "#{location.map_link}", target: "_blank"} View Map
				= ")"
				%br/
				- if !location.description.blank?
					%p{style: 'margin:0; padding:0;'}
						%u Directions
						%br/
						= location.description.html_safe
				- if !location.disclaimer.blank?
					%p{style: 'color:red; margin:0; padding:0;'}
						= location.disclaimer.html_safe
				- if !location.mobile.blank?
					For any assistance, please call our fleet at 
					%b #{location.mobile}
					%br/
		%tr
			%td{valign: 'top'} Reservation Begins: 
			%td{valign: 'top'}
				%b #{@booking.starts.strftime("%d/%m/%y %I:%M %p")}
		%tr
			%td{valign: 'top'} Reservation Confirmation Number:
			%td{valign: 'top'}
				%b #{@booking.confirmation_key}
				%br/
				%a{href: "#{@booking.link}", target: "_blank"}
					manage your reservation
%br/
%br/
%b
	%i
		Your reservation now ends: #{@booking.ends.strftime("%d/%m/%y %I:%M %p")}
%br/
%br/
%div{style: "background:#eeeeee; margin:0px; padding:10px; color:#000000;"}
	- if @total != 0
		- if @total < 0
			%b
				Rs.
				= 0 - @total
			is refunded back to the reservation.
		- else
			%b
				Rs.
				= @total
			is added as cancellation charges to the reservation.
	- else
		%b
			No change in your reservation charges.
	%br/
	- if outstanding > 0
		%b
			Rs.
			#{outstanding}
		is outstanding against the reservation.
		- if @booking.starts < Time.now
			Please clear all your outstanding amount when you drop the vehicle back to Zoomcar.
		- else
			%a{href: "#{@booking.link}", target: "_blank"}
				Make payment
	- elsif outstanding < 0
		%b
			Rs.
			#{0-outstanding}
		will be refunded back to your account.
		%i Please note that all refunds are processed at the time the vehicle is returned back to Zoomcar and the reservation has officially ended. It will then take 3-4 days for the reimbursed amount to reflect in your account.
%br/
%br/
%div{style: "margin:0px; padding:0px;"}
	%b{style: "color:red; font-style:italic;"} IMPORTANT!
	%br/
	- if @booking.starts > Time.now
		%p{style: "margin:5px 0 0 0; padding:0;"}
			\- Please remember to carry your original driving license at the time of picking the car. Zoomcar reserves the right of cancelling the reservation if the original driving license is not produced.
		%p{style: "margin:5px 0 0 0; padding:0;"}
			\- Please remember to carry your valid credit / debit card for paying any fee at the time you return the vehicle.
	%p{style: "margin:5px 0 0 0; padding:0;"}
		\- As a friendly reminder, your reservation comes with 
		%b
			#{fare[:kms]}
		free Kms**. Any excess kms will be charged at 
		%b
			Rs #{cargroup.excess_kms}/Km**.
		%br/
		%i
			** - Free kms limit and excess km charge may change and will be governed by the zoom policies at the time of vehicle dropoff. See our 
			%a{href: "http://#{HOSTNAME}/tariff"} tariff
			and
			%a{href: "http://#{HOSTNAME}/fees"} fee policy
			for more.
	%br/
	%br/
%b Your Details
%br/
%div{style: "padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Name:
			%td{valign: 'top'}
				%b #{@user.name}
		%tr
			%td{valign: 'top'} Email: 
			%td{valign: 'top'}
				%b #{@user.email}
		%tr
			%td{valign: 'top'} Mobile: 
			%td{valign: 'top'}
				%b #{@user.phone}
		%tr
			%td{valign: 'top'} License:
			%td{valign: 'top'}
				- license = @user.license_pic
				- if license
					%a{href: 'http://uploads.zoomcar.com' + license.avatar.url(:profile), target: '_blank'}
						See license
				- else
					= "-"
%br/
%br/
If you have any questions about your reservation you can contact Zoomcar at #{city.contact_email} / #{city.contact_phone}.
%br/
%br/
%br/  
Happy Driving!
%br/
%br/ 
The Zoomcar Team
%br/
%br/