
%br/
Hi Support
%br/
%b #{@user.name} 
has Updated Driving License

%br/
%br/


Please review and Verify.
%br/

%div{style: "padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Name:
			%td{valign: 'top'}
				%b #{@user.name}
		%tr
			%td{valign: 'top'} Email: 
			%td{valign: 'top'}
				%b #{@user.email}
		%tr
			%td{valign: 'top'} Mobile: 
			%td{valign: 'top'}
				%b #{@user.phone}
		%tr
			%td{valign: 'top'} License:
			%td{valign: 'top'}
				- license = @user.license_pic
				- if license
					%a{href: 'http://uploads.zoomcar.in' + license.avatar.url(:profile), target: '_blank'}
						See license
				- else
					= "-"
.panel-heading
		%h3.panel-title Future Bookings
	.panel-body
		:ruby
			if user_signed_in?
				bk = current_user.get_bookings('future')
			else
				bk = []
			end
		= render :partial => 'item', :locals => {:bookings => bk}