%br/
Hi Support
%br/
%b #{@user.name} 
has updated his driving license
%br/
%br/
Please review and Verify.
%br/
%div{style: "padding:5px; margin:0px;"}
	%table{border: '0', cellpadding: '5', cellspacing: '0', style: "font-size:12px; color:#333333;"}
		%tr
			%td{valign: 'top'} Name:
			%td{valign: 'top'}
				%b #{@user.name}
		%tr
			%td{valign: 'top'} Email: 
			%td{valign: 'top'}
				%b #{@user.email}
		%tr
			%td{valign: 'top'} Mobile: 
			%td{valign: 'top'}
				%b #{@user.phone}
		%tr
			%td{valign: 'top'} License:
			%td{valign: 'top'}
				- license = @user.license_pic
				- if license
					%a{href: 'http://uploads.zoomcar.in' + license.avatar.url(:profile), target: '_blank'}
						See license
				- else
					= "-"
%br/
%br/
%h3 Future Bookings
- bookings = @user.get_bookings('future')
- if bookings.blank?
	No bookings were found.
	%br/
	%br/
- else
	%table
		%tr
			%th #
			%th Car
			%th Location
			%th Starts
			%th Ends
			%th Status
		- bookings.each do |b|
			%tr
				%td
					%b #{b.confirmation_key.upcase}
				%td #{b.cargroup.name}
				%td #{b.location.shortname}
				%td #{b.starts.strftime("%d %b, %Y %I:%M %p")}
				%td #{b.ends.strftime("%d %b, %Y %I:%M %p")}
				%td #{b.status_text}
