.size-18.t-c
	Currently in Wallet: 
	%span.f-b Rs. #{number_with_delimiter(current_user.wallet_total_amount)}

%br/

%table.m-0{style: "width: 100%;", cellspacing: 0, cellpadding: 0}
	%tr.size-13
		%th.p-b10.p-t10.bg-e.t-c
			Date
		%th.p-b10.p-t10.bg-e.t-c
			Booking
		%th.p-b10.p-t10.bg-e.t-c
			Amount

	%tbody
		- @history.each do |wallet|
			%tr
				%td.t-c.bg-w.p-t10.p-b10.border-b-e
					= wallet.created_at.to_date.strftime("%d %b %Y")
				%td.t-c.bg-w.p-t10.p-b10.border-b-e
					= wallet.transferable.blank? ? "Pending Refund" : "##{wallet.transferable.booking.confirmation_key}" 
				%td.t-c.bg-w.p-t10.p-b10.border-b-e
					= "#{wallet.credit ? "+" : "-"} Rs. #{number_with_delimiter(wallet.amount.to_i)}" 
					