- render_flash
:ruby 
	wallet_snap = current_user.wallet_snapshot
	bookings = wallet_snap[:bookings].dup
	wallet_amount = wallet_snap[:amount]
	scale = 0.0002314814814814815
	wallet_amounts = [[((bookings.first[:ends].to_i rescue wallet_snap[:ends].to_i)- wallet_snap[:starts].to_i)*scale, wallet_snap[:amount]]]
	bookings.each_with_index do |booking, index|
		next if index == 0
		wallet_amounts << [(booking[:ends].to_i - wallet_snap[:starts].to_i)*scale, (wallet_amounts.last.last + bookings[index-1][:amount])]
	end
	booking = bookings.last
	unless booking.blank?
		wallet_amounts << [(wallet_snap[:ends].to_i-wallet_snap[:starts].to_i)*scale, 
		(booking[:booking].hold) ? (wallet_amounts.last.last) : (wallet_amounts.last.last + booking[:amount])]
	end

	def get_level(booking, levels)
		levels.each_with_index do |level, index|
			return index if level.include? booking
		end
		return 0
	end
	live_upcoming_bookings = current_user.get_bookings('live')
	live_upcoming_bookings << current_user.get_bookings('future')
	completed_bookings = current_user.get_bookings('completed')
	cancelled_bookings = current_user.get_bookings('cancelled')
#wallet-info.bs-g.fl
	.p-10.bg-zoomb.white.t-c.f-b
		My Wallet
	.solid.border-c
		.p-t5.size-11.t-c
			Security Desposit in Wallet
		.p-10.size-22.f-b.t-c.border-b-c
			= "Rs. " + number_with_delimiter(wallet_amount)
		%a.block.p-10.black.border-b-c.t-n{href: "javascript:void(0)", onclick: "showModal('Request Refund', '/wallets/show_refund');"}
			Available for refund: 
			%span.zoom.f-b
				= "Rs. " + number_with_delimiter(current_user.wallet_total_amount)
		%a.block.p-10.black.border-b-c.t-n{href: "javascript:void(0)", onclick: "showModal('Transaction History', '/wallets/history');"}
			%span.glyphicon.glyphicon-list
			Show Transaction History

#wallet-graph.position-r.fr
	#y-axis.position-a.t-r
		- (1..4).each do |n|
			.position-a{:id => "y-axis-#{n}"}
				= number_with_delimiter(0 + (4 - n)*CommonHelper::SECURITY_DEPOSIT) + " -"
	#x-axis.position-a.t-c
		- (1..5).each do |n|
			.position-a{:id => "x-axis-#{n}"}
				= (Date.today + (7*(n-1)).days).strftime("%b %d")

	#legend.position-a
		#indicator-1.inline-block
			&nbsp;
		Security Deposit Available in Wallet

		#indicator-2.inline-block
			&nbsp;
		No Deposit Due

		#indicator-3.inline-block
			&nbsp;
		Deposit Due
	-offset = 0
	- wallet_amounts.each do |wa|
		.money.position-a{style: "width: #{wa.first}px; height: #{30*wa.last/5000}px; bottom: 0;"}
		&nbsp;
		- offset = wa.first
	- all_levels =[]
	- tries = 0
	- levels = []
	- remaining = wallet_snap[:bookings].dup
	- while remaining.any? && tries<wallet_snap[:bookings].count
		- (remaining).each do |booking|
			- levels << booking unless levels.select{|b2| b2[:booking].wallet_overlaps? booking[:booking]}.any?
		- remaining = remaining - levels
		- all_levels << levels
		- levels = []
		-tries+=1

	- wallet_snap[:bookings].each do |booking|
		- offset = (booking[:starts] - wallet_snap[:starts])*scale
		- width = 25+ (booking[:booking].ends- booking[:booking].starts)*scale
		- width = (width+offset> 600) ? (600 - offset) : width
		- car_offset = ((width/2).to_i - 33) < -20 ? -20 : (width/2).to_i - 33
		.position-a.pop{class: "#{current_user.unsafe_booking?(booking[:booking]) ? 'unsafe-booking' : 'safe-booking'}", 'style' => "width: #{width}px; height: 30px; bottom: #{30*get_level(booking, all_levels)}px; left: #{offset}px;", 'tabindex' => '0', 'data-toggle' => "popover", 'data-trigger' => 'focus', 'title' => "#{booking[:booking].confirmation_key}", 'data-html' => "true", 'data-content' => "#{booking[:booking].cargroup.name}<br/>#{booking[:booking].starts.strftime('%d/%m/%y %I:%M %p')}<br/>#{booking[:booking].ends.strftime('%d/%m/%y %I:%M %p')}"}
			.wallet-car{style: "left: #{car_offset}px"}	


	.position-a.pop{class: "unsafe-booking", 'style' => "width: 150px; height: 30px; bottom: 0px; left: 100px;", 'tabindex' => '0', 'data-toggle' => "popover", 'data-trigger' => 'focus', 'title' => "JPS6E4S4J", 'data-html' => "true", 'data-content' => "sdfsdf"}
		.wallet-car{style: "left: 20px"}	
.fc

.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Live and Upcoming Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c{style: "width: 400px"} Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding
			%th.t-c 
				Security Deposit Due 
				%span.help.pointer{'data-placement' => "top", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Pay your Security Deposit through the Booking Summary page, which you can reach by clicking on the relevant booking."}
					[?]

		- live_upcoming_bookings.flatten.each_with_index do |booking, n|
			%tr.clickable-row.pointer{'id' => "row#{booking.confirmation_key}",  'href' => '/bookings/'+ booking.confirmation_key, class: "#{booking.security_amount_remaining > 0 ? 'unsafe-booking-entry' : ''}"}
				%td.t-c
					.p-t15.size-16
						= link_to booking.confirmation_key, '/bookings/'+ booking.confirmation_key
				%td
					.inline-block.colored
						.m-auto{:class => 'small-car' + booking.cargroup_id.to_s}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking.cargroup.name
						%br/
						= booking.location.name
				%td.t-c
					.p-t10
						= booking.starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking.ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t15.size-16
						= "Rs. " + number_with_delimiter(booking.outstanding)
				%td.t-c
					.p-t15.size-16{class: "#{booking.security_amount_remaining > 0 ? 'red' : ''}"}
						= "Rs. " + number_with_delimiter(booking.security_amount_remaining)
						/= "Rs. " + number_with_delimiter(((CommonHelper::SECURITY_DEPOSIT - wallet_amounts[n].last) < 0) ? 0 : (CommonHelper::SECURITY_DEPOSIT - ((wallet_amounts[n].last < 0) ? 0 : wallet_amounts[n].last.to_i)))


.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Completed Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c{style: "width: 400px"} Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding

		- n = 0
		- completed_bookings.each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking.confirmation_key}",  'href' => '/bookings/'+ booking.confirmation_key}
				%td.t-c
					.p-t15.size-16
						= link_to booking.confirmation_key, '/bookings/'+ booking.confirmation_key
				%td
					.inline-block.colored
						.m-auto{:class => 'small-car' + booking.cargroup_id.to_s}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking.cargroup.name
						%br/
						= booking.location.name
				%td.t-c
					.p-t10
						= booking.starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking.ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t15.size-16
						= "Rs. " + number_with_delimiter(booking.outstanding)

.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Cancelled Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c{style: "width: 400px"} Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding

		- n = 0
		- cancelled_bookings.each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking.confirmation_key}",  'href' => '/bookings/'+ booking.confirmation_key}
				%td.t-c
					.p-t15.size-16
						= link_to booking.confirmation_key, '/bookings/'+ booking.confirmation_key
				%td
					.inline-block.colored
						.m-auto{:class => 'small-car' + booking.cargroup_id.to_s}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking.cargroup.name
						%br/
						= booking.location.name
				%td.t-c
					.p-t10
						= booking.starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking.ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t15.size-16
						= "Rs. " + number_with_delimiter(booking.outstanding)
.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Unfinished Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c{style: "width: 400px"} Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding

		- n = 0
		- current_user.get_bookings('unfinished').each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking.confirmation_key}",  'href' => '/bookings/'+ booking.confirmation_key}
				%td.t-c
					.p-t15.size-16
						= link_to booking.confirmation_key, '/bookings/'+ booking.confirmation_key
				%td
					.inline-block.colored
						.m-auto{:class => 'small-car1'}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking.cargroup.name
						%br/
						= booking.location.name
				%td.t-c
					.p-t10
						= booking.starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking.ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t10
						= "Rs. " + number_with_delimiter(booking.outstanding_with_security)
.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Unfinished Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c{style: "width: 400px"} Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding
