- render_flash
:ruby 
	wallet_snap = current_user.wallet_snapshot
	bookings = wallet_snap[:bookings].dup
	wallet_amount = wallet_snap[:amount]
	scale =  0.000164117
	wallet_amounts = [[((bookings.first[:ends].to_i rescue wallet_snap[:ends].to_i)- wallet_snap[:starts].to_i)*scale, wallet_snap[:amount]]]
	bookings.each do |booking|
		wallet_amounts << [(booking[:ends].to_i - wallet_snap[:starts].to_i)*scale, (wallet_amounts.last.last + booking[:amount])]
	end

	def get_level(booking, levels)
		levels.each_with_index do |level, index|
			return index if level.include? booking
		end
		return 0
	end
#wallet-info.bs-g.fl
	.p-10.bg-zoomb.white.t-c.f-b
		My Wallet
	.solid.border-c
		.p-10.size-22.f-b.t-c.border-b-c
			= "Rs. " + number_with_delimiter(wallet_amount)
		%a.block.p-10.black.border-b-c{href: "javascript:void(0)", onclick: "showModal('Request Refund', '/wallets/show_refund');"}
			= "Frozen amount: Rs. " + number_with_delimiter(current_user.wallet_frozen_amount)
		%a.block.p-10.black.border-b-c{href: "javascript:void(0)", onclick: "showModal('Transaction History', '/wallets/history');"}
			Show Transaction History

#wallet-graph.position-r.fr
	#y-axis.position-a.t-r
		- (1..4).each do |n|
			.position-a{:id => "y-axis-#{n}"}
				= number_with_delimiter(0 + (4 - n)*CommonHelper::SECURITY_DEPOSIT) + " -"
	#x-axis.position-a.t-c
		- (1..5).each do |n|
			.position-a{:id => "x-axis-#{n}"}
				= (Date.today + (7*(n-1)).days).strftime("%b %d")

	#legend.position-a
		#indicator-1.inline-block
			&nbsp;
		Money in Wallet

		#indicator-2.inline-block
			&nbsp;
		No Deposit Due

		#indicator-3.inline-block
			&nbsp;
		Deposit Due
	-offset = 0
	- wallet_amounts.each do |wa|
		.money.position-a{style: "width: #{wa.first}px; height: #{30*wa.last/5000}px; bottom: 0; left: #{offset}px;"}
		&nbsp;
		- offset = wa.first
	- all_levels =[]
	- tries = 0
	- levels = []
	- remaining = wallet_snap[:bookings].dup
	- while remaining.any? && tries<wallet_snap[:bookings].count
		- (remaining).each do |booking|
			- levels << booking unless levels.select{|b2| b2[:booking].wallet_overlaps? booking[:booking]}.any?
		- remaining = remaining - levels
		- all_levels << levels
		- levels = []
		-tries+=1
	.money.position-a{style: "width: #{600-offset}px; height: #{30*wallet_amounts.last.last/5000}px; bottom: 0; left: #{offset}px;"}
		&nbsp;
	- wallet_snap[:bookings].each do |booking|
		- offset = (booking[:starts] - wallet_snap[:starts])*scale
		.position-a.pop{class: "#{current_user.unsafe_booking?(booking[:booking]) ? 'unsafe-booking' : 'safe-booking'}", 'style' => "width: #{25+ (booking[:booking].ends- booking[:booking].starts)*scale}px; height: 30px; bottom: #{30*get_level(booking, all_levels)}px; left: #{offset}px;", 'data-toggle' => "popover", 'title' => "#{booking[:booking].confirmation_key}", 'data-html' => "true", 'data-content' => "#{booking[:booking].cargroup.name}<br/>#{booking[:booking].starts.to_s}<br/>#{booking[:booking].ends.to_s}"}
			.wallet-car

.fc

.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Upcoming Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding
			%th.t-c 
				Security Deposit Due 
				%span.help.pointer{'data-placement' => "top", 'data-toggle' => "tooltip", 'data-html' => 'true', 'data-title' => "Pay your Security Deposit through the Booking Summary page, which you can reach by clicking on the relevant booking."}
					[?]

		- n = 0
		- wallet_snap[:bookings].each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking[:booking].confirmation_key}",  'href' => "#"}
				%td.t-c
					.p-t15.size-16
						= booking[:booking].confirmation_key
				%td.t-c
					.inline-block.colored
						.m-auto{:class => 'small-car1'}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking[:booking].cargroup.name
						%br/
						= booking[:booking].location.name
				%td.t-c
					.p-t10
						= booking[:booking].starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking[:booking].ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t10
						Rs. 300
				%td.t-c
					.p-t15.size-16
						= "Rs. " + number_with_delimiter(((CommonHelper::SECURITY_DEPOSIT - wallet_amounts[n].last) < 0) ? 0 : (CommonHelper::SECURITY_DEPOSIT - ((wallet_amounts[n].last < 0) ? 0 : wallet_amounts[n].last.to_i)))
						- n += 1


.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Completed Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding

		- n = 0
		- wallet_snap[:bookings].each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking[:booking].confirmation_key}",  'href' => "#"}
				%td.t-c
					.p-t15.size-16
						= booking[:booking].confirmation_key
				%td.t-c
					.inline-block.colored
						.m-auto{:class => 'small-car1'}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking[:booking].cargroup.name
						%br/
						= booking[:booking].location.name
				%td.t-c
					.p-t10
						= booking[:booking].starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking[:booking].ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t10
						Rs. 300

.bs-g.m-t20
	.p-10.bg-zoomb.white.f-b
		Cancelled Bookings
	%table.table-condensed.table-hover.table
		%tr.active
			%th.t-c Booking ID
			%th.t-c Vehicle & Location
			%th.t-c Duration
			%th.t-c Outstanding

		- n = 0
		- wallet_snap[:bookings].each do |booking|
			%tr.clickable-row.pointer{'id' => "row#{booking[:booking].confirmation_key}",  'href' => "#"}
				%td.t-c
					.p-t15.size-16
						= booking[:booking].confirmation_key
				%td.t-c
					.inline-block.colored
						.m-auto{:class => 'small-car1'}
					.inline-block.p-l10.position-r.t-l{style: "top: -15px"}
						= booking[:booking].cargroup.name
						%br/
						= booking[:booking].location.name
				%td.t-c
					.p-t10
						= booking[:booking].starts.strftime("%d %b, %Y %H:%M %p")
						%br/
						= booking[:booking].ends.strftime("%d %b, %Y %H:%M %p")
				%td.t-c
					.p-t10
						Rs. 300