:ruby
	b = Booking.new
	b.starts = starts
	b.ends = ends
	b.location_id = location.id
	b.cargroup_id = cargroup.id
	b.city_id = location.city_id
	b.valid?
	fare = b.get_fare
	disc = fare[:total] - fare[:total]*discount/100
.col-md-6.pull-left
	- if sold_out
		.sold-out-tag
	.each-car-offer.r-3
		.col-md-4.border-r-c.p-b3
			= image_tag("cars/#{cargroup.id}small.jpg", :alt => "")
			.fl.p-t5.p-b10
				.size-20.f-b.zoom-b.t-c
					= cargroup.shortname
				.size-14.m-t8.lgrey.t-c
					= cargroup.seating.to_s + " Seater"
					%form{:action => "/#{@city.link_name.downcase}/bookings/do_flash_booking", :id => "CheckoutForm"}
						.hide
							%input{name: "deal", type: "hidden", value: "#{deal}"}
						.m-t10.btn-book.m-b3
							%input{type: "submit", value: "Book", :class => [("button-dis" if sold_out), ("button" unless sold_out)], :disabled => sold_out, :onclick => "pushEvent('Squirrel', 'Book Now', '');"}
		.col-md-8.border-b-c.p-0
			.col-md-6
				.text-up.size-12.p-b2.p-t5.t-c.light-grey
					Pickup Time
			.col-md-6.border-l-c
				.text-up.size-12.p-b2.p-t5.t-c.light-grey
					Dropoff Time
		.col-md-8.border-b-c.p-0
			.col-md-6.p-l0.p-r0
				.text-up.size-14.p-b10.p-t10.t-c
					.fo-helv.f-b
						= starts.strftime("%d %b, %Y")
						%br 
							= starts.strftime('%I:%M %P')
			.col-md-6.border-l-c.p-l0.p-r0
				.text-up.size-14.p-b10.p-t10.t-c
					.fo-helv.f-b
						= ends.strftime("%d %b, %Y")
						%br 
							= ends.strftime('%I:%M %P')
		.col-md-8.border-b-c.p-0.p-l35.location_icon
			.size-13.p-b5.p-t5.light-grey
				%span.text-up
					Pickup location
				.zoom-b.f-b.size-12.m-t5
					= location.name
					%br/
					%a.size-11.help.pointer{:href => "javascript:showMap(#{location.lat}, #{location.lng}, '#{location.name}');"}
						(view map)
		.col-md-8.p-0
			.col-md-6
				%h4.t-c.size-22.m-t12.strike-text Rs. #{fare[:total]}
			.col-md-6
				%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. #{disc}
