- render_flash
.wrapper
	.offer_main_container
		.panel.panel-default.offers-panel.m-t70
			.panel-heading.offers-heading
				.deals-stamp-icon
				.timer-icon.pull-right
					%span.glyphicon.glyphicon-time
				%h4.white.p-l60
					Deals of the Day
					%span.white.next-deal-text
						Next Deal Starts in
					%span.pull-right#clock.countdown-time
			.panel-body.offer-panel-body
				.col-md-12.inline-block.p-b30
					- @deal.each_with_index do |d, i|
						- loc = @location[i]
						- car_name = @cargroup[i].name
						- car_seating = @cargroup[i].seating
						= render :partial => "main/deals/cardeals", :locals => {:deal => CommonHelper.encode('deal', d.id), :loc => loc, :name => car_name, :seating => car_seating, :starts => d.starts, :ends => d.ends, :cargroup => d.cargroup_id}
		.shadow_line
		.offers-terms-condition
			%h4.fo-helv Terms and Conditions:
			%ol.p-t5.p-l20
				%li.size-16
					Bookings under this offer can not be rescheduled or cancelled.
				%li.size-16
					Additional promo-codes and discounts are not applicable.
				%li.size-16
					Credits or discount will not be given for early return.


:javascript
	function checkJquery() {
		if (window.jQuery) {
			setCountdown();
		}
		else {
			window.setTimeout(checkJquery, 1000);
		}
	}

	function checkoutNow() {
		carId = $("#car").val();
		locId = $("#loc").val();
		starts = $("#starts").val();
		ends = $("#ends").val();
		disc = $("#discId").val();
		// alert("//#{HOSTNAME}/#{@city.name.downcase}/bookings/do_flash_booking?car=" + carId + "&loc=" + locId + "&starts=" + starts + "&ends=" + ends + "&flash_discount=" + disc);
		window.location = "//#{HOSTNAME}/#{@city.name.downcase}/bookings/do_flash_booking";
	}

	function setCountdown() {
		var dateObj = new Date();
		var month = dateObj.getMonth() + 1;
		var day = dateObj.getDate();
		if (dateObj.getHours() >= 21)
			day++;
		month = stringifyDate(month);
		day = stringifyDate(day);
		var countdowndate = dateObj.getFullYear() + "/" + month + "/" + day + " 21:00";
		$('#clock').countdown(countdowndate, function(event) {
			var totalHours = event.offset.totalDays * 24 + event.offset.hours;
			$(this).html(event.strftime(totalHours + 'h: %Mm: %Ss'));
		});
	}

	function stringifyDate(date) {
		if(date < 10) 
			date = '0' + date;
		return date;
	}

	checkJquery();
