- render_flash
.wrapper
	.offer_main_container
		.panel.panel-default.offers-panel.m-t70
			.panel-heading.offers-heading
				.deals-stamp-icon
				.timer-icon.pull-right
					%span.glyphicon.glyphicon-time
				%h4.white.p-l60
					Deals of the Day
					%span.pull-right#clock
			.panel-body.offer-panel-body
				.col-md-12.inline-block.p-b30
					.col-md-6.pull-left
						.each-car-offer.r-3
							.col-md-4.border-r-c
								= image_tag("cars/7small.jpg", :alt => "")
								.fl.p-t5.p-b10
									.size-20.f-b.zoom-b
										Scorpio LX
									.size-14.m-t5.lgrey
										7 Seater
										%form{:action => "javascript:checkoutNow();", :id => "CheckoutForm"}
											.hide
												%input{id: "starts", value: '01/12/2014 14:00'}
												%input{id: "ends", value: '01/12/2014 22:00'}
												%input{id: "loc", value: 25}
												%input{id: "car", value: 1}
												%input{id: "discId", value: 1}
											.m-t10
												%input.button{type: "submit", value: "Book"}
										/ .button.m-t10
										/ 	Book
							.col-md-8.border-b-c.p-0
								.col-md-6
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Pickup Time
								.col-md-6.border-l-c
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Dropoff Time
							.col-md-8.border-b-c.p-0
								.col-md-6.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											30 Dec, 2014
											%br 11:30 PM
								.col-md-6.border-l-c.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											04 Jan, 2015 
											%br 11:30 PM
							.col-md-8.border-b-c.p-0.p-l35.location_icon
								.size-13.p-b5.p-t5.light-grey
									%span.text-up
										Pickup location
									.zoom-b.f-b.size-12.m-t5
										Pimple Saudagar (Kokane Chowk)
										%span.size-11.help.pointer{:title => ""}
											(view map)
							.col-md-8.p-0
								.col-md-6
									%h4.t-c.size-22.m-t12.strike-text Rs. 5000
								.col-md-6
									%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. 2000
					.col-md-6.pull-right
						.each-car-offer.r-3
							.col-md-4.border-r-c
								= image_tag("cars/10small.jpg", :alt => "")
								.fl.p-t5.p-b10
									.size-20.f-b.zoom-b
										Scorpio LX
									.size-14.m-t5.lgrey
										7 Seater
										.button.m-t10
											Book
							.col-md-8.border-b-c.p-0
								.col-md-6
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Pickup Time
								.col-md-6.border-l-c
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Dropoff Time
							.col-md-8.border-b-c.p-0
								.col-md-6.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											30 Dec, 2014
											%br 11:30 PM
								.col-md-6.border-l-c.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											04 Jan, 2015 
											%br 11:30 PM
							.col-md-8.border-b-c.p-0.p-l35.location_icon
								.size-13.p-b5.p-t5.light-grey
									%span.text-up
										Pickup location
									.zoom-b.f-b.size-12.m-t5
										Pimple Saudagar (Kokane Chowk)
										%span.size-11.help.pointer{:title => ""}
											(view map)
							.col-md-8.p-0
								.col-md-6
									%h4.t-c.size-22.m-t12.strike-text Rs. 5000
								.col-md-6
									%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. 2000
				.col-md-12.inline-block
					.col-md-6.pull-left
						.each-car-offer.r-3
							.col-md-4.border-r-c
								= image_tag("cars/11small.jpg", :alt => "")
								.fl.p-t5.p-b10
									.size-20.f-b.zoom-b
										Scorpio LX
									.size-14.m-t5.lgrey
										7 Seater
										.button.m-t10
											Book
							.col-md-8.border-b-c.p-0
								.col-md-6
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Pickup Time
								.col-md-6.border-l-c
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Dropoff Time
							.col-md-8.border-b-c.p-0
								.col-md-6.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											30 Dec, 2014
											%br 11:30 PM
								.col-md-6.border-l-c.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											04 Jan, 2015 
											%br 11:30 PM
							.col-md-8.border-b-c.p-0.p-l35.location_icon
								.size-13.p-b5.p-t5.light-grey
									%span.text-up
										Pickup location
									.zoom-b.f-b.size-12.m-t5
										Pimple Saudagar (Kokane Chowk)
										%span.size-11.help.pointer{:title => ""}
											(view map)
							.col-md-8.p-0
								.col-md-6
									%h4.t-c.size-22.m-t12.strike-text Rs. 5000
								.col-md-6
									%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. 2000
					.col-md-6.pull-right
						.each-car-offer.r-3
							.sold-out-tag
							.col-md-4.border-r-c
								= image_tag("cars/8small.jpg", :alt => "")
								.fl.p-t5.p-b10
									.size-20.f-b.zoom-b
										Scorpio LX
									.size-14.m-t5.lgrey
										7 Seater
										.button.disable-btn.m-t10
											Book
							.col-md-8.border-b-c.p-0
								.col-md-6
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Pickup Time
								.col-md-6.border-l-c
									.text-up.size-12.p-b2.p-t5.t-c.light-grey
										Dropoff Time
							.col-md-8.border-b-c.p-0
								.col-md-6.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											30 Dec, 2014
											%br 11:30 PM
								.col-md-6.border-l-c.p-l0.p-r0
									.text-up.size-14.p-b10.p-t10.t-c
										.fo-helv.f-b
											04 Jan, 2015 
											%br 11:30 PM
							.col-md-8.border-b-c.p-0.p-l35.location_icon
								.size-13.p-b5.p-t5.light-grey
									%span.text-up
										Pickup location
									.zoom-b.f-b.size-12.m-t5
										Pimple Saudagar (Kokane Chowk)
										%span.size-11.help.pointer{:title => ""}
											(view map)
							.col-md-8.p-0
								.col-md-6
									%h4.t-c.size-22.m-t12.strike-text Rs. 5000
								.col-md-6
									%h4.t-c.fo-helv.f-b.size-26.m-t10.red Rs. 2000
		.shadow_line
		.offers-terms-condition
			%h4.fo-helv Terms and Conditions:
			%ol.p-t5.p-l20
				%li.size-16
					Bookings under this offer can not be rescheduled or cancelled.
				%li.size-16
					Additional promo-codes and discounts are not applicable.
				%li.size-16
					Credits or discount will not be given for early return.


:javascript
	function checkJquery() {
		if (window.jQuery) {
			setCountdown();
		}
		else {
			window.setTimeout(checkJquery, 1000);
		}
	}

	function checkoutNow() {
		carId = $("#car").val();
		locId = $("#loc").val();
		starts = $("#starts").val();
		ends = $("#ends").val();
		disc = $("#discId").val();
		// alert("//#{HOSTNAME}/#{@city.name.downcase}/bookings/do_flash_booking?car=" + carId + "&loc=" + locId + "&starts=" + starts + "&ends=" + ends + "&flash_discount=" + disc);
		window.location = "//#{HOSTNAME}/#{@city.name.downcase}/bookings/do_flash_booking?&flash_deal=" + disc;
	}

	function setCountdown() {
		var dateObj = new Date();
		var month = dateObj.getMonth() + 1;
		var day = dateObj.getDate();
		if (dateObj.getHours() >= 21)
			day++;
		month = stringifyDate(month);
		day = stringifyDate(day);
		var countdowndate = dateObj.getFullYear() + "/" + month + "/" + day + " 21:00";
		$('#clock').countdown(countdowndate, function(event) {
			var totalHours = event.offset.totalDays * 24 + event.offset.hours;
			$(this).html(event.strftime(totalHours + ' hr %M min %S sec'));
		});
	}

	function stringifyDate(date) {
		if(date < 10) 
			date = '0' + date;
		return date;
	}

	checkJquery();
