%h1 Exotel has experienced an issue while sending the message
%br/
%b Phone Number: 
= @phone
%br/
%b Booking Id:
= @booking
%br/
= "--------------------------------------------------------------------------------------------------------"
%br/
Exception:
%br/
= @error.class.name
%br/
= @error.message + ":"
%br/
- for line in @error.backtrace
	= line.chomp
	%br/
