- @user ||= User.new
#SignupDiv
	.login.t-c
		%table.m-auto
			%tr
				%td
					%a.facebook{:href => "#{user_omniauth_authorize_path(:facebook)}"}
				%td
					- if false
						%a.gplus{:href => "#{user_omniauth_authorize_path(:google_oauth2)}"}
		%br/
		OR
		%br/
		%br/
		- render_flash
		%form{:id => "LoginForm", :onsubmit => "return SubmitForm(this,'#{session_path(:user)}','SignupDiv');", :action => "javascript:void(0)", "data-ajax" => "false"}
			.form-horizontal
				.row.form-group
					.col-sm-2.col-sm-offset-2.t-r
						%label.control-label Email
					.col-sm-6
						%input#LoginEmail.validate-presence.form-control{name: 'user[email]', type: "text", value: @user.email}
						#LoginEmailError.error.t-l
							= errortxt(@user.errors[:email].uniq.join(', '))
				.row.form-group
					.col-sm-2.col-sm-offset-2.t-r
						%label.control-label Password
					.col-sm-6
						%input#LoginPass.validate-presence.form-control{name: "user[password]", type: "password"}
						#LoginPassError.error.t-l
							= errortxt(@user.errors[:password].uniq.join(', '))
				- if devise_mapping.rememberable?
					.row.form-group
						.col-sm-offset-4.col-sm-6.t-l
							.checkbox
								%input{name: "user[remember_me]", type: "checkbox"} Remember me
				.row
					.col-sm-2.col-sm-offset-2
					.col-sm-6.t-l
						#LoginSubmit
							= submit_tag "Submit", :class => 'btn btn-default btn-lg'
						#LoginWait.p-5.hide
							.wait
		.p-t20
			.f-b.bg-e.p-10.r-5.border-c.solid
				.fl
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "getData('/users/signup', 'SignupDiv', 'replace', null);"}
						Sign Up?
				.fr
					%a.btn.btn-primary.btn-sm{:href => "javascript:void(0)", :onclick => "getData('/users/forgot', 'SignupDiv', 'replace', null);"}
						Forgot Your Password?
				.fc
