:ruby
	if !Rails.env.production?
		@booking.user_email = PAYU_EMAIL
		@booking.user_mobile = PAYU_PHONE
	end
%b.size-24 Please wait while we process your request
%br
Please dont refresh this page or use back button
%br/
%br/
%img{:src => "http://#{HOSTNAME}/images/loader.gif", :alt => '', :border => '0'}
%br/
%br/
#Hide{:style => "display:none;"}
	Use the below button if you are not redirected within 10 seconds
	.p-t10
		:ruby
			hash = PAYU_KEY + "|" + 
				@payment.encoded_id + "|" + 
				@payment.amount.to_i.to_s + "|" + 
				@booking.cargroup.display_name + "|" + 
				@booking.user.name.strip + "|" +
				@booking.user.email + "|||||||||||" +
				PAYU_SALT
		%form{:action => "#{PAYU_URL}", :id => 'pgForm', :method => "post"}
			.hide
				= text_field_tag :key, PAYU_KEY
				= text_field_tag :txnid, @payment.encoded_id
				= text_field_tag :amount, @payment.amount.to_i
				= text_field_tag :productinfo, @booking.cargroup.display_name
				= text_field_tag :firstname, @booking.user.name.strip
				= text_field_tag :email, @booking.user.email
				= text_field_tag :phone, @booking.user.phone
				= text_field_tag :surl, ("http://" + HOSTNAME + "/bookings/pgresponse")
				= text_field_tag :curl, ("http://" + HOSTNAME + "/bookings/pgresponse")
				= text_field_tag :furl, ("http://" + HOSTNAME + "/bookings/pgresponse")
				= text_field_tag :hash, Digest::SHA512.hexdigest(hash)
				= text_field_tag :drop_category, 'CASH,EMI,COD'
				= text_field_tag :api_version , '1'
			= submit_tag "Proceed To Payment Gateway", :class => 'btn btn-default'
		:javascript
			window.onload = function() {
				var auto = setTimeout(function(){ submitform(); }, 1000);
				function submitform() {
					clearTimeout(auto);
					auto = setTimeout(function(){ showSubmit(); }, 5000);
					document.forms["pgForm"].submit();
				}
				function showSubmit() {
					$('#Hide').slideDown();
					clearTimeout(auto);
				}
			}
