#payment-tabs.fl.payment-tab
	%a.block.active#credit{:href => "#payment-1", 'data-toggle' => "tab", :onclick => "pushEvent('1-click checkout-A', 'Credit Card', '');makeactive('#credit', '#debit', '#netbanking');"}
		Credit Card
	%a.block#debit{:href => "#payment-2", 'data-toggle' => "tab", :onclick => "pushEvent('1-click checkout-A', 'Debit Card', '');makeactive('#debit', '#credit', '#netbanking');"}
		Debit Card
	%a.block#netbanking{:href => "#payment-3", 'data-toggle' => "tab", :onclick => "pushEvent('1-click checkout-A', 'Netbanking', '');makeactive('#netbanking', '#credit', '#debit');"}
		Netbanking
	%a.block.active.hide{}
#payment-body.fl.tab-content
	#payment-1.tab-pane.fade.in.active
		%form{:id => 'ccForm', class: 'juspay-inline-form-credit'}
			.hidden_field_tag
				= hidden_field_tag :ccmerchant_id, "#{JUSPAY_ID}", class: 'merchant_id'
				= hidden_field_tag :ccorder_id, "#{@payment.encoded_id}", class: 'order_id'
				= hidden_field_tag :ccard_number, '', class: 'card-number', name: ''
				= hidden_field_tag :ccgateway_id, 12, class: 'gateway_id', name: 'gateway_id'
				= hidden_field_tag :redirect, true, class: 'redirect', name: 'redirect'
			.p-t5.p-b10
				= label_tag 'ccnum', 'Credit Card Number', class: 'f-b grey'
				= text_field_tag :ccnum, '', :maxlength => 26, :size =>20, :onblur => 'validateCard(this.value, "#ccnum");', :required => true, :placeholder => '', :class => 'p-5 size-16 credit-card-number', name: '', :onclick => "pushEvent('1-click checkout-A', 'Credit Card', '');this.onclick=null;"
			.p-t5.p-b10
				.fl
					%div
						= label_tag 'ccexpdate', 'Expiry Date', class: 'f-b grey'
					.credit-card-month.inline-block
						= text_field_tag :ccexpmon, '', :size => 2, :placeholder => "MM", required: true, :class => 'p-5 size-16 expmon', name: '', :maxlength => 2, :onKeyup => "validateExpiry(this, 'm');autotab(this, '#ccexpyr');"
					.credit-card-year.inline-block
						= text_field_tag :ccexpyr, '', :size => 4, :placeholder => "YYYY", required: true, :class => 'p-5 size-16 expyr', name: '', :maxlength => 4, :onKeyup => "validateExpiry(this, 'y');autotab(this, '#ccvv');"

				.fl{:style => "margin-left: 40px"}
					%div
						= label_tag 'ccvv', 'CVV', class: 'f-b grey'
					= text_field_tag :ccvv, '', :type => 'password', :autocomplete => 'off', :maxlength => 3, :size =>3, :placeholder => '', required: true, :class => 'p-5 size-16 credit-card-cvv', name: '', :onKeyup => "autotab(this, '#ccard_name');"
					= image_tag 'cvv.png', :id => 'credit-card-cvv-icon'
				.fc
			.p-t5.p-b10
				= label_tag 'ccname', 'Name on Card', class: 'f-b grey'
				= text_field_tag :ccard_name, '', :maxlength => 32, :size =>26, required: true, :placeholder => '', :class => 'p-5 size-16 credit-card-name', :name => ''
			/ .p-t5.p-b10
			%input.button.m-auto#make_payment_credit{style: "width:200px;", type: "submit", value: "Pay Now", class: 'make_payment', onclick:"pushEvent('1-click checkout-A', 'Pay Button', 'Credit Card');"}
			%br/
			%br/
			%p.t-c
				%span{:style => "display:block;margin-top:10px;"}
					or Go back to
					%a{:href => "/bookings/#{@booking.encoded_id}"}
						www.zoomcar.com                                                                  
	#payment-2.tab-pane.fade
		%form{:id => 'dcForm', class: 'juspay-inline-form-debit'}
			.hidden_field_tag
				= hidden_field_tag :dcmerchant_id, "#{JUSPAY_ID}", class: 'merchant_id'
				= hidden_field_tag :dcorder_id, "#{@payment.encoded_id}", class: 'order_id'
				= hidden_field_tag :dcard_number, '', class: 'card-number', :name => ''
				= hidden_field_tag :dcgateway_id, 12, class: 'gateway_id', name: 'gateway_id'
				= hidden_field_tag :redirect, true, class: 'redirect', name: 'redirect'
				= hidden_field_tag :dcmon, '12', :name => ''
				= hidden_field_tag :dcyr, '2049', :name => ''
				= hidden_field_tag :ddcvv, '111', :name => ''
			.p-t5.p-b10
				= label_tag 'dcnum', 'Debit Card Number', class: 'f-b grey'
				= text_field_tag :dcnum, '', :maxlength => 26, :size =>20, :onblur => 'validateCard(this.value, "#dcnum");', required: true, :placeholder => '', :class => 'p-5 size-16 credit-card-number', :name => ''
			.p-t5.p-b10
				.fl
					%div
						= label_tag 'dcexpdate', 'Expiry Date', class: 'f-b grey'
					.credit-card-month.inline-block
						= text_field_tag :dcexpmon, '', :size => 2, :placeholder => "MM", :class => 'p-5 size-16 expmon', name: '', :maxlength => 2, :onKeyup => "validateExpiry(this, 'm');autotab(this, '#dcexpyr');"
					.credit-card-year.inline-block
						= text_field_tag :dcexpyr, '', :size => 4, :placeholder => "YYYY", :class => 'p-5 size-16 expyr', name: '', :maxlength => 4, :onKeyup => "validateExpiry(this, 'y');autotab(this, '#dcvv');"

				.fl{:style => "margin-left: 40px"}
					%div
						= label_tag 'dcvv', 'CVV', class: 'f-b grey'
					= text_field_tag :dcvv, '', :type => 'password', :autocomplete => 'off', :maxlength => 3, :size =>3, :placeholder => '', :class => 'p-5 size-16 credit-card-cvv', :name => '', :onKeyup => "autotab(this, '#dcard_name');"
					= image_tag 'cvv.png', :id => 'credit-card-cvv-icon'
				.fc
			/ .debit-card-info.p-t5.p-b10.f-b
			/ 	Expiry date and CVV fields should be left blank if not present on your debit card
			.p-t5.p-b10
				= label_tag 'dcname', 'Name on Card', class: 'f-b grey'
				= text_field_tag :dcard_name, '', :maxlength => 32, :size =>26, required: true, :placeholder => '', :name => '', :class => 'p-5 size-16 credit-card-name'
			/ .p-t5.p-b10
			%input.button.m-auto#make_payment_debit{style: "width:200px;", type: "submit", value: "Pay Now", class: 'make_payment', onclick:"pushEvent('1-click checkout-A', 'Pay Button', 'Debit Card');"}
			%br/
			%br/
			%p.t-c
				%span{:style => "display:block;margin-top:10px;"}
					or Go back to
					%a{:href => "/bookings/#{@booking.encoded_id}"}
						www.zoomcar.com
	#payment-3.tab-pane.fade
	/ #payment-4.tab-pane.fade
	/ 	Iron Price

.fc

:javascript
	function checkJquery() {
		if(window.jQuery) {
			$('#payment-3').append("#{j render(:partial => 'bookings/pg/payu/netbanking')}");
			pushEvent('1-click checkout-A', 'Payment Options Page Load', '');
			$('#ccnum, #dcnum').payment('formatCardNumber');
			$('#ccnum').bind('focusout', function (event) {
				var ccno = $('#ccnum').val();
				$('#ccard_number').val(ccno.replace(/ /g,''));
			});
			$('#dcnum').bind('focusout', function (event) {
				var dcno = $('#dcnum').val();
				$('#dcard_number').val(dcno.replace(/ /g,''));
			});
			$('.ccvv, .dcvv, .expmon, .expyr').bind('keypress', function (event) {
		    filterChar(event, "^[0-9]+$");
	    });
			$('.ccname, .dcname').bind('keypress', function (event) {
				filterChar(event, "^[a-zA-z0-9. ]+$");
			});
			$("#dcexpmon").change(function () {
				if(this.value == '')
					$("#dcmon").val('12');
				else
				$("#dcmon").val(this.value);
			});
			$("#dcexpyr").change(function () {
				if(this.value == '')
					$("#dcyr").val('2049');
				else
					$("#dcyr").val(this.value);
			});
			$("#dcvv").blur(function () {
				if(this.value == '')
					$("#ddcvv").val('111');
				else
					$("#ddcvv").val(this.value);
			});
			if(window.Juspay) {
				juspaySetup('credit');
			}
			$('#payment-1').click(function() {
				juspaySetup('credit');
			});
			$('#payment-2').click(function() {
				juspaySetup('debit');
			});
		}
		else
			window.setTimeout(checkJquery, 1000);
	}
	function autotab(orig, next) {
		$(orig).keyup(function(e) {
	 		if(e.keyCode != 9 && e.keyCode != 16 && (e.keyCode > 40 || e.keyCode < 37)){
				if (orig.getAttribute&&orig.value.length==orig.getAttribute("maxlength")) {
					$(next).focus();
				}
			}
		});
	}
	function filterChar(event, regex) {
		var regex = new RegExp(regex);
	    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
	    if (!regex.test(key)) {
				event.preventDefault();
				return false;
			}
	}
	function juspaySetup(val) {
		if(val == 'credit') {
			Juspay.Setup({
				payment_form: "#ccForm",
				field_order_id: "#ccorder_id",
		    field_merchant_id: "#ccmerchant_id",
		    field_card_number: "#ccard_number",
		    field_name_on_card: "#ccard_name",
		    field_card_security_code: "#ccvv",
		    field_card_exp_month: "#ccexpmon",
		    field_card_exp_year: "#ccexpyr",
				submit_btn: "#make_payment_credit",
				success_handler: function(status, statusObj) {
					var p = "order_id=" + statusObj.orderId + "&status=" + statusObj.status + "&status_id=" + statusObj.statusId;
					window.location.href = "http://#{HOSTNAME}/bookings/pgresponse" + "?" + p;
				},
				error_handler: function(error_code, error_message, bank_error_code, bank_error_message, gateway_id) {
					var orderId = $(".order_id").val();
					window.location.href = "http://#{HOSTNAME}/bookings/pgresponse" + "?" + $.param({error_code:bank_error_code, error_message:bank_error_message});
				}
			});	
		}
		else if(val == 'debit') {
			Juspay.Setup({
				payment_form: "#dcForm",
				field_order_id: "#dcorder_id",
		    field_merchant_id: "#dcmerchant_id",
		    field_card_number: "#dcard_number",
		    field_name_on_card: "#dcard_name",
		    field_card_security_code: "#ddcvv",
		    field_card_exp_month: "#dcmon",
		    field_card_exp_year: "#dcyr",
				submit_btn: "#make_payment_debit",
				success_handler: function(status, statusObj) {
					var p = "order_id=" + statusObj.orderId + "&status=" + statusObj.status + "&status_id=" + statusObj.statusId;
					window.location.href = "http://#{HOSTNAME}/bookings/pgresponse" + "?" + p;
				},
				error_handler: function(error_code, error_message, bank_error_code, bank_error_message, gateway_id) {
					var orderId = $(".order_id").val();
					window.location.href = "http://#{HOSTNAME}/bookings/pgresponse" + "?" + $.param({error_code:bank_error_code, error_message:bank_error_message});
				}
			});
		}
	}
	// function validateCard(s, id) {
	// 	if ($('input.credit-card-number').val() != '')
	// 	{		
	// 		var valid = $.payment.validateCardNumber($('input.credit-card-number').val());
	// 		if(!valid)
	// 			$('input.credit-card-number').addClass('credit-card-error');
	// 		else
	// 			$('input.credit-card-number').removeClass('credit-card-error');
	// 	}
	// }
	function validateCard(s, id) {
		if ($(id).val() != '')
		{	
			var cid, sub;
			if(id[1]=='c') {
				cid = '#ccvv';
				sub = '#make_payment_credit';
			} 
			else {
				cid = '#dcvv';	
				sub = '#make_payment_debit';
			}
			var valid = $.payment.validateCardNumber($(id).val());
			if(valid == -1) {
				$(id).addClass('credit-card-error');
				$(sub).prop('disabled', true);
			}
			else if(valid == 0) {
				$(sub).prop('disabled', false);
				$(id).addClass('credit-card-error');
				if(id == '#dcnum') {
					$(id).attr('maxlength', 26);
				}
				maestroCards(id);
			}
			else {
				if(valid.type=='maestro') {
					$(id).attr('maxlength', 26);
					$(cid).attr('maxlength', 3);
					maestroCards(id);
				}
				else if(valid.type=='amex') {
					$(id).attr('maxlength', 26);
					$(cid).attr('maxlength', 4);
					maestroCards(id);
				}
				else {
					if(id == '#ccnum')
						$(id).attr('maxlength', 26);
					else
						$(id).attr('maxlength', 26);
					$(cid).attr('maxlength', 3);
					maestroCards(id);
				}
				$(sub).prop('disabled', false);
				$(id).removeClass('credit-card-error');
			}
		}
		else {
			$(id).removeClass('credit-card-error');
			//changes to do if card no. field is empty
		}
	}
	function maestroCards(id) {
		if(id=='#dcnum') {
			var num = $('#dcard_number').val();
			if(/^5(0(?!4834)|6)|^6(2|7)/.test(num)) {
				$(id).attr('maxlength', 26);
				$("#dcexpmon").val('');
				$("#dcexpyr").val('');
				$("#dcmon").val("12");	
				$("#dcyr").val("2049");	
				$("#ddcvv").val("111");	
			//uncomment the following lines when regex for identifying cards without cvv/expiry is foolproof
			// 	$("#dcexpmon").prop("disabled", true);	
			// 	$("#dcexpyr").prop("disabled", true);	
			// 	$("#dcvv").prop("disabled", true);
			// }
			// else {
			// 	$("#dcexpmon").prop("disabled", false);	
			// 	$("#dcexpyr").prop("disabled", false);	
			// 	$("#dcvv").prop("disabled", false);
			}
		}
	}
	function makeactive(act, deact1, deact2) {
		$(act).addClass('active');
		$(deact1).removeClass('active');
		$(deact2).removeClass('active');
	}
	function validateExpiry(id, type) {
		var val = $(id).val();
		if(val.length == 0) {
			return;
		}
		// val = parseInt(val);
		if (type == 'm') {
			var months = [];
			for(i = 0; i < 12; i++) {
				if (i < 9){
					months[i] = '0';
					months[i] += (i + 1).toString();
				}
				else
					months[i] = (i + 1).toString();	
			}
			if(val.length == 1) {
				if(parseInt(val) > 1) {
					$(id).val('');
					// return;
				}
			}
			else if(months.indexOf(val) < 0) {
				$(id).val('');
			}
		}
		else if(type == 'y') {
			var years = [];
			curYear = new Date().getFullYear();
			for(i = curYear; i <= curYear + 21; i++) {
				years[i - curYear] = i;
			}
			if(val.length == 1) {
				if(parseInt(val) != 2)
					$(id).val('');
			}
			else if(val.length == 2) {
				if(parseInt(val) != 20)
					$(id).val('');
			}
			else if(val.length == 3) {
				if(parseInt(val) < 201 || parseInt(val) > parseInt(years[years.length-1].toString().substring(0,3)))
					$(id).val('');
			}
			else {
				if(years.indexOf(parseInt(val)) < 0)
					$(id).val('');
			}
		}
	}
	checkJquery();
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-38347989-1', 'auto');
	ga('send', 'pageview');
	