:ruby
	if @booking.user.check_license
		url = "http://#{HOSTNAME}/bookings/#{@booking.encoded_id}"
	else
		url = "http://#{HOSTNAME}/users/license?step=5"
	end
%div.droid.size-14.grey.t-c
	%br/
	.p-20.zoom.size-14.f-b
		%img{:src => "http://#{HOSTNAME}/images/logo.jpg", :alt => 'Zoomcar', :border => '0'}/
	%br/
	.bs-zoom.r-10{:style => "background:#eeeeee; padding:50px 0; width:600px; margin:auto; line-height:30px;"}
		%b.size-24 Please wait while we process your request
		%br
		Please dont refresh this page or use back button
		%br/
		%br/
		%img{:src => "http://#{HOSTNAME}/images/loader.gif", :alt => '', :border => '0'}
		%br/
		%br/
		Use the below button if you are not redirected within 10 seconds
		.p-t10
			%a.btn.btn-default{href: url} Proceed to Zoomcar
	:javascript
		window.onload = function() {
			var auto = setTimeout(function(){ submitform(); }, 1000);
			function submitform() {
				clearTimeout(auto);
				window.location = "#{url}";
			}
		}
