- render_flash
.vertical-widget
	%form{:id => "SearchForm", :onsubmit => "return SubmitForm(this,'/calculator/reschedule','ModalContent');", :action => "javascript:void(0)", "data-ajax" => "false"}
		.row
			.col-md-5
				.p-t20.t-r
					%b Select a Car *
			.col-md-6
				- cargroups = Cargroup.list
				.dropdown
					#ReCars.dropdown-toggle.box{'data-toggle' => "dropdown"}
						.car
						#ReCarsHtml.txt 
							- if @car.blank?
								= cargroups.first.shortname
							- else
								= @car.shortname
						.arrw
						.fc
					%ul#ReCarsMenu.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Cars'}
						%li{:id => ("Car"), :role => "presentation"}
						- cargroups.each do |c|
							- if (@car.blank? && c == cargroups.first) || (!@car.blank? && c.id == @car.id)
								%li.active{:id => ("ReCara" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','ReCars');"}
										= c.shortname
							- else
								%li{:id => ("ReCars" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','ReCars');"}
										= c.shortname
					.hide
						- if @car.blank?
							%input#ReCarsVal{name: 'car', type: "text", value: cargroups.first.id, readonly: 'true'}
						- else
							%input#ReCarsVal{name: 'car', type: "text", value: @car.id, readonly: 'true'}
		.row
			.col-md-5
				.p-t20.t-r
					%b Original Pickup Time *
			.col-md-6
				#StartDate.box
					.cal
					.txt
						- if @starts.blank?
							%input#StartDateVal.datetime.validate-presence{name: 'starts', type: "text", value: "", readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
						- else
							%input#StartDateVal.datetime.validate-presence{name: 'starts', type: "text", value: @starts.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
					.arrw
					.fc
				#StartDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Original Dropoff Time *
			.col-md-6
				#EndDate.box
					.cal
					.txt
						- if @ends.blank?
							%input#EndDateVal.datetime.validate-presence{name: 'ends', type: "text", value: "", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
						- else
							%input#EndDateVal.datetime.validate-presence{name: 'ends', type: "text", value: @ends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					.arrw
					.fc
				#EndDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b New Dropoff Time *
			.col-md-6
				#EndDate.box
					.cal
					.txt
						- if @newends.blank?
							%input#EndDateVal.datetime.validate-presence{name: 'newends', type: "text", value: "", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
						- else
							%input#EndDateVal.datetime.validate-presence{name: 'newends', type: "text", value: @newends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					.arrw
					.fc
				#EndDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Expected Kms
			.col-md-6
				.box
					.loc
					.txt
						%input#KmsVal{name: 'kms', type: "text", value: @kms, 'dummy-title' => "Enter Kms"}
					.fc
		.t-c
			#SearchSubmit
				= submit_tag "Calculate", :class => 'button size-12 m-auto'
			#SearchWait.p-t15.p-b5{:style => 'display:none;'}
				.wait
- if !@tariff.blank?
	%table.table.table-bordered
		%tr
			%td
				Cancellation Refund **
			%td
				before 24 hours
			%td.t-r
				= @tariff[:cancel]
		%tr
			%td
				Cancellation Refund **
			%td
				within 24 hours
			%td.t-r
				= @tariff[:cancel_late]
		- if !@tariff[:extend].blank? && @tariff[:extend] > 0
			%tr
				%td
					Extension Charges
				%td
					&nbsp;
				%td.t-r
					= @tariff[:extend]
		- if !@tariff[:late].blank? && @tariff[:late] > 0
			%tr
				%td
					Late Charges
				%td
					without inconvenience fee
				%td.t-r
					= @tariff[:late]
		- if !@tariff[:short].blank? && @tariff[:short] > 0
			%tr
				%td
					Shortening Refund
				%td
					before 24 hours
				%td.t-r
					= @tariff[:short]
		- if !@tariff[:short_late].blank? && @tariff[:short_late] > 0
			%tr
				%td
					Shortening Refund
				%td
					within 24 hours
				%td.t-r
					= @tariff[:short_late]
		- if !@tariff[:early].blank? && @tariff[:early] > 0
			%tr
				%td
					Early Return Credits
				%td
					&nbsp;
				%td.t-r
					= @tariff[:early]
		- if !@tariff[:mileage].blank? && @tariff[:mileage] > 0
			%tr
				%td
					Extra Kms Charges
				%td
					= @tariff[:mileage]
					Kms
				%td.t-r
					= @tariff[:mileage_fee]
	.m-t10.t-c.f-b
		** - Cancellation of original booking
.f-i.red.size-12.t-c
	This calculator is only to help you estimate your charges, refunds & credits
	%br/
	when you reschedule your booking as per current tariff and policies.
- if @calcar || @calstart || @calend
	:javascript
		initializeDatePicker();
		_gaq.push(['_trackEvent', 'Rescheduler', 'Submit']);
- else
	:javascript
		initializeDatePicker();
