- render_flash
.vertical-widget
	%form{:id => "ReschForm", :onsubmit => "return SubmitForm(this,'/#{@city.name}/calculator/reschedule','ModalContent');", :action => "javascript:void(0)", "data-ajax" => "false"}
		.row
			.col-md-5
				.p-t20.t-r
					%b Select a Car *
			.col-md-6
				- cargroups = Cargroup.list(@city)
				.dropdown
					#ReCars.dropdown-toggle.box{'data-toggle' => "dropdown"}
						.car
						#ReCarsHtml.txt 
							- if @car.blank?
								= cargroups.first.shortname
							- else
								= @car.shortname
						.arrw
						.fc
					%ul#ReCarsMenu.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Cars'}
						%li{:id => ("Car"), :role => "presentation"}
						- cargroups.each do |c|
							- if (@car.blank? && c == cargroups.first) || (!@car.blank? && c.id == @car.id)
								%li.active{:id => ("ReCara" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','ReCars','recal');"}
										= c.shortname
							- else
								%li{:id => ("ReCars" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.shortname}','ReCars','recal');"}
										= c.shortname
					.hide
						- if @car.blank?
							%input#ReCarsVal{name: 'car', type: "text", value: cargroups.first.id, readonly: 'true'}
						- else
							%input#ReCarsVal{name: 'car', type: "text", value: @car.id, readonly: 'true'}
		.row
			.col-md-5
				.p-t20.t-r
					%b Original Pickup Time *
			.col-md-6
				#OrgStartDate.box.datetimebox
					.cal
					.txt
						- if @starts.blank?
							%input#OrgStartDateVal.datetime.validate-presence.starts-recal{name: 'starts', type: "text", value: "", readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
						- else
							%input#OrgStartDateVal.datetime.validate-presence.starts-recal{name: 'starts', type: "text", value: @starts.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
					.arrw
					.fc
				#OrgStartDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Original Dropoff Time *
			.col-md-6
				#OrgEndDate.box.datetimebox
					.cal
					.txt
						- if @ends.blank?
							%input#OrgEndDateVal.datetime.validate-presence.ends-recal{name: 'ends', type: "text", value: "", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
						- else
							%input#OrgEndDateVal.datetime.validate-presence.ends-recal{name: 'ends', type: "text", value: @ends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					.arrw
					.fc
				#OrgEndDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b New Dropoff Time *
			.col-md-6
				#NewEndDate.box.datetimebox
					.cal
					.txt
						- if @newends.blank?
							%input#NewEndDateVal.datetime.validate-presence.newends-recal{name: 'newends', type: "text", value: "", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
						- else
							%input#NewEndDateVal.datetime.validate-presence.newends-recal{name: 'newends', type: "text", value: @newends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					.arrw
					.fc
				#NewEndDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Expected Kms
			.col-md-6
				.box
					.unpointer
						.loc
						.txt
							%input#KmsVal{name: 'kms', type: "text", value: @kms, 'dummy-title' => "Enter Kms", :onclick => "pushEvent('Rescheduler', 'Mileage');"}
						.fc
		.t-c
			#ReschSubmit
				= submit_tag "Calculate", :class => 'button size-12 m-auto'
			#ReschWait.p-t15.p-b5{:style => 'display:none;'}
				.wait
- if !@tariff.blank?
	%table.table.table-bordered.bg-f6
		%tr
			%td
				Cancellation Refund **
			%td
				before 24 hours
			%td.t-r
				= @tariff[:old][:estimate]
		%tr
			%td
				Cancellation Refund **
			%td
				within 24 hours
			%td.t-r
				:ruby
					tmp = (0.25*@tariff[:old][:estimate]).to_i
					tmp = 2000 if tmp > 2000
				= @tariff[:old][:estimate] - tmp
		- if @ends < @newends
			%tr
				%td
					Extension Charges
				%td
					&nbsp;
				%td.t-r
					= @tariff[:reschedule][:estimate]
			%tr.danger
				%td
					Late Charges
				%td
					without inconvenience fee
				%td.t-r
					= @tariff[:late][:estimate]
		- else
			%tr
				%td
					Shortening Refund
				%td
					before 24 hours
				%td.t-r
					= @tariff[:reschedule][:estimate]
			%tr
				%td
					Shortening Refund
				%td
					within 24 hours
				%td.t-r
					= (@tariff[:reschedule][:estimate]/2)
			%tr
				%td
					Early Return Credits
				%td
					&nbsp;
				%td.t-r
					= (0.25*@tariff[:reschedule][:estimate]).to_i
		- tmp = @kms.to_i - ((@tariff[:new][:kms] > @tariff[:old][:kms]) ? @tariff[:new][:kms] : @tariff[:old][:kms])
		- if tmp > 0
			%tr.danger
				%td
					Extra Kms Charges
				%td
					= tmp
					Kms @
					Rs.#{@car.excess_kms}/Km
				%td.t-r
					= tmp * @car.excess_kms
		- else
			%tr
				%td
					Extra Kms Charges
				%td
					&nbsp;
				%td.t-r
					0
	.m-5.t-c.f-b
		** - Cancellation of original booking
.f-i.red.size-12.t-c
	This calculator is only to help you estimate your charges, refunds & credits
	%br/
	when you reschedule your booking as per current tariff and policies.
- if @calcar || @calstart || @calend
	:javascript
		initializeDatePicker('recal');
		pushEvent('Rescheduler', 'Submit');
- else
	:javascript
		initializeDatePicker('recal');
