- render_flash
.vertical-widget
	%form{:id => "SearchForm", :onsubmit => "return SubmitForm(this,'/calculator/tariff','ModalContent');", :action => "javascript:void(0)", "data-ajax" => "false"}
		.row
			.col-md-5
				.p-t20.t-r
					%b Select a Car *
			.col-md-6
				- cargroups = Cargroup.list
				.dropdown
					#Cars.dropdown-toggle.box{'data-toggle' => "dropdown"}
						.car
						#CarHtml.txt 
							- if @car.blank?
								= cargroups.first.shortname
							- else
								= @car.shortname
						.arrw
						.fc
					%ul#CarsMenu.dropdown-menu{:role => "menu", 'aria-labelledby' => 'Cars'}
						%li{:id => ("Car"), :role => "presentation"}
						- cargroups.each do |c|
							- if (@car.blank? && c == cargroups.first) || (!@car.blank? && c.id == @car.id)
								%li.active{:id => ("Car" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.name}');"}
										= c.shortname
							- else
								%li{:id => ("Car" + c.id.to_s), :role => "presentation"}
									%a{:href => "javascript:void(0)", :onclick => "changeCar(#{c.id},'#{c.name}');"}
										= c.shortname
					.hide
						- if @car.blank?
							%input#CarVal{name: 'car', type: "text", value: cargroups.first.id, readonly: 'true'}
						- else
							%input#CarVal{name: 'car', type: "text", value: @car.id, readonly: 'true'}
		.row
			.col-md-5
				.p-t20.t-r
					%b Pickup Date & Time *
			.col-md-6
				#StartDate.box
					.cal
					.txt
						- if @starts.blank?
							%input#StartDateVal.datetime.validate-presence{name: 'starts', type: "text", value: "", readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
						- else
							%input#StartDateVal.datetime.validate-presence{name: 'starts', type: "text", value: @starts.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Pickup Date & Time*"}
					.arrw
					.fc
				#StartDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Dropoff Date & Time *
			.col-md-6
				#EndDate.box
					.cal
					.txt
						- if @ends.blank?
							%input#EndDateVal.datetime.validate-presence{name: 'ends', type: "text", value: "", readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
						- else
							%input#EndDateVal.datetime.validate-presence{name: 'ends', type: "text", value: @ends.strftime("%d/%m/%Y %H:%M"), readonly: 'true', 'dummy-title' => "Dropoff Date & Time*"}
					.arrw
					.fc
				#EndDateValError.error
		.row
			.col-md-5
				.p-t20.t-r
					%b Expected Kms
			.col-md-6
				.box
					.loc
					.txt
						%input#KmsVal{name: 'kms', type: "text", value: @kms, 'dummy-title' => "Enter Kms"}
					.fc
		.t-c
			#SearchSubmit
				= submit_tag "Calculate", :class => 'button size-12 m-auto'
			#SearchWait.p-t15.p-b5{:style => 'display:none;'}
				.wait
- if !@tariff.blank?
	%table.table.table-bordered
		%tr
			%td
				%b Rental Duration
			%td.t-r
				:ruby
					tmp = ''
					if @tariff[:days] == 1
						tmp << "1 day, "
					elsif @tariff[:days] > 0
						tmp << @tariff[:days].to_s + " days, "
					end
					if @tariff[:hours] == 1
						tmp << "1 hour"
					elsif @tariff[:hours] > 0
						tmp << @tariff[:hours].to_s + " hours"
					end
				= tmp.chomp(', ')
		%tr
			%td
				%b Normal Tariff
			%td.t-r
				Rs.
				= @tariff[:estimate]
		%tr
			%td
				%b Discount
			%td.t-r
				Rs.
				= @tariff[:discount]
		- if @tariff[:kms].to_i >= @kms.to_i
			%tr
				%td
					%b Extra Kms
				%td.t-r
					Rs. 0
		- else
			%tr.danger
				%td
					%b Extra Kms
					&nbsp;&nbsp;&nbsp;
					(#{(@kms.to_i - @tariff[:kms].to_i)} Kms @ Rs.#{@car.excess_kms}/Km)
				%td.t-r
					Rs.
					= ((@kms.to_i - @tariff[:kms].to_i) * @car.excess_kms).to_i
		%tr.success
			%td
				%b Total
			%td.t-r
				%b
					Rs.
					- if @tariff[:kms].to_i < @kms.to_i
						= (@tariff[:estimate] - @tariff[:discount]) + ((@kms.to_i - @tariff[:kms].to_i) * @car.excess_kms).to_i
					- else
						= @tariff[:estimate] - @tariff[:discount]
:javascript
	initializeDatePicker();
