.footer
	.footer-text
		.partition
			%h3 How It Works?
			.p-t5
				%a{:href => "/howitworks"} How ZoomCar Works
			.p-t5
				%a{:href => "/#{@city.name.downcase}/safety"} Zoom in Safety
			.p-t5
				%a{:href => "/outstation"} Going Outstation?
			.p-t5
				%a{:href => "/reva"} Zoom's Electric!
			.p-t5
				%a{:href => "/#{@city.name.downcase}/faq"} FAQs
			.p-t5
				%a{:href => @city.link('attractions')} Locations and Cars
		.partition
			%h3 Policies
			.p-t5
				%a{:href => "/#{@city.name.downcase}/fees"} Fees
			.p-t5
				%a{:href => "/eligibility"} Eligibility
			.p-t5
				%a{:href => "/member"} Membership Agreement
			.p-t5
				%a{:href => "/privacy"} Privacy Policy
		.partition
			%h3 About Us
			.p-t5
				%a{:href => "/about"} Zoom Team
			.p-t5
				%a{:href => "/careers"} Careers @ Zoom
			.p-t5
				%a{:href => "http://www.zoomcar.in/blog/", :target => "_blank"} Zoom Blog
		.partition
			%h3 Let's keep in touch
			.p-t5.lgrey.lh-18
				117, 2nd Cross,
				%br/
				HAL 3rd Stage,
				%br/
				Bangalore - 560075
				%br/
				Phone: #{CommonHelper::CUSTOMER_CARE}
				%br/
				Email: 
				%a{:href => "mailto:info@zoomcar.in"} info@zoomcar.in
				%br/
				%a.link{:href => "/contact", :rel => "nofollow", :target => "_blank", :title => "Directions to Zoom's Office!"} Get Directions
			.social.fl
				%a.link{:href => "https://www.facebook.com/zoomcar.in?ref=hl", :rel => "nofollow", :target => "_blank", :title => "Connect with us on Facebook!"}
				%a.link{:href => "https://plus.google.com/u/0/105997905931151680973/posts", :rel => "nofollow", :target => "_blank", :title => "We're on Google+ too!"}
				%a.link{:href => "https://twitter.com/ZoomCarIndia", :rel => "nofollow", :target => "_blank", :title => "Follow us on Twitter!"}
				%a.link{:href => "http://zoomcar.in/blog/", :rel => "nofollow", :target => "_blank", :title => "Catch up with us on our Blog!"}
			.fc
		.fc

		.m-t10.lgrey.t-c
			&copy; Copyright #{Time.now.year} ZoomCar India Private Ltd. All rights reserved.
		%br/

	:javascript
		adroll_adv_id = "MAUPRE3VENEQ5LSSZFYO5Q";
		adroll_pix_id = "Z4HCBGGE4NAGJBEHWRJCDS";
		(function () {
			var oldonload = window.onload;
			window.onload = function(){
			__adroll_loaded=true;
			var scr = document.createElement("script");
			var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
			scr.setAttribute('async', 'true');
			scr.type = "text/javascript";
			scr.src = host + "/j/roundtrip.js";
			((document.getElementsByTagName('head') || [null])[0] ||
			document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
			if(oldonload){oldonload()}};
		}());
= render :partial => '/layouts/olark'
//= render :partial => '/layouts/resume_widget'
= render :partial => '/layouts/modal'
#fb-root
.hide
	%input#AjaxActive{:name => "ajax", :type => "hidden", :value => "0"}
	#JsResponse
	#DummyWait
