= render :partial => '/layouts/tag_manager' if Rails.env.production?
#DocTop
= render :partial => '/main/mobile_redirect' if !@device.blank?
- if (!search_abtest? && !@header.blank? && @header == 'search') || (search_abtest? && @header != "homepage" && @header != "booking")
	#NavBuffer.nav-buffer-big
- else
	#NavBuffer.nav-buffer
%nav.navbar.navbar-fixed-top{:role => "navigation"}
	.wrapper
		%div.santa-cap
		%a.logo{:href => '/'}
		.nav-box
			.nav-links
				.fl
					.m-t3.m-l5.size-11
						Download app:
					.mobile-app
						%a.android.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-title' => "Get Zoomcar Android App", href: "https://play.google.com/store/apps/details?id=com.zoomcar&referrer=utm_source%3Dhome%2520page%26utm_medium%3Dheader%2520links%26utm_content%3Dandroid%26utm_campaign%3Dinstalls"}
						%a.iphone.help{'data-placement' => "bottom", 'data-toggle' => "tooltip", 'data-title' => "Get Zoomcar iPhone App", href: "https://itunes.apple.com/us/app/zoomcar-self-drive-cars/id889910218?mt=8&utm_source=home%20page&utm_medium=header%20links&utm_content=iOS&utm_campaign=installs"}
						.fc
				.links
					%ul.nav.navbar-nav.fr
						- if !search_abtest? && ((@header.blank? || @header != 'homepage') && @city.active)
							- cls = (!@header.blank? && (@header == 'search' || @header == 'booking')) ? 'active' : ''
							%li
								%a{class: cls, href: "javascript:void(0)", onclick: "showSearch();"} Book Cars
						- if !@city.prelaunch
							%li.dropdown
								- cls = (!@header.blank? && @header == 'tariff') ? 'dropdown-toggle active' : 'dropdown-toggle'
								%a{class: cls, href: "javascript:void(0)", 'data-toggle' => "dropdown"}
									Tariffs
									%b.caret
								%ul.dropdown-menu
									%li
										%a{href: "/#{@city.link_name.downcase}/tariff"}
											Tariffs Details
									%li
										%a{href: "javascript:void(0)", onclick: "showModal('Tariff Calculator', '/calculator/tariff');"}
											Tariff Calculator
									%li
										%a{href: "javascript:void(0)", onclick: "showModal('Trip Modification Estimator', '/calculator/reschedule');"}
											Trip Modification Estimator
						%li.dropdown
							- cls = (!@header.blank? && @header == 'help') ? 'dropdown-toggle active' : 'dropdown-toggle'
							%a{class: cls, href: "javascript:void(0)", 'data-toggle' => "dropdown"}
								How It Works
								%b.caret
							%ul.dropdown-menu
								%li
									%a{href: "/howitworks"}
										How Zoomcar Works
								%li
									%a{href: "/#{@city.link_name.downcase}/safety"}
										Zoom in Safety
								%li
									%a{href: "/outstation"}
										Going Outstation?
								- if @city.active
									- car = Cargroup.find(5)
									- if !car.blank? && !car.active_pricing(@city.id).blank?
										%li
											%a{href: "/reva"}
												Zoomcar's Electric!
								%li
									%a{href: "/#{@city.link_name.downcase}/faq"}
										FAQs
								%li
									%a{href: "/handover"}
										Zoom Responsibly
						%li.dropdown
							- cls = (!@header.blank? && @header == 'policy') ? 'dropdown-toggle active' : 'dropdown-toggle'
							%a{class: cls, href: "javascript:void(0)", 'data-toggle' => "dropdown"}
								Policies
								%b.caret
							%ul.dropdown-menu
								%li
									%a{href: "/#{@city.link_name.downcase}/fees"}
										Fee Policy
								%li
									%a{href: "/eligibility"}
										Eligibility
								%li
									%a{href: "/member"}
										Member Agreement
								%li
									%a{href: "/privacy"}
										Privacy Policy
						- if @city.active
							%li
								- cls = (!@header.blank? && @header == 'offers') ? 'active' : ''
								%a{class: cls, href: "/#{@city.link_name.downcase}/offers"} Offers
					.fc
				.support
					= @city.contact_phone
				.fc
			.nav-top-links
				.city-tabs.fl
					:ruby
						url = request.fullpath
						url = "/#{@city.link_name.downcase}" if true # !url.include?(@city.link_name.downcase)
					- City.active.each do |city|
						:ruby
							cls = ''
							cls = 'active' if @city.id == city.id
						= link_to city.name, "/#{city.link_name.downcase}", class: cls
					.fc
				.info
					#UserBar
						.broadcast.fr
							.dropdown.fr
								%a.dropdown-toggle.p-r10.p-l10{href: "javascript:void(0)", 'data-toggle' => "dropdown"}
									My Account
									%b.caret
								%ul.dropdown-menu.pull-right
									%li
										%a{href: "javascript:void(0)", onclick: "showModal('Sign Up', '/users/signup');"}
											Sign Up
									%li
										%a{href: "javascript:void(0)", onclick: "showModal('Sign In', '/users/signin');"}
											Sign In
									%li
										%a{href: "javascript:void(0)", onclick: "showModal('Sign In', '/users/forgot');"}
											Forgot Password
											
						- if Deal.where('offer_start < ? and offer_end > ? and location_id IN (?)',Time.now,Time.now,@city.locations.map(&:id)).count > 0
							%a.hiring.fr.ts-3.f-b.pointer{href: "/deals", onclick: "pushEvent('Squirrel', 'Deals Tab - Header', '');"}
								Deals
						- else
							%a.hiring.fr.ts-3.f-b.pointer{href: "/careers"}
								We're Hiring
						.fc
				//- if @city.id === 2
				.unlimited
					%a{href: "http://zoomcar.com/blog/zoomcar%EF%BB%BF-is-legally-operating-in-bangalore-not-a-taxi-aggregator-or-provider/", :target => "blank", :style => "text-decoration:none"}
						%span.info-text
							Zoomcar is neither a taxi provider nor banned!
						%span.info-img
							= image_tag("ecosport-car.png")
				.fc
		.fc
	- cls = (!@header.blank? && @header == 'search') ? '' : 'hide'
	- if (search_abtest? && (@header != "homepage" && @header != "booking"))
		#SH
			#SearchFormDiv.search-header
				= render :partial => '/bookings/widget'
	- elsif (!search_abtest? && (!@header.blank? && @header == 'search'))
		#SH
			#SearchFormDiv.search-header.no-cookie
				= render :partial => '/bookings/widget'			
	- else
		#SH{:style => 'display:none;'}
			#SearchFormDiv.search-header.no-cookie
				#SHContent
				#SHWait.t-c
					.wait.m-auto
#Flash.wrapper
