%head
	%script{src: "//cdn.optimizely.com/js/#{HOSTNAME.include?('test') ? 1628990188 : 1586983751}.js"}
	%title= @meta_title
	%meta{content: @meta_description, name: "description"}/
	%meta{content: @meta_keywords, name: "keywords"}/
	- if @canonical && !@canonical.empty?
		%link{href: @canonical, rel: "canonical"}/
	- if Rails.env != 'production' || HOSTNAME.include?('test') || @noindex
		%meta{content: "noindex", name: "robots"}/
	- else
		%meta{content: "index,follow", name: "robot"}/
		%meta{content: "3", name: "revisit-after"}/
	%meta{content: "© Copyright #{Time.now.year} ZoomCar India Private Ltd. All rights reserved.", name: "copyright"}/
	%meta{content: "ZoomCar India Private Ltd.", name: "author"}/
	%meta{content: "www.onlinemetatag.com", name: "generator"}/
	%meta{content: "English", name: "language"}/
	%meta{charset: "utf-8"}/
	= stylesheet_link_tag "application", :media => "screen"
	%link{href: asset_path('favicon.png'), rel: "shortcut icon", type: "image/png"}/
	%link{href: "https://fonts.googleapis.com/css?family=Droid+Sans", rel: "stylesheet"}/
	- if params[:controller] == 'main' && params[:action] == 'index'
		%meta{property: "og:title", content: "Self Drive Cars In #{@city.name}"}
		%meta{property: "og:image", content: 'http://assets.zoomcar.in/images/logo-big.jpg'}
		%meta{property: "og:url", content: @canonical}
		%meta{property: "og:site_name", content: "ZoomCar"}
		%meta{property: "og:description", content: @meta_description}
		%meta{property: "fb:app_id", content: '194504380711275'}
		- if @city.name.downcase == 'bangalore'
			%link{rel: "alternate", href: "http://www.zoomcar.in/pune", hreflang: "en"}/
		- elsif @city.name.downcase == 'pune'
			%link{rel: "alternate", href: "http://www.zoomcar.in/bangalore", hreflang: "en"}/

		- if !@device.blank?
			%meta{content: "width=device-width, user-scalable=no, initial-scale=1", name: "viewport"}/
		:javascript
			_udn = 'zoomcar.in';
		:javascript
			function utmx_section(){}function utmx(){}(function(){var k='68920521-1',d=document,l=d.location,c=d.cookie; if(l.search.indexOf('utm_expid='+k)>0)return; function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write('<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
		:javascript
			utmx('url','A/B');
	- elsif HOSTNAME.include?('zoom') && params[:controller] == 'bookings' && params[:action] == 'checkout'
		:javascript
			_udn = 'zoomcar.in';
		:javascript
			function utmx_section(){}function utmx(){}(function(){var k='68920521-4',d=document,l=d.location,c=d.cookie; if(l.search.indexOf('utm_expid='+k)>0)return; function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write('<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
		:javascript
			utmx('url','A/B');
	- js = javascript_include_tag 'application'
	- js = js.split('src="').last
	- js = js.split('"').first
	:javascript
		function downloadJSAtOnload() {
			var element = document.createElement("script");
			element.src = "#{js}";
			document.body.appendChild(element);
		}
		if (window.addEventListener)
			window.addEventListener("load", downloadJSAtOnload, false);
		else if (window.attachEvent)
			window.attachEvent("onload", downloadJSAtOnload);
		else window.onload = downloadJSAtOnload;
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-38347989-1']);
		_gaq.push(['_setDomainName', 'zoomcar.in']);
		_gaq.push(['_setAllowLinker', true]);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
